.Rprofile
.Rproj.user
README_cache
README.html
inst/doc
tests/testthat/twitter_tokens
.Rapp.history
.Rhistory
.httr-oauth
make.R
.pkg-funs.R
.DS_Store
vignettes/*.R
rtweet.sublime-project
rtweet.sublime-workspace
tarball
revdep/Library/*
revdep/Outputs/*
revdep/PACKAGES*
revdep/*.tar.gz
revdep/timings.tab
docs
*.Rcheck/
*.RDS
*.json
