.Rproj
.Rprofile
.Rproj.user
^data*
tweets.json
rtweet.Rproj
cran-comments.md
README_cache
README.html
inst/doc
tests/testthat/twitter_tokens
.Rapp.history
.Rhistory
.httr-oauth
.build.timestamp
rtweet.html
satweets.html
tokens.html
timeseries.html
pkg.R
vignettes/files/electweets.rds
