.Rprofile
.Rproj.user
README_cache
README.html
inst/doc
tests/testthat/twitter_tokens
.Rapp.history
.Rhistory
.httr-oauth
make.R
.pkg-funs.R
.DS_Store
vignettes/*.R
rtweet.sublime-project
rtweet.sublime-workspace
