language: r
sudo: false
cache: packages
warnings_are_errors: false
addons:
  apt:
    update: true
    sources:
    - sourceline: ppa:opencpu/imagemagick
    packages:
    - libmagick++-dev
r_github_packages:
- r-lib/covr
after_success:
- Rscript -e 'covr::codecov(function_exclusions = c("post.*", "global_token_finder",
  "upload_media_to_twitter", "check_status_code", "home_user_", "parse_streamlimit",
  "match_fun", "stream_tweets2", "new_dir", "stream_dir", "save_as_csv2", "modify_file_name",
  "is_emptylist", "nanull", "id_plus_one", "search_tweets2", "add_var", "vobs2string",
  "obs2string", "try_require", "flatten_rtweet", "get_tokens_global", "rate_limit_used",
  "uq_filename", "paste_before_ext", "no_ext", "only_ext", "has_ext", "home_user",
  "more_followers", "ncs_", "post_api_funs", "stream_api_funs", "has_read_access",
  "get_access_level", "\\.Renviron", "home", "readlines", "define_args", "append_lines",
  "set_renv", "check_renv", "is_incomplete", "is_named", "are_named", "post_list",
  "twitter_init_oauth1\\.0", "init_credentials", "refresh", "sign", "can_refresh",
  "keep_last", "\\|\\|", "compact", "request", "is_tokenfile", "has_oauth_token_creds"))'
env:
  matrix:
    secure: v0Cq4HjVG7We9z5x2rZ8h+2mV9Z9fHHHTmwfROREtCV7NuQ8baJ5n1dm7y+yR7mzLvdNdeoLs+nlr6+Jx04rOmoCXd5sk8S/K7+5g1kVICzm0dVyNZqaDgLhu2lRraU549dRAG7IfAnJCmU8Fi/0XRFILy/h6oBDyP6V+hPEkwB3ViZGhNChkoOjOrhPEgit0YMX9bMXFo8FwPeNVjgunAsg3HXKkWnXy7Tut/j5T8wLoxaN1m/UOHbEvsnJC9ncGhkeASsVRrb3Q7YMQv0qlXk7DwebFsu3W0AnKv7F9QbennrnRoSXXiJa1K9fgt00gl5VOZGotG10pCyCdUC1DFc0C/CLREZxXQYTqgmfjsX27I7LGUxWRKwPlhHs/9AM6x0bkpYDlSqZABw5A/p9QxyCmf5EPQrG+SFiR7RU0Tj66CJ91ZplFVE//c+sDpee6CSs2+CTMwoVountLhLfNLt/rm7uHb1IvtHvZAvBk+hyx2lgdmIVXvCESDowdcMVotLdbPLaN/gi09FYmsT064HTehfTxyMf+yTVr2HbvrD56j7OIDiSxwBV0klGrQnYYHmwXzBamfYiGHBIOUS0nfYySSM5n7ZfSfjf3mBLL3ZgtBo3Dyma2lryUM9doYcltp+mNcwPOPXzduUUdCe3qwaT4vIwdgBcOvSZ+lJ7TW4=
