http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=%23rstats&result_type=mixed&tweet_mode=extended&include_ext_alt_text=true&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      perf: '7626143928'
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 05 Oct 2022 21:59:10 GMT
      x-transaction: 34c1c2a82c63ff52
      x-access-level: read-write-directmessages
      x-transaction-id: 34c1c2a82c63ff52
      x-rate-limit-limit: '180'
      x-rate-limit-reset: '1665008050'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '179'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '449'
      x-connection-hash: 1f58cd65778247d20cdfe9ccf86252e285628d69d0c6151c62f1dc062ac1de20
    body:
      encoding: UTF-8
      file: no
      string: '{"statuses":[{"created_at":"Mon Oct 03 17:39:02 +0000 2022","id":1576990222075985920,"id_str":"1576990222075985920","full_text":"C\u00f3digo
        para baixar os dados da vota\u00e7\u00e3o presidencial, por munic\u00edpios,
        em R (#rstats)\n\n(Produzido junto com o @nicholaspretto)\n\n#Eleicoes2022
        \n\nhttps:\/\/t.co\/hsUkzcvt1z","truncated":false,"display_text_range":[0,165],"entities":{"hashtags":[{"text":"rstats","indices":[75,82]},{"text":"Eleicoes2022","indices":[126,139]}],"symbols":[],"user_mentions":[{"screen_name":"nicholaspretto","name":"Nicholas
        Pretto","id":1387539084646789120,"id_str":"1387539084646789120","indices":[108,123]}],"urls":[{"url":"https:\/\/t.co\/hsUkzcvt1z","expanded_url":"https:\/\/gist.github.com\/gabrielzanlorenssi\/10ea2e68ffa910f626049165983bb292","display_url":"gist.github.com\/gabrielzanlore\u2026","indices":[142,165]}]},"metadata":{"iso_language_code":"pt","result_type":"popular"},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1605288614,"id_str":"1605288614","name":"Gabriel
        Zanlorenssi","screen_name":"gzanlorenssi","location":"Sao Paulo, Brazil","description":"Editor
        de Gr\u00e1ficos no Nexo. Mestre em Ci\u00eancia Pol\u00edtica pela USP.  #datascience,
        #dataviz, #rstats, #eleicoes2022","url":"https:\/\/t.co\/uUPfBVJjG7","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/uUPfBVJjG7","expanded_url":"https:\/\/www.instagram.com\/gzanlorenssi\/","display_url":"instagram.com\/gzanlorenssi\/","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":12364,"friends_count":1163,"listed_count":145,"created_at":"Fri
        Jul 19 06:52:34 +0000 2013","favourites_count":2817,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":4204,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1104101109700980737\/qbPG2xDS_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1104101109700980737\/qbPG2xDS_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1605288614\/1522463170","profile_link_color":"E81C4F","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":50,"favorite_count":263,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"pt"},{"created_at":"Mon
        Oct 03 13:38:00 +0000 2022","id":1576929562734505984,"id_str":"1576929562734505984","full_text":"I
        want to include some datasets in tidyr to demonstrate how to use separate()
        and extract() \u2014 anyone have any good suggestions? #rstats","truncated":false,"display_text_range":[0,135],"entities":{"hashtags":[{"text":"rstats","indices":[128,135]}],"symbols":[],"user_mentions":[],"urls":[]},"metadata":{"result_type":"popular","iso_langu[...]
