http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/search.json?q=%23rstats&count=20&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      perf: '7626143928'
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 24 Sep 2022 13:11:55 GMT
      x-transaction: d7c23bc3de5d0f5b
      x-access-level: read-write-directmessages
      x-transaction-id: d7c23bc3de5d0f5b
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1664026015'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '899'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '432'
      x-connection-hash: d333c76dc689162b078d56ca67cc3f57d39d037207898e970bf9712b696d46e5
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":1011817655957893120,"id_str":"1011817655957893120","name":"Rstats","screen_name":"rstatstweet","location":"","description":"I
        retweet #rstats stuff. Maintained by @justin_ct_ho.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":25177,"friends_count":32,"listed_count":413,"created_at":"Wed
        Jun 27 03:45:02 +0000 2018","favourites_count":93,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":426115,"lang":null,"status":{"created_at":"Sun
        Sep 18 04:54:33 +0000 2022","id":1571362015456956416,"id_str":"1571362015456956416","text":"RT
        @EconTweetingBot: Welcome to the weekly review of the #EconTwitter list by
        @MakronomMagazin, today with tweets by @MonikaSchnitzer, @jak\u2026","truncated":false,"entities":{"hashtags":[{"text":"EconTwitter","indices":[57,69]}],"symbols":[],"user_mentions":[{"screen_name":"EconTweetingBot","name":"EconTweeting
        Bot","id":1153198855548260353,"id_str":"1153198855548260353","indices":[3,19]},{"screen_name":"MakronomMagazin","name":"Makronom","id":2994746043,"id_str":"2994746043","indices":[78,94]},{"screen_name":"MonikaSchnitzer","name":"Monika
        Schnitzer\ud83c\uddfa\ud83c\udde6\ud83c\uddea\ud83c\uddfa","id":998503348369272832,"id_str":"998503348369272832","indices":[117,133]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/127.0.0.1\" rel=\"nofollow\"\u003erstatsretweetingtool\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Sun
        Sep 18 04:43:50 +0000 2022","id":1571359317340602372,"id_str":"1571359317340602372","text":"Welcome
        to the weekly review of the #EconTwitter list by @MakronomMagazin, today with
        tweets by @MonikaSchnitzer,\u2026 https:\/\/t.co\/gDS9o4Fyce","truncated":true,"entities":{"hashtags":[{"text":"EconTwitter","indices":[36,48]}],"symbols":[],"user_mentions":[{"screen_name":"MakronomMagazin","name":"Makronom","id":2994746043,"id_str":"2994746043","indices":[57,73]},{"screen_name":"MonikaSchnitzer","name":"Monika
        Schnitzer\ud83c\uddfa\ud83c\udde6\ud83c\uddea\ud83c\uddfa","id":998503348369272832,"id_str":"998503348369272832","indices":[96,112]}],"urls":[{"url":"https:\/\/t.co\/gDS9o4Fyce","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1571359317340602372","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[115,138]}]},"source":"\u003ca
        href=\"https:\/\/david-hemmerle.de\" rel=\"nofollow\"\u003eEconTweeting Bot\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":3,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"is_quote_status":false,"retweet_count":1,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1011818295916417025\/P1CkbdYi_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1011818295916417025\/P1CkbdYi_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},{"id":1075011651366199297,"id_str":"1075011651366199297","name":"R
        for Data Science","screen_name":"rstats4ds","location":"","description":"Interested
        in using #Rstats for #DataScience. A bot maintained by @AlexBetts. Retweets
        are not endorsements.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":20991,"friends_count":1,"listed_count":414,"created_at":"Tue
        Dec 18 12:55:25 +0000 2018","favourites_count":98991,"utc_offset":n[...]
[...]
