http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/search.json?q=%23rstats&count=20&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      perf: '7626143928'
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 05 Oct 2022 21:59:12 GMT
      x-transaction: 075a9676bdaee4ae
      x-access-level: read-write-directmessages
      x-transaction-id: 075a9676bdaee4ae
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1665007535'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '889'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '388'
      x-connection-hash: 1f58cd65778247d20cdfe9ccf86252e285628d69d0c6151c62f1dc062ac1de20
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":1011817655957893120,"id_str":"1011817655957893120","name":"Rstats","screen_name":"rstatstweet","location":"","description":"I
        retweet #rstats stuff. Maintained by @justin_ct_ho.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":25501,"friends_count":32,"listed_count":416,"created_at":"Wed
        Jun 27 03:45:02 +0000 2018","favourites_count":93,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":429104,"lang":null,"status":{"created_at":"Wed
        Oct 05 21:45:20 +0000 2022","id":1577776982372151296,"id_str":"1577776982372151296","text":"RT
        @tidyversetweets: R Pivot Longer With Multiple Columns #tidyverse #rstats
        https:\/\/t.co\/6lkmrPL61u","truncated":false,"entities":{"hashtags":[{"text":"tidyverse","indices":[58,68]},{"text":"rstats","indices":[69,76]}],"symbols":[],"user_mentions":[{"screen_name":"tidyversetweets","name":"tidyverse
        tweets","id":935569091678691328,"id_str":"935569091678691328","indices":[3,19]}],"urls":[{"url":"https:\/\/t.co\/6lkmrPL61u","expanded_url":"https:\/\/stackoverflow.com\/questions\/73966605\/r-pivot-longer-with-multiple-columns","display_url":"stackoverflow.com\/questions\/7396\u2026","indices":[77,100]}]},"source":"\u003ca
        href=\"http:\/\/127.0.0.1\" rel=\"nofollow\"\u003erstatsretweetingtool\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Oct 05 21:44:55 +0000 2022","id":1577776877363683329,"id_str":"1577776877363683329","text":"R
        Pivot Longer With Multiple Columns #tidyverse #rstats https:\/\/t.co\/6lkmrPL61u","truncated":false,"entities":{"hashtags":[{"text":"tidyverse","indices":[37,47]},{"text":"rstats","indices":[48,55]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/6lkmrPL61u","expanded_url":"https:\/\/stackoverflow.com\/questions\/73966605\/r-pivot-longer-with-multiple-columns","display_url":"stackoverflow.com\/questions\/7396\u2026","indices":[56,79]}]},"source":"\u003ca
        href=\"https:\/\/twitter.com\/tidyversetweets\" rel=\"nofollow\"\u003etidyverse_tweets\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":1,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"is_quote_status":false,"retweet_count":1,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1011818295916417025\/P1CkbdYi_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1011818295916417025\/P1CkbdYi_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},{"id":1075011651366199297,"id_str":"1075011651366199297","name":"R
        for Data Science","screen_name":"rstats4ds","location":"","description":"Interested
        in using #Rstats for #DataScience. A bot maintained by @AlexBetts. Retweets
        are not endorsements.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":21426,"friends_count":1,"listed_count":417,"created_at":"Tue
        Dec 18 12:55:25 +0000 2018","favourites_count":99744,"utc_offset":n[...]
[...]
