http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=rstats%20OR%20tidyverse&result_type=mixed&tweet_mode=extended&include_ext_alt_text=true&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Sat, 24 Sep 2022 13:55:07 GMT
      perf: '7626143928'
      status: 200 OK
      x-access-level: read-write-directmessages
      x-connection-hash: f8afb49743eadec30b42228b5b6beea4505624fcc89a81882c5cd3eab952557c
      x-rate-limit-limit: '180'
      x-rate-limit-remaining: '175'
      x-rate-limit-reset: '1664027916'
      x-response-time: '542'
      x-transaction: e67d74b6b1014aea
      x-transaction-id: e67d74b6b1014aea
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '{"statuses":[{"created_at":"Sun Sep 18 03:50:19 +0000 2022","id":1571345848021426180,"id_str":"1571345848021426180","full_text":"100+
        Free #DataScience eBooks (downloadable PDF) for Beginners and for Experts
        \u2014 via @TheInsaneApp \n\u2014\u2014\u2014\u2014\u2014\n#100DaysOfCode
        #BigData #AI #MachineLearning #DeepLearning #Statistics #DataScientists #Python
        #DataMining #DataLiteracy #Rstats #DataViz #NLProc\nhttps:\/\/t.co\/TtASTAWNOe","truncated":false,"display_text_range":[0,275],"entities":{"hashtags":[{"text":"DataScience","indices":[10,22]},{"text":"100DaysOfCode","indices":[106,120]},{"text":"BigData","indices":[121,129]},{"text":"AI","indices":[130,133]},{"text":"MachineLearning","indices":[134,150]},{"text":"DeepLearning","indices":[151,164]},{"text":"Statistics","indices":[165,176]},{"text":"DataScientists","indices":[177,192]},{"text":"Python","indices":[193,200]},{"text":"DataMining","indices":[201,212]},{"text":"DataLiteracy","indices":[213,226]},{"text":"Rstats","indices":[227,234]},{"text":"DataViz","indices":[235,243]},{"text":"NLProc","indices":[244,251]}],"symbols":[],"user_mentions":[{"screen_name":"TheInsaneApp","name":"Insane","id":1064407014472744960,"id_str":"1064407014472744960","indices":[85,98]}],"urls":[{"url":"https:\/\/t.co\/TtASTAWNOe","expanded_url":"https:\/\/www.theinsaneapp.com\/2020\/12\/free-data-science-books-pdf.html","display_url":"theinsaneapp.com\/2020\/12\/free-d\u2026","indices":[252,275]}]},"metadata":{"result_type":"popular","iso_language_code":"en"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":534563976,"id_str":"534563976","name":"Kirk
        Borne","screen_name":"KirkDBorne","location":"Maryland, USA","description":"@dataprime_ai  Data
        Scientist. Freelancer. Global Speaker. Founder\/owner of @LeadershipData.
        Top #BigData #DataScience #AI #IoT #ML Influencer. PhD Astrophysics","url":"https:\/\/t.co\/g46xALu4Eu","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/g46xALu4Eu","expanded_url":"http:\/\/www.linkedin.com\/in\/kirkdborne","display_url":"linkedin.com\/in\/kirkdborne","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":360693,"friends_count":8591,"listed_count":9353,"created_at":"Fri
        Mar 23 16:35:17 +0000 2012","favourites_count":221362,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":160796,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1112733580948635648\/s-8d1avb_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1112733580948635648\/s-8d1avb_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/534563976\/1651617018","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":364,"favorite_count":938,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sat
        Sep 17 22:00:13 +0000 2022","id":1571257745143373824,"id_str":"1571257745143373824","full_text":"Practical
        #Statistics for #DataScientists \u2014 50+ Essential Concepts Using R and
        #Python: https:\/\/t.co\/4TRaP0qRqa by @petercbruce et al.\n\u2014\u2014\u2014\u2014\u2014\u2014\n#BigData
        #DataScience #AI #MachineLearning #Mathematics #StatisticalLiteracy #Coding
        #Rstats #100DaysOfCode https:\/\/t.co\/RcFXmvorAI","truncated":false,"display_text_range":[0,249],"entities":{"hashtags":[{"text":"Statistics","indices":[10,21]},{"text":"DataScientists","indices":[26,41]},{"text":"Python","indices":[79,86]},{"text":"BigData","indices":[142,150]},{"text":"DataScience","indices":[151,163]},{"text":"AI","indices":[164,167]},{"text":"MachineLearning","indices":[168,184]},{"text":"Mathematics","indices":[185,197]},{"text":"StatisticalLiteracy","indices":[198,218]},{"text":"Coding","indices":[219,226]},{"text":"Rstats","indices":[227,234]},{"text":"100DaysOfCode","indices":[235,249]}],"symbols":[],"user_mentions":[{"screen_name":"petercbruce","name":"Peter
        Bruce","id":281846666,"id_str":"281846666","indices":[115,127]}],"urls":[{"url":"https:\/\/t.co\/4TRaP0qRqa","expanded_url":"http:\/\/amzn.to\/2BqU4wE","display_url":"amzn.to\/2BqU4wE","indices":[88,111]}],"media":[{"id":1571257734431113216,"id_str":"1571257734431113216","indices":[250,273],"media_url":"http:\/\/pbs.twimg.com\/media\/Fc46ladaAAAx0_z.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Fc46ladaAAAx0_z.jpg","url":"https:\/\/t.co\/RcFXmvorAI","display_url":"pic.twitter.com\/RcFXmvorAI","expanded_url":"https:\/\/twitter.com\/KirkDBorne\/status\/1571257745143373824\/photo\/1","type":"photo","sizes":{"medium":{"w":929,"h":1200,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":527,"h":680,"resize":"fit"},"large":{"w":1074,"h":1387,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1571257734431113216,"id_str":"1571257734431113216","indices":[250,273],"media_url":"http:\/\/pbs.twimg.com\/media\/Fc46ladaAAAx0_z.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Fc46ladaAAAx0_z.jpg","url":"https:\/\/t.co\/RcFXmvorAI","display_url":"pic.twitter.com\/RcFXmvorAI","expanded_url":"https:\/\/twitter.com\/KirkDBorne\/status\/1571257745143373824\/photo\/1","type":"photo","sizes":{"medium":{"w":929,"h":1200,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=data%20science&result_type=mixed&tweet_mode=extended&include_ext_alt_text=true&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      perf: '7626143928'
      status: 200 OK
      content-type: application/json;char[...]
