http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/friendships/lookup.json?screen_name=hadley
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 09 Mar 2022 00:05:51 GMT
      x-transaction: 13644c9b54d22fc8
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '15'
      x-rate-limit-reset: '1646785250'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '13'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '117'
      x-connection-hash: aa46e8cfc40bc5e118339b12a8935c140825c6923c956b9d38ba9d63e30b584a
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"Hadley","screen_name":"Hadley","id":8956182,"id_str":"8956182","connections":["none"]}]'
  recorded_at: 2022-03-09 00:05:52 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
