http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/friendships/lookup.json?screen_name=kearneymw
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 09 Mar 2022 00:05:50 GMT
      x-transaction: 8faf6745b4b3844b
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '15'
      x-rate-limit-reset: '1646785250'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '14'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '176'
      x-connection-hash: aa46e8cfc40bc5e118339b12a8935c140825c6923c956b9d38ba9d63e30b584a
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"Mike Kearney\ud83d\udcca\ud83c\uddfa\ud83c\udde6","screen_name":"kearneymw","id":2973406683,"id_str":"2973406683","connections":["none"]}]'
  recorded_at: 2022-03-09 00:05:50 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
