http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/friendships/show.json?source_screen_name=kearneymw&target_screen_name=realdonaldtrump
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 09 Mar 2022 00:05:50 GMT
      x-transaction: 58396f25525bda1c
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '180'
      x-rate-limit-reset: '1646785250'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '179'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '130'
      x-connection-hash: aa46e8cfc40bc5e118339b12a8935c140825c6923c956b9d38ba9d63e30b584a
    body:
      encoding: UTF-8
      file: no
      string: '{"relationship":{"source":{"id":2973406683,"id_str":"2973406683","screen_name":"kearneymw","following":false,"followed_by":false,"live_following":false,"following_received":null,"following_requested":null,"notifications_enabled":null,"can_dm":false,"blocking":null,"blocked_by":null,"muting":null,"want_retweets":null,"all_replies":null,"marked_spam":null},"target":{"id":25073877,"id_str":"25073877","screen_name":"realDonaldTrump","following":false,"followed_by":false,"following_received":null,"following_requested":null}}}'
  recorded_at: 2022-03-09 00:05:51 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.twitter.com/1.1/friendships/show.json?source_screen_name=kearneymw&target_screen_name=cstonehoops
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 09 Mar 2022 00:05[...]
