http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/ids.json?stringify_ids=TRUE&screen_name=SmallBuStudio&count=5000&cursor=-1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 09 Mar 2022 00:05:52 GMT
      x-transaction: ed60021b6b4e5fc3
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '15'
      x-rate-limit-reset: '1646785250'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '12'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '118'
      x-connection-hash: aa46e8cfc40bc5e118339b12a8935c140825c6923c956b9d38ba9d63e30b584a
    body:
      encoding: UTF-8
      file: no
      string: '{"ids":["3241182330","81115665","937499232","47799910","52425160","754386322685562881","304268473","323417384","1428752856","34342176","11348282"],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0","total_count":null}'
  recorded_at: 2022-03-09 00:05:52 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
