http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1462911176719757313%2C1462903173656428545%2C1462902964150935558%2C1462899130808762371%2C1462911347801444365%2C1462903930090840071%2C1462900536848490499&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 09 Mar 2022 00:05:52 GMT
      x-transaction: f5dac0add8c7d19c
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1646785252'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '899'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '149'
      x-connection-hash: aa46e8cfc40bc5e118339b12a8935c140825c6923c956b9d38ba9d63e30b584a
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Mon Nov 22 22:30:19 +0000 2021","id":1462911347801444365,"id_str":"1462911347801444365","full_text":"It\u2019s
        been a long time waiting but I was told progress is supposed to be slow. Happy
        today to feel comfortable advising an ECR to highlight open science skills
        and experiences as strengths in their phD applications. https:\/\/t.co\/lL1JVi839O","truncated":false,"display_text_range":[0,214],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/lL1JVi839O","expanded_url":"https:\/\/twitter.com\/ukrepro\/status\/1462859873885081609","display_url":"twitter.com\/ukrepro\/status\u2026","indices":[215,238]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":882945953820532736,"id_str":"882945953820532736","name":"Th\u00f9y
        Vy T Nguy\u1ec5n, PhD \u2615\ufe0f\ud83d\udcbb\ud83d\udcc4","screen_name":"thuyvytnguyen","location":"Durham,
        UK","description":"Asst Prof @DurhamPsych. RT papers for self-archive, RT
        jobs to share & like happy things. Run @Durham_Riots.\nHappy to send preprints
        of my works. Email is best.","url":"https:\/\/t.co\/dPfOU2vcVp","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/dPfOU2vcVp","expanded_url":"https:\/\/www.solitude-lab.com\/","display_url":"solitude-lab.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":1923,"friends_count":1562,"listed_count":19,"created_at":"Thu
        Jul 06 12:54:54 +0000 2017","favourites_count":13325,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":9309,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1458354075154755584\/GA0Z5nHK_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1458354075154755584\/GA0Z5nHK_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/882945953820532736\/1544667009","profile_image_extensions_alt_text":null,"profile_banner_extensions_alt_text":null,"profile_link_color":"ABB8C2","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":true,"quoted_status_id":1462859873885081609,"quoted_status_id_str":"1462859873885081609","quoted_status_permalink":{"url":"https:\/\/t.co\/lL1JVi839O","expanded":"https:\/\/twitter.com\/ukrepro\/status\/1462859873885081609","display":"twitter.com\/ukrepro\/status\u2026"},"quoted_status":{"created_at":"Mon
        Nov 22 19:05:47 +0000 2021","id":1462859873885081609,"id_str":"1462859873885081609","full_text":"The
        @CommonsSTC has published the evidence submitted to the ongoing inquiry into
        reproducibility and research integrity (UKRN submissions RRE0041, RRE0042,
        RRE0043, RRE0044): https:\/\/t.co\/mIgc08JMkG","truncated":false,"display_text_range":[0,198],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"CommonsSTC","name":"Science
  [...]
