http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/favorites/list.json?tweet_mode=extended&screen_name=hadleywickham&count=20
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 09 Mar 2022 00:05:42 GMT
      x-transaction: 435b562022e27b70
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '75'
      x-rate-limit-reset: '1646785242'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '74'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '193'
      x-connection-hash: aa46e8cfc40bc5e118339b12a8935c140825c6923c956b9d38ba9d63e30b584a
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Tue Mar 08 19:39:02 +0000 2022","id":1501281355057008645,"id_str":"1501281355057008645","full_text":"Another
        huge source of inspiration was Tissue Miner by Rapha\u00ebl Etournay. TM didn''t
        do everything I wanted, but Rapha\u00ebl''s personal help and use of ggplot
        and the tidyverse got me to read \"R for Data Science\" by @StatGarrett and
        @hadleywickham and my brain was forever changed","truncated":false,"display_text_range":[0,274],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"StatGarrett","name":"Garrett
        Grolemund","id":2499047479,"id_str":"2499047479","indices":[210,222]},{"screen_name":"hadleywickham","name":"Hadley
        Wickham","id":69133574,"id_str":"69133574","indices":[227,241]}],"urls":[]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":1501281351974092800,"in_reply_to_status_id_str":"1501281351974092800","in_reply_to_user_id":1104124324439621636,"in_reply_to_user_id_str":"1104124324439621636","in_reply_to_screen_name":"NeuTubeChannel","user":{"id":1104124324439621636,"id_str":"1104124324439621636","name":"Austin
        T. Baldwin","screen_name":"NeuTubeChannel","location":"Austin, TX","description":"Postdoc
        in the Wallingford Lab at UT Austin studying neural tube closure","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":249,"friends_count":308,"listed_count":0,"created_at":"Fri
        Mar 08 20:58:47 +0000 2019","favourites_count":1371,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":841,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1104423243929268224\/CL6gDgzb_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1104423243929268224\/CL6gDgzb_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1104124324439621636\/1552149951","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":2,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Tue
        Mar 08 09:33:26 +0000 2022","id":1501128952991170562,"id_str":"1501128952991170562","full_text":"@hadleywickham
        @RobinRohwer Something analogous happens all the time in psychology research:
        the variables of interest are individual trials as part of a longer test (picture
        a test where 100 participants are each asked to recognize 50 famous faces)
        and the units of interest are very much individual humans.","truncated":fal[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/favorites/list.json?tweet_mode=extended&screen_name=jennybryan&count=20
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 09 Mar 2022 00:05:43 GMT
  [...]
