http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/retweeters/ids.json?id=1363488961537130497&count=100&stringify_ids=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 10:49:17 GMT
      x-transaction: 2e03b56bf26844c7
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '75'
      x-rate-limit-reset: '1648292657'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '74'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '168'
      x-connection-hash: f78ec2a2178dc79626e48785e0852503b1d3ca9f90337a5063bc44ca8d60d211
    body:
      encoding: UTF-8
      file: no
      string: '{"ids":["884605291","983470194982088704"],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0","total_count":null}'
  recorded_at: 2022-03-26 10:49:17 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
