http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/favorites/list.json?tweet_mode=extended&screen_name=kearneymw&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 09 Mar 2022 00:05:44 GMT
      x-transaction: a2f4242bbeeada24
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '75'
      x-rate-limit-reset: '1646785242'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '72'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '326'
      x-connection-hash: aa46e8cfc40bc5e118339b12a8935c140825c6923c956b9d38ba9d63e30b584a
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Tue Mar 08 23:18:43 +0000 2022","id":1501336640182263808,"id_str":"1501336640182263808","full_text":"if
        you or your org used the phrase \"identify as women\" today you have to give
        everyone a bonus and an extra week paid vacation sorry i don''t make the rules","truncated":false,"display_text_range":[0,155],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":4187716153,"id_str":"4187716153","name":"Sharla
        Gelfand","screen_name":"sharlagelfand","location":"Toronto, Ontario","description":"#RStats.
        non-binary lesbian, they\/them \ud83c\udf08 \ud83d\udda5\ufe0f","url":"https:\/\/t.co\/kbSirpKsB8","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/kbSirpKsB8","expanded_url":"http:\/\/sharla.online","display_url":"sharla.online","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":8927,"friends_count":249,"listed_count":210,"created_at":"Tue
        Nov 10 06:55:41 +0000 2015","favourites_count":25314,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":11117,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1473362600880660482\/mGALQL2f_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1473362600880660482\/mGALQL2f_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/4187716153\/1581745628","profile_link_color":"F5ABB5","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":7,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Tue
        Mar 08 23:05:44 +0000 2022","id":1501333375692550145,"id_str":"1501333375692550145","full_text":"@PhDemetri
        mostly just afraid to set it up so far","truncated":false,"display_text_range":[11,49],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"PhDemetri","name":"Demetri","id":46919059,"id_str":"46919059","indices":[0,10]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofoll[...]
