http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?tweet_mode=extended&check=TRUE&screen_name=cnn&count=10
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 11:08:41 GMT
      x-transaction: 7d86aa08ae2a2906
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1648293804'
      content-disposition: attachment; filename=json.json
      x-app-rate-limit-limit: '100000'
      x-app-rate-limit-reset: '1648378092'
      x-rate-limit-remaining: '895'
      x-twitter-response-tags: BouncerCompliant
      x-app-rate-limit-remaining: '99986'
      x-response-time: '175'
      x-connection-hash: e6e021bb20774957f8ee78e56109b4359e20d2402124da08c449287e88488b83
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Sat Mar 26 11:00:16 +0000 2022","id":1507673787130601473,"id_str":"1507673787130601473","full_text":"Tyler
        Jacob, a native of Minnesota, was freed from detention in Russia on Friday,
        the office of Sen. Amy Klobuchar said https:\/\/t.co\/Jr2Nc38f4V","truncated":false,"display_text_range":[0,143],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/Jr2Nc38f4V","expanded_url":"https:\/\/cnn.it\/3LdKlrS","display_url":"cnn.it\/3LdKlrS","indices":[120,143]}]},"source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":759251,"id_str":"759251","name":"CNN","screen_name":"CNN","location":"","description":"It\u2019s
        our job to #GoThere & tell the most difficult stories. For breaking news,
        follow @CNNBRK and download our app https:\/\/t.co\/ceNBoNi8y6\n\n@CNNPlus
        - Streaming 3\/29","url":"https:\/\/t.co\/imGp4Ieixi","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/imGp4Ieixi","expanded_url":"http:\/\/www.cnn.com","display_url":"cnn.com","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/ceNBoNi8y6","expanded_url":"http:\/\/cnn.com\/apps","display_url":"cnn.com\/apps","indices":[115,138]}]}},"protected":false,"followers_count":57286772,"friends_count":1105,"listed_count":153936,"created_at":"Fri
        Feb 09 00:35:02 +0000 2007","favourites_count":1401,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":369219,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"323232","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1278259160644227073\/MfCyF7CG_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1278259160644227073\/MfCyF7CG_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/759251\/1646233344","profile_link_color":"004287","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"EEEEEE","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":18,"favorite_count":87,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sat
        Mar 26 10:45:48 +0000 2022","id":1507670145841389574,"id_str":"1507670145841389574","full_text":"Jurors
        in a federal civil trial awarded $10.37 million to the family of Gilbert Flores,
        who was shot and killed outside his home by Bexar County, Texas, sheriff''s
        deputies in 2015 https:\/\/t.co\/nvCWv1iBFK","truncated":false,"display_text_range":[0,203],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"htt[...]
