http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?include_entities=FALSE&skip_status=TRUE&include_email=FALSE
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 11:08:38 GMT
      status: 200 OK
      x-access-level: read-write-directmessages
      x-connection-hash: e6e021bb20774957f8ee78e56109b4359e20d2402124da08c449287e88488b83
      x-rate-limit-limit: '75'
      x-rate-limit-remaining: '74'
      x-rate-limit-reset: '1648293818'
      x-response-time: '117'
      x-transaction: d288849e7ec9add9
      x-twitter-response-tags:
      - BouncerExempt
      - BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '{"id":1365671359137873920,"id_str":"1365671359137873920","name":"rtweet-test","screen_name":"rtweet_test","location":"","description":"Testing
        bot for rtweet","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":1,"listed_count":0,"created_at":"Sat
        Feb 27 14:33:58 +0000 2021","favourites_count":10,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":923,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[],"suspended":false,"needs_phone_verification":false}'
  recorded_at: 2022-03-26 11:08:41 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json?tweet_mode=extended&screen_name=rtweet_test&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 11:08:39 GMT
      x-transaction: b0104b89ecd17337
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '15'
      x-rate-limit-reset: '1648293818'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '14'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '627'
      x-connection-hash: e6e021bb20774957f8ee78e56109b4359e20d2402124da08c449287e88488b83
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Sat Mar 26 10:38:10 +0000 2022","id":1507668222740422656,"id_str":"1507668222740422656","full_text":"test
        favourite 2022-03-26 11:38:09","truncated":false,"display_text_range":[0,34],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/help.twitter.com\/en\/using-twitter\/how-to-tweet#source-labels\"
        rel=\"nofollow\"\u003ertweet_test_ci\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1365671359137873920,"id_str":"1365671359137873920","name":"rtweet-test","screen_name":"rtweet_test","location":"","description":"Testing
        bot for rtweet","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":1,"listed_count":0,"created_at":"Sat
        Feb 27 14:33:58 +0000 2021","favourites_count":10,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":923,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"fr"},{"created_at":"Fri
        Mar 25 23:43:17 +0000 2022","id":1507503415802437637,"id_str":"1507503415802437637","full_text":"RT
        @Rami_Krispin: My team is hiring! We are looking for a DS focusing on extracting
        insights from data and communicating it to stakeholders\u2026","truncated":false,"display_text_range":[0,140],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"Rami_Krispin","name":"Rami
        Krispin","id":942607834063294465,"id_str":"942607834063294465","indices":[3,16]}],"urls":[]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":69133574,"id_str":"69133574","name":"Hadley
        Wickham","screen_name":"hadleywickham","location":"Houston, TX","description":"R,
        data, visualisation, \ud83d\udc15, \ud83c\udf78, \ud83c\udf08. He\/him","url":"https:\/\/t.co\/DWqWlxbOKK","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/DWqWlxbOKK","expanded_url":"http:\/\/hadley.nz","display_url":"hadley.nz","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":131572,"friends_count":283,"listed_count":3170,"created_at":"Wed
        Aug 26 23:34:46 +0000 2009","favourites_count":25697,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":41604,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"022330","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/905186381995147264\/7zKAG5sY_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/905186381995147264\/7zKAG5sY_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/69133574\/1404410942","profile_link_color":"0084B4","profile_sidebar_border_color":"A8C7F7","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri
        Mar 25 20:53:32 +0000 2022","id":1507460698372141056,"id_str":"1507460698372141056","full_text":"My
        team is hiring! We are looking for a DS focusing on extracting insights from
        data and communicating it to stakeholders with R and Shiny \ud83c\udf08. \n\nLocation:
        Cupertino, CA\nMore details: https:\/\/t.co\/YCf3mWQ7nh\n\n#rstats https:\/\/t.co\/ik4UOnonFX","truncated":false,"display_text_range":[0,214],"entities":{"hashtags":[{"text":"rstats","indices":[207,214]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/YCf3mWQ7nh","expanded_url":"https:\/\/jobs.apple.com\/en-us\/details\/200311967\/data-scientist-apple-finance-r-shiny","display_url":"jobs.apple.com\/en-us\/details\/\u2026","indices":[182,205]}],"media":[{"id":1507460588502364160,"id_str":"1507460588502364160","indices":[215,238],"media_url":"http:\/\/pbs.twimg.com\/media\/FOuTaxqVsAAXZua.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FOuTaxqVsAAXZua.jpg","url":"https:\/\/t.co\/ik4UOnonFX","display_url":"pic.twitter.com\/ik4UOnonFX","expanded_url":"https:\/\/twitter.com\/Rami_Krispin\/status\/1507460698372141056\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1978,"h":1276,"resize":"fit"},"medium":{"w":1200,"h":774,"resize":"fit"},"small":{"w":680,"h":439,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1507460588502364160,"id_str":"1507460588502364160","indices":[215,238],"media_url":"http:\/\/pbs.twimg.com\/media\/FOuTaxqVsAAXZua.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FOuTaxqVsAAXZua.jpg","url":"https:\/\/t.co\/ik4UOnonFX","display_url":"pic.twitter.com\/ik4UOnonFX","expanded_url":"https:\/\/twitter.com\/Rami_Krispin\/status\/1507460698372141056\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1978,"h":1276,"resize":"fi[...]
