http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/favorites/list.json?tweet_mode=extended&screen_name=bhs928&count=200
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 401
      category: Client error
      reason: Unauthorized
      message: 'Client error: (401) Unauthorized'
    headers:
      status: 401 Unauthorized
      content-type: application/json;charset=utf-8
      last-modified: Wed, 09 Mar 2022 00:05:46 GMT
      x-transaction: 979c94f1e337b719
      x-access-level: read-write-directmessages
      www-authenticate: OAuth realm="https://api.twitter.com"
      x-rate-limit-limit: '75'
      x-rate-limit-reset: '1646785242'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '69'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '118'
      x-connection-hash: aa46e8cfc40bc5e118339b12a8935c140825c6923c956b9d38ba9d63e30b584a
    body:
      encoding: UTF-8
      file: no
      string: '{"request":"\/1.1\/favorites\/list.json","error":"Not authorized."}'
  recorded_at: 2022-03-09 00:05:49 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.twitter.com/1.1/favorites/list.json?tweet_mode=extended&screen_name=Lluis_Revilla&count=200
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 09 Mar 2022 00:05:46 GMT
      x-transaction: fb99696c5694999f
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '75'
      x-rate-limit-reset: '1646785242'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '68'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '407'
      x-connection-hash: aa46e8cfc40bc5e118339b12a8935c140825c6923c956b9d38ba9d63e30b584a
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Tue Mar 08 21:18:26 +0000 2022","id":1501306369319735300,"id_str":"1501306369319735300","full_text":"Fresh
        out of the #RStats oven:\n\nIt is now (= R-devel to become R 4.2.0) possible
        to use underscore (_) as a placeholder on the right-hand side (RHS) of a forward
        pipe, e.g.\n      \nmtcars |&gt; subset(cyl == 4) |&gt; lm(mpg ~ disp, data
        = _)\n\nhttps:\/\/t.co\/Yc0xNDJgwS https:\/\/t.co\/1nuuBWFZdf https:\/\/t.co\/gjhqVyXlwr","truncated":false,"display_text_range":[0,289],"entities":{"hashtags":[{"text":"RStats","indices":[17,24]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/Yc0xNDJgwS","expanded_url":"https:\/\/github.com\/wch\/r-source\/commit\/587244ff8725aa31ebc23ede6ea3be5575417209","display_url":"github.com\/wch\/r-source\/c\u2026","indices":[242,265]},{"url":"https:\/\/t.co\/1nuuBWFZdf","expanded_url":"https:\/\/twitter.com\/henrikbengtsson\/status\/1334703130378788866","display_url":"twitter.com\/henrikbengtsso\u2026","indices":[266,289]}],"media":[{"id":1501305914833342469,"id_str":"1501305914833342469","indices":[290,313],"media_url":"http:\/\/pbs.twimg.com\/media\/FNW1xnjVkAUzx-8.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FNW1xnjVkAUzx-8.jpg","url":"https:\/\/t.co\/gjhqVyXlwr","display_url":"pic.twitter.com\/gjhqVyXlwr","expanded_url":"https:\/\/twitter.com\/henrikbengtsson\/status\/1501306369319735300\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":610,"resize":"fit"},"large":{"w":1742,"h":886,"resize":"fit"},"small":{"w":680,"h":346,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1501305914833342469,"id_str":"1501305914833342469","indices":[290,313],"media_url":"http:\/\/pbs.twimg.com\/media\/FNW1xnjVkAUzx-8.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FNW1xnjVkAUzx-8.jpg","url":"https:\/\/t.co\/gjhqVyXlwr","display_url":"pic.twitter.com\/gjhqVyXlwr","expanded_url":"https:\/\/twitter.com\/henrikbengtsson\/status\/1501306369319735300\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":610,"resize":"fit"},"large":{"w":1742,"h":886,"resize":"fit"},"small":{"w":680,"h":346,"resize":"fit"}}}]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":46782674,"id_str":"46782674","name":"Henrik
        Bengtsson","screen_name":"henrikbengtsson","location":"preferably in the sky","description":"CS\/Math
        Stat\/UCSF Assoc Prof\nR Foundation\/R Consortium\nscience\/reproducibility\/devel\nhttps:\/\/t.co\/OJSp7ALtI7,
        https:\/\/t.co\/MwlH5FIosM\nhang gliding\/paragliding\nborn at 330ppm\nhe\/him","url":"https:\/\/t.co\/R7DKzOz0b7","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/R7DKzOz0b7","expanded_url":"https:\/\/github.com\/HenrikBengtsson","display_url":"github.com\/HenrikBengtsson","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/OJSp7ALtI7","expanded_url":"http:\/\/jottr.org","display_url":"jottr.org","indices":[85,108]},{"url":"https:\/\/t.co\/MwlH5FIosM","expanded_url":"http:\/\/futureverse.org","display_url":"futureverse.org","indices":[110,133]}]}},"protected":false,"followers_count":2974,"friends_count":332,"listed_count":111,"created_at":"Sat
        Jun 13 00:11:14 +0000 2009","favourites_count":6698,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":5019,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1026829637752684544\/h5cMsRV-_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1026829637752684544\/h5cMsRV-_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/46782674\/1494780155","profile_link_color":"1B95E0","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":true,"quoted_status_id":1334703130378788866,"quoted_status_id_str":"1334703130378788866","quoted_status_permalink":{"url":"https:\/\/t.co\/1nuuBWFZdf","expanded":"https:\/\/twitter.com\/henrikbengtsson\/status\/1334703130378788866","display":"twitter.com\/henrikbengtsso\u2026"},"quoted_status":{"created_at":"Fri
        Dec 04 03:36:38 +0000 2020","id":1334703130378788866,"id_str":"1334703130378788866","full_text":"#RStats
        community, really? It''s been like 5 hours now and no one noticed the big
        news? \ud83d\ude1b\n\nhttps:\/\/t.co\/c4OXTO0WCw\n\nThank you @LukeTierney4
        @_lionelhenry @jimhester_ (who else?)\n\n#pipypipy https:\/\/t.co\/5P9QPe1H8a","truncated":false,"display_text_range":[0,187],"entities":{"hashtags":[{"text":"RStats","indices":[0,7]},{"text":"p[...]
