http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/trends/closest.json?lat=40.7&long=-74
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 11:08:43 GMT
      status: 200 OK
      x-access-level: read-write-directmessages
      x-connection-hash: e6e021bb20774957f8ee78e56109b4359e20d2402124da08c449287e88488b83
      x-rate-limit-limit: '75'
      x-rate-limit-remaining: '74'
      x-rate-limit-reset: '1648293823'
      x-response-time: '116'
      x-transaction: b3d74d4f4c27c0cc
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"New York","placeType":{"code":7,"name":"Town"},"url":"http:\/\/where.yahooapis.com\/v1\/place\/2459115","parentid":23424977,"country":"United
        States","woeid":2459115,"countryCode":"US"}]'
  recorded_at: 2022-03-26 11:08:44 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.twitter.com/1.1/trends/place.json?id=2459115
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 11:08:44 GMT
      status: 200 OK
      x-access-level: read-write-directmessages
      x-connection-hash: e6e021bb20774957f8ee78e56109b4359e20d2402124da08c449287e88488b83
      x-rate-limit-limit: '75'
      x-rate-limit-remaining: '73'
      x-rate-limit-reset: '1648293823'
      x-response-time: '151'
      x-transaction: 5e1a3c7342c9f6cd
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '[{"trends":[{"name":"Taylor Hawkins","url":"http:\/\/twitter.com\/search?q=%22Taylor+Hawkins%22","promoted_content":null,"query":"%22Taylor+Hawkins%22","tweet_volume":316847},{"name":"Foo
        Fighters","url":"http:\/\/twitter.com\/search?q=%22Foo+Fighters%22","promoted_content":null,"query":"%22Foo+Fighters%22","tweet_volume":215334},{"name":"#Wordle280","url":"http:\/\/twitter.com\/search?q=%23Wordle280","promoted_content":null,"query":"%23Wordle280","tweet_volume":null},{"name":"#SaturdayMorning","url":"http:\/\/twitter.com\/search?q=%23SaturdayMorning","promoted_content":null,"query":"%23SaturdayMorning","tweet_volume":13025},{"name":"Dave
        Groh[...]
