http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/trends/place.json?id=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 11:08:43 GMT
      x-transaction: 9f595603e76f1fab
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '75'
      x-rate-limit-reset: '1648293823'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '74'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '145'
      x-connection-hash: e6e021bb20774957f8ee78e56109b4359e20d2402124da08c449287e88488b83
    body:
      encoding: UTF-8
      file: no
      string: '[{"trends":[{"name":"#\u30AA\u30FC\u30EB\u30B9\u30BF\u30FC\u611F\u8B1D\u796D22\u6625","url":"http:\/\/twitter.com\/search?q=%23%E3%82%AA%E3%83%BC%E3%83%AB%E3%82%B9%E3%82%BF%E3%83%BC%E6%84%9F%E8%AC%9D%E7%A5%AD22%E6%98%A5","promoted_content":null,"query":"%23%E3%82%AA%E3%83%BC%E3%83%AB%E3%82%B9%E3%82%BF%E3%83%BC%E6%84%9F%E8%AC%9D%E7%A5%AD22%E6%98%A5","tweet_volume":55415},{"name":"Taylor
        Hawkins","url":"http:\/\/twitter.com\/search?q=%22Taylor+Hawkins%22","promoted_content":null,"query":"%22Taylor+Hawkins%22","tweet_volume":316847},{"name":"\u3042\u3068\u65E5\u66DC","url":"http:\/\/twitter.com\/search?q=%E3%81%82%E3%81%A8%E6%97%A5%E6%9B%9C","promoted_content":null,"query":"%E3%81%82%E3%81%A8%E6%97%A5%E6%9B%9C","tweet_volume":null},{"name":"#\u306A\u306B\u308F\u7537\u5B50ANNP","url":"http:\/\/twitter.com\/search?q=%23%E3%81%AA%E3%81%AB%E3%82%8F%E7%9[...]
