http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?tweet_mode=extended&check=TRUE&screen_name=mvabercron&count=20
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 11:08:42 GMT
      x-transaction: 28a479fb43a199d9
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1648293804'
      content-disposition: attachment; filename=json.json
      x-app-rate-limit-limit: '100000'
      x-app-rate-limit-reset: '1648378092'
      x-rate-limit-remaining: '894'
      x-twitter-response-tags: BouncerCompliant
      x-app-rate-limit-remaining: '99985'
      x-response-time: '296'
      x-connection-hash: e6e021bb20774957f8ee78e56109b4359e20d2402124da08c449287e88488b83
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Fri Mar 18 16:24:49 +0000 2022","id":1504856360793559046,"id_str":"1504856360793559046","full_text":"@JuliaKloeckner
        Ich werde meinem Auto jetzt einen weiblichen Namen geben, damit es noch weniger
        verbraucht!","truncated":false,"display_text_range":[16,107],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"JuliaKloeckner","name":"Julia
        Kl\u00f6ckner","id":29858729,"id_str":"29858729","indices":[0,15]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/#!\/download\/ipad\" rel=\"nofollow\"\u003eTwitter
        for iPad\u003c\/a\u003e","in_reply_to_status_id":1504753620436373552,"in_reply_to_status_id_str":"1504753620436373552","in_reply_to_user_id":29858729,"in_reply_to_user_id_str":"29858729","in_reply_to_screen_name":"JuliaKloeckner","user":{"id":862747349277450240,"id_str":"862747349277450240","name":"Michael
        von Abercron","screen_name":"mvabercron","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1134,"friends_count":677,"listed_count":65,"created_at":"Thu
        May 11 19:12:51 +0000 2017","favourites_count":725,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":436,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1477611605802246148\/i4s5qA9B_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1477611605802246148\/i4s5qA9B_normal.jpg","profile_link_color":"485152","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":21,"favorited":false,"retweeted":false,"lang":"de"},{"created_at":"Fri
        Mar 18 16:23:43 +0000 2022","id":1504856083797618689,"id_str":"1504856083797618689","full_text":"RT
        @JuliaKloeckner: Ich bin auf f\u00fcr feministisches Tanken","truncated":false,"display_text_range":[0,57],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"JuliaKloeckner","name":"Julia
        Kl\u00f6ckner","id":29858729,"id_str":"29858729","indices":[3,18]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.[...]
