http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?tweet_mode=extended&check=TRUE&screen_name=cnnbrk&count=200
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 11:08:24 GMT
      x-transaction: db17c01548dbdd39
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1648293804'
      content-disposition: attachment; filename=json.json
      x-app-rate-limit-limit: '100000'
      x-app-rate-limit-reset: '1648378092'
      x-rate-limit-remaining: '899'
      x-twitter-response-tags: BouncerCompliant
      x-app-rate-limit-remaining: '99990'
      x-response-time: '301'
      x-connection-hash: e6e021bb20774957f8ee78e56109b4359e20d2402124da08c449287e88488b83
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Sat Mar 26 04:18:56 +0000 2022","id":1507572788869181445,"id_str":"1507572788869181445","full_text":"Foo
        Fighters drummer Taylor Hawkins has died at the age of 50, band members announced\nhttps:\/\/t.co\/mynFCEcI78","truncated":false,"display_text_range":[0,109],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/mynFCEcI78","expanded_url":"https:\/\/cnn.it\/3tIgyBT","display_url":"cnn.it\/3tIgyBT","indices":[86,109]}]},"source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":428333,"id_str":"428333","name":"CNN
        Breaking News","screen_name":"cnnbrk","location":"Everywhere","description":"Breaking
        news from CNN Digital. Now 62M strong. Check @cnn for all things CNN, breaking
        and more. Download the app for custom alerts: https:\/\/t.co\/8bf79vV51N","url":"https:\/\/t.co\/ojQgQKzKzX","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/ojQgQKzKzX","expanded_url":"http:\/\/cnn.com\/","display_url":"cnn.com","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/8bf79vV51N","expanded_url":"http:\/\/cnn.com\/apps","display_url":"cnn.com\/apps","indices":[134,157]}]}},"protected":false,"followers_count":62696762,"friends_count":121,"listed_count":193179,"created_at":"Tue
        Jan 02 01:48:14 +0000 2007","favourites_count":27,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":77579,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"323232","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/925092227667304448\/fAY1HUu3_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/925092227667304448\/fAY1HUu3_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/428333\/1531855520","profile_link_color":"004287","profile_sidebar_border_color":"DADADA","profile_sidebar_fill_color":"EEEEEE","profile_text_color":"000000","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1746,"favorite_count":5690,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Fri
        Mar 25 22:11:27 +0000 2022","id":1507480308186337281,"id_str":"1507480308186337281","full_text":"Former
        President Trump and his two adult sons have agreed to sit for depositions
        as part of a class-action lawsuit alleging they collaborated with a fraudulent
        marketing company https:\/\/t.co\/DuJ9dhL40w","truncated":false,"display_text_range":[0,201],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?tweet_mode=extended&check=TRUE&screen_name=cnnbrk&count=200&max_id=1494771749094842370
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last[...]
