http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/retweets/1363488961537130497.json?id=1363488961537130497&count=100&tweet_mode=extended
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 10:49:17 GMT
      x-transaction: b3fc00f2b8153378
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '75'
      x-rate-limit-reset: '1648292656'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '73'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '143'
      x-connection-hash: f78ec2a2178dc79626e48785e0852503b1d3ca9f90337a5063bc44ca8d60d211
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Sun Feb 21 14:32:19 +0000 2021","id":1363496779761803265,"id_str":"1363496779761803265","full_text":"RT
        @thomas_mock: This past week''s #TidyTuesday counts, posted through #rstats
        courtesy of #rtweet!\n\n#TidyTuesday details: https:\/\/t.co\/sElb\u2026","truncated":false,"display_text_range":[0,140],"entities":{"hashtags":[{"text":"TidyTuesday","indices":[34,46]},{"text":"rstats","indices":[70,77]},{"text":"rtweet","indices":[90,97]},{"text":"TidyTuesday","indices":[100,112]}],"symbols":[],"user_mentions":[{"screen_name":"thomas_mock","name":"Tom
        Mock","id":1241814552,"id_str":"1241814552","indices":[3,15]}],"urls":[]},"source":"\u003ca
        href=\"https:\/\/help.twitter.com\/en\/using-twitter\/how-to-tweet#source-labels\"
        rel=\"nofollow\"\u003eData Science Promoter Bot\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":884605291,"id_str":"884605291","name":"Tidy
        Tuesday Bot","screen_name":"TidyTuesday_Bot","location":"USA","description":"Twitter
        Bot for Promoting #TidyTuesday Visualizations. \nFollow to get started. Made
        by @harshbg","url":"https:\/\/t.co\/J6V9WBxfwH","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/J6V9WBxfwH","expanded_url":"http:\/\/harshgupta.com","display_url":"harshgupta.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":2193,"friends_count":3,"listed_count":16,"created_at":"Tue
        Oct 16 14:50:19 +0000 2012","favourites_count":282,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":18670,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1363329268076306438\/oibNFuNH_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1363329268076306438\/oibNFuNH_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Sun
        Feb 21 14:01:15 +0000 2021","id":1363488961537130497,"id_str":"1363488961537130497","full_text":"This
        past week''s #TidyTuesday counts, posted through #rstats courtesy of #rtweet!\n\n#TidyTuesday
        details: https:\/\/t.co\/sElb4fcv3u\n#TidyTuesday Tweets: https:\/\/t.co\/h8n7HZw5iM
        https:\/\/t.co\/48qHGrAZep","truncated":false,"display_text_range":[0,173],"entities":{"hashtags":[{"text":"TidyTuesday","indices":[17,29]},{"text":"rstats","indices":[53,60]},{"text":"rtweet","indices":[73,80]},{"text":"TidyTuesday","indices":[83,95]},{"text":"TidyTuesday","indices":[129,141]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/sElb4fcv3u","expanded_url":"http:\/\/bit.ly\/tidyreadme","display_url":"bit.ly\/tidyreadme","indices":[105,128]},{"url":"https:\/\/t.co\/h8n7HZw5iM","expanded_url":"https:\/\/github.com\/rfordatascience\/tidytuesday\/blob\/master\/tidytuesday_tweets\/data.csv","display_url":"github.com\/rfordatascienc\u2026","indices":[150,173]}],"media":[{"id":1363488959666487296,"id_str":"1363488959666487296","indices":[174,197],"media_url":"http:\/\/pbs.twimg.com\/media\/EuwV_BgWgAAXSF9.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/EuwV_BgWgAAXSF9.png","url":"https:\/\/t.co\/48qHGrAZep","display_url":"pic.twitter.com\/48qHGrAZep","expanded_url":"https:\/\/twitter.com\/thomas_mock\/status\/1363488961537130497\/photo\/1","type":"photo","sizes":{"medium":{"w":1200,"h":1050,"resize":"fit"},"large":{"w":2048,"h":1792,"resize":"fit"},"small":{"w":680,"h":595,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"}}}]},"extended_entities":{"media":[{"id":1363488959666487296,"id_str":"1363488959666487296","indices":[174,197],"media_url":"http:\/\/pbs.twimg.com\/media\/EuwV_BgWgAAXSF9.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/EuwV_BgWgAAXSF9.png","url":"https:\/\/t.co\/48qHGrAZep","display_url":"pic.twitter.com\/48qHGrAZep","expanded_url":"https:\/\/twitter.com\/thomas_mock\/status\/1363488961537130497\/photo\/1","type":"photo","sizes":{"medium":{"w":1200,"h":1050,"resize":"fit"},"large":{"w":2048,"h":1792,"resize":"f[...]
