http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?tweet_mode=extended&check=TRUE&screen_name=rOpenSci&count=20
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 27 Aug 2022 11:20:41 GMT
      x-transaction: a18afeaa2ba29b5d
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1661600141'
      content-disposition: attachment; filename=json.json
      x-app-rate-limit-limit: '100000'
      x-app-rate-limit-reset: '1661685641'
      x-rate-limit-remaining: '899'
      x-twitter-response-tags: BouncerCompliant
      x-app-rate-limit-remaining: '99999'
      x-response-time: '306'
      x-connection-hash: 06fe86523a14809c3c0fb1f1072b26e3f3ffb5ea5d70ec82f1822483a050e606
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Fri Aug 26 15:00:04 +0000 2022","id":1563179477051457538,"id_str":"1563179477051457538","full_text":"Want
        to keep up with @rOpenSci''s work &amp; learn what others are doing with our  #rstats
        tools? \n\nRead and subscribe to our newsletter! \ud83d\udcf0\ud83d\udcec\n\nDigest
        of \ud83d\udce6 news, use cases, blog posts, events, curated by @ma_salmon
        \ud83d\udc4c every month\n\nhttps:\/\/t.co\/lJjQzEwN8k","truncated":false,"display_text_range":[0,250],"entities":{"hashtags":[{"text":"rstats","indices":[82,89]}],"symbols":[],"user_mentions":[{"screen_name":"rOpenSci","name":"rOpenSci","id":342250615,"id_str":"342250615","indices":[21,30]},{"screen_name":"ma_salmon","name":"Ma\u00eblle
        Salmon","id":2865404679,"id_str":"2865404679","indices":[201,211]}],"urls":[{"url":"https:\/\/t.co\/lJjQzEwN8k","expanded_url":"https:\/\/ropensci.org\/news","display_url":"ropensci.org\/news","indices":[227,250]}]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":342250615,"id_str":"342250615","name":"rOpenSci","screen_name":"rOpenSci","location":"Berkeley,
        CA","description":"rOpenSci develops #RStats based tools to facilitate open
        science and access to open data.","url":"https:\/\/t.co\/Ijujhl8x1E","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/Ijujhl8x1E","expanded_url":"https:\/\/ropensci.org","display_url":"ropensci.org","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":35212,"friends_count":591,"listed_count":1080,"created_at":"Mon
        Jul 25 18:24:54 +0000 2011","favourites_count":3422,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":5790,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/878348237496762368\/yUU7Pefs_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/878348237496762368\/yUU7Pefs_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/342250615\/1398878552","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":3,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Fri
        Aug 26 05:08:24 +0000 2022","id":1563030578475044864,"id_str":"1563030578475044864","full_text":"August
        News \ud83d\udcee #RStats\n\nhttps:\/\/t.co\/U5kb58zsmT\n\n\ud83d\udcc6 Co-working
        sessions resume! \n\u2705 New \u007bpkgcheck\u007d check\n\ud83d\udc93 New
        package: spiro\n\ud83d\udce6 29 updates\n\ud83d\uddd2\ufe0f 4 blog posts on
        qualtRics, excluder, yfR, rtweet\n\ud83d\udc4b 4 calls for maintainers: tabulizer,
        RSelenium, nbaR, elastic\n\ud83e\uddf0 Package dev tips","truncated":false,"display_text_range":[0,269],"entities":{"hashtags":[{"text":"RStats","indices":[14,21]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/U5kb58zsmT","expanded_url":"https:\/\/ropensci.org\/blog\/2022\/08\/26\/ropensci-news-digest-august-2022[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?tweet_mode=extended&check=TRUE&screen_name=Bioconductor&count=20
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 27 Aug[...]
