http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1333789435482161153&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 09 Mar 2022 00:05:53 GMT
      x-transaction: e933238cad3bb65e
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1646785252'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '897'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '195'
      x-connection-hash: aa46e8cfc40bc5e118339b12a8935c140825c6923c956b9d38ba9d63e30b584a
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Tue Dec 01 15:05:56 +0000 2020","id":1333789435482161153,"id_str":"1333789435482161153","full_text":"Almost
        half of world''s population is active on social media and common platforms
        are now approaching 15 years old. However, in the environmental sciences,
        only a handful of papers have tackled these data sources\/minefields e.g.
        https:\/\/t.co\/B3Rvbn5Kpe\n(2\/x)","truncated":false,"display_text_range":[0,257],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/B3Rvbn5Kpe","expanded_url":"https:\/\/osf.io\/preprints\/socarxiv\/avy4d\/","display_url":"osf.io\/preprints\/soca\u2026","indices":[228,251]}]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":1333789433288540160,"in_reply_to_status_id_str":"1333789433288540160","in_reply_to_user_id":920713349243047936,"in_reply_to_user_id_str":"920713349243047936","in_reply_to_screen_name":"T_F_Johnson","user":{"id":920713349243047936,"id_str":"920713349243047936","name":"Thomas
        Frederick Johnson","screen_name":"T_F_Johnson","location":"University of Sheffield","description":"Scientist
        working at the intersect of nature and society. He\/him","url":"https:\/\/t.co\/w7IiTVOXj7","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/w7IiTVOXj7","expanded_url":"https:\/\/thomasfjohnson.webnode.co.uk\/","display_url":"thomasfjohnson.webnode.co.uk","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":668,"friends_count":1658,"listed_count":4,"created_at":"Wed
        Oct 18 18:09:03 +0000 2017","favourites_count":4351,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1743,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1030983975517470720\/8I3eZ9v7_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1030983975517470720\/8I3eZ9v7_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/920713349243047936\/1534641057","profile_image_extensions_alt_text":null,"profile_banner_extensions_alt_text":null,"profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}]'
  recorded_at: 2022-03-09 00:05:53 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
