http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=twitter%20filter%3Averified&result_type=mixed&tweet_mode=extended&include_ext_alt_text=true&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 09 Mar 2022 00:05:54 GMT
      x-transaction: 1b3ded9fe77b713c
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '180'
      x-rate-limit-reset: '1646785239'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '178'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '531'
      x-connection-hash: aa46e8cfc40bc5e118339b12a8935c140825c6923c956b9d38ba9d63e30b584a
    body:
      encoding: UTF-8
      file: no
      string: '{"statuses":[{"created_at":"Tue Mar 08 17:57:58 +0000 2022","id":1501255921107972096,"id_str":"1501255921107972096","full_text":"\uadf8\ub294
        ''\uc6b1''\ud588\ub2e4.. \ud83e\udd72\ud83e\udd72\ud83e\udd72\n#AGUSTD \n#YoongiDay
        \n#\uc724\uae30\uc758\uc724\uae30\ub098\ub294\uc0dd\uc77c\ucd95\ud558\ud574
        \n#\uc288\uac00\ud615\uc0dd\uc77c\u110e\u110f \n #\ud649\ud544\ub984 https:\/\/t.co\/2PuYfqb40T","truncated":false,"display_text_range":[0,66],"entities":{"hashtags":[{"text":"AGUSTD","indices":[15,22]},{"text":"YoongiDay","indices":[24,34]},{"text":"\uc724\uae30\uc758\uc724\uae30\ub098\ub294\uc0dd\uc77c\ucd95\ud558\ud574","indices":[36,49]},{"text":"\uc288\uac00\ud615\uc0dd\uc77c\u110e\u110f","indices":[51,59]},{"text":"\ud649\ud544\ub984","indices":[62,66]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1501255845413212164,"id_str":"1501255845413212164","indices":[67,90],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1501255845413212164\/pu\/img\/Ahc_i03hDhTFzKkr.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1501255845413212164\/pu\/img\/Ahc_i03hDhTFzKkr.jpg","url":"https:\/\/t.co\/2PuYfqb40T","display_url":"pic.twitter.com\/2PuYfqb40T","expanded_url":"https:\/\/twitter.com\/BTS_twt\/status\/1501255921107972096\/video\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":383,"h":680,"resize":"fit"},"large":{"w":720,"h":1280,"resize":"fit"},"medium":{"w":675,"h":1200,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1501255845413212164,"id_str":"1501255845413212164","indices":[67,90],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1501255845413212164\/pu\/img\/Ahc_i03hDhTFzKkr.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1501255845413212164\/pu\/img\/Ahc_i03hDhTFzKkr.jpg","url":"https:\/\/t.co\/2PuYfqb40T","display_url":"pic.twitter.com\/2PuYfqb40T","expanded_url":"https:\/\/twitter.com\/BTS_twt\/status\/1501255921107972096\/video\/1","type":"video","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":383,"h":680,"resize":"fit"},"large":{"w":720,"h":1280,"resize":"fit"},"medium":{"w":675,"h":1200,"resize":"fit"}},"video_info":{"aspect_ratio":[9,16],"duration_millis":23517,"variants":[{"bitrate":2176000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/1501255845413212164\/pu\/vid\/720x1280\/VrmoirwJZBXnP2RJ.mp4?tag=12"},{"content_type":"application\/x-mpegURL","url":"https:\/\/video.twimg.com\/ext_tw_video\/1501255845413212164\/pu\/pl\/ebTITwMaGzon1dEv.m3u8?tag=12&container=fmp4"},{"bitrate":950000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/1501255845413212164\/pu\/vid\/480x852\/7z2rqSJZfC8nyWoS.mp4?tag=12"},{"bitrate":632000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/1501255845413212164\/pu\/vid\/320x568\/O81n0trhSWR-QO9x.mp4?tag=12"}]},"additional_media_info":{"monetizable":false}}]},"metadata":{"result_type":"popular","iso_language_code":"ko"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":335141638,"id_str":"335141638","name":"\ubc29\ud0c4\uc18c\ub144\ub2e8","screen_name":"BTS_twt","location":"","description":"Hi
        ! We are BTS !","url":"https:\/\/t.co\/ZBW4mCiIC6","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/ZBW4mCiIC6","expanded_url":"http:\/\/btsblog.ibighit.com","display_url":"btsblog.ibighit.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":44477181,"friends_count":137,"listed_count":121391,"created_at":"Thu
        Jul 14 06:32:56 +0000 2011","favourites_count":243,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":12840,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1437401193332969472\/A1F8waJg_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1437401193332969472\/A1F8waJg_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/335141638\/1631538126","profile_link_color":"FF0000","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":308652,"favorite_count":878100,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"ko"},{"created_at":"Tue
        Mar 08 10:00:00 +0000 2022","id":1501135640045441027,"id_str":"1501135640045441027","full_text":"\u25c6\u30b9\u30c8\u30fc\u30ea\u30fc\u30a4\u30d9\u30f3\u30c8\u300cRequiem
        for the Blue\u300d\u958b\u50ac\u4e2d\u25c6\n\n\u6c34\u702c\u3044\u3061\u3054\u5f79
        #\u611b\u7f8e \u3055\u3093 \u30b5\u30a4\u30f3\u5165\u308a\u8272\u7d19\u3092\u62bd\u9078\u30671\u540d\u69d8\u306b\u30d7\u30ec\u30bc\u30f3\u30c8\ud83c\udf81\n\n\u5fdc\u52df\u65b9\u6cd5\n1.@heavenburnsred
        \u3092\u30d5\u30a9\u30ed\u30fc \n2.\u3053\u306e\u6295\u7a3f\u3092RT\n\u5fdc\u52df\u898f\u7d04
        \u5fc5\u8aad\nhttps:\/\/t.co\/EFeGhPhAwX\n\n\u25bc#\u30d8\u30d6\u30d0\u30f3
        \u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u306f\u3053\u3061\u3089\nhttps:\/\/t.co\/jN4XTm0suZ
        https:\/\/t.co\/nvoa0raqaU","truncated":false,"display_text_range":[0,189],"entities":{"hashtags":[{"text":"\u611b\u7f8e","indices":[45,48]},{"text":"\u30d8\u30d6\u30d0\u30f3","indices":[149,154]}],"symbols":[],"user_mentions":[{"screen_name":"heavenburnsred","name":"\u30d8\u30d6\u30f3\u30d0\u30fc\u30f3\u30ba\u30ec\u30c3\u30c9@2\u670810\u65e5\u6b63\u5f0f\u30ea\u30ea\u30fc\u30b9\u958b\u59cb","id":1186104650304348160,"id_str":"1186104650304348160","indices":[82,97]}],"urls":[{"url":"https:\/\/t.co\/EFeG[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=twitter%20filter%3Averified&result_type=mixed&tweet_mode=extended&include_ext_alt_text=true&count=100&max_id=1501135640045441026
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: applic[...]
