http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1390785143615467524&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 09 Mar 2022 00:05:53 GMT
      x-transaction: a4be9b597e60fd10
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1646785252'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '895'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '206'
      x-connection-hash: aa46e8cfc40bc5e118339b12a8935c140825c6923c956b9d38ba9d63e30b584a
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Fri May 07 21:46:32 +0000 2021","id":1390785143615467524,"id_str":"1390785143615467524","full_text":"RT
        @T_F_Johnson: ...and its PUBLISHED in @MethodsEcolEvol!!! The classecol #RStats
        package is a text cleaning, processing, sentiment analys\u2026","truncated":false,"display_text_range":[0,140],"entities":{"hashtags":[{"text":"RStats","indices":[75,82]}],"symbols":[],"user_mentions":[{"screen_name":"T_F_Johnson","name":"Thomas
        Frederick Johnson","id":920713349243047936,"id_str":"920713349243047936","indices":[3,15]},{"screen_name":"MethodsEcolEvol","name":"Methods
        in Ecology and Evolution","id":87706747,"id_str":"87706747","indices":[41,57]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1187603960,"id_str":"1187603960","name":"Dr
        Lizzie Jones","screen_name":"LizzieJones42","location":"London, England","description":"Quantitative
        Analyst for @childrenscomm\n\nViews my own.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":588,"friends_count":386,"listed_count":7,"created_at":"Sat
        Feb 16 22:02:06 +0000 2013","favourites_count":2009,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":1034,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"ACDED6","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1186289811319070721\/piB9fH8D_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1186289811319070721\/piB9fH8D_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1187603960\/1531505064","profile_image_extensions_alt_text":null,"profile_banner_extensions_alt_text":null,"profile_link_color":"1B95E0","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"F6F6F6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri
        May 07 10:11:03 +0000 2021","id":1390610121743556609,"id_str":"1390610121743556609","full_text":"...and
        its PUBLISHED in @MethodsEcolEvol!!! The classecol #RStats package is a text
        cleaning, processing, sentiment analysis, and text classification tool. Check
        out this #OA paper https:\/\/t.co\/iMFKyn7QJc https:\/\/t.co\/8lDuyWEhpH","truncated":false,"display_text_range":[0,204],"entities":{"hashtags":[{"text":"RStats","indices":[58,65]},{"text":"OA","indices":[171,174]}],"symbols":[],"user_mentions":[{"screen_name":"MethodsEcolEvol","name":"Methods
        in Ecology and Evolution","id":87706747,"id_str":"87706747","indices":[24,40]}],"urls":[{"url":"https:\/\/t.co\/iMFKyn7QJc","expanded_url":"https:\/\/besjournals.onlinelibrary.wiley.com\/doi\/full\/10.1111\/2041-210X.13596","display_url":"besjournals.onlinelibrary.wiley.com\/doi\/full\/10.11\u2026","indices":[181,204]},{"url":"https:\/\/t.co\/8lDuyWEhpH","expanded_url":"https:\/\/twitter.com\/T_F_Johnson\/status\/1333789433288540160","display_url":"twitter.com\/T_F_Johnson\/st\u2026","indices":[205,228]}]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_i[...]
