http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1423938851492536320%2C1416464850742661122&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Mon, 15 Aug 2022 16:12:42 GMT
      status: 200 OK
      x-access-level: read-write-directmessages
      x-connection-hash: 2c9bb245d7f7514a2b2eb990508cf2e562a7a215dba54773374c7b460a6e4fb3
      x-rate-limit-limit: '900'
      x-rate-limit-remaining: '899'
      x-rate-limit-reset: '1660580862'
      x-response-time: '153'
      x-transaction: 94cbe685f1e1b247
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Sat Aug 07 09:27:32 +0000 2021","id":1423938851492536320,"id_str":"1423938851492536320","full_text":"RT
        @teamturkiye2020: BUSENAZ S\u00dcRMENEL\u0130 OL\u0130MP\u0130YAT \u015eAMP\u0130YONU!
        \ud83e\udd47\n\nMilli boks\u00f6r\u00fcm\u00fcz Busenaz S\u00fcrmeneli, 69
        kg final kar\u015f\u0131la\u015fmas\u0131nda \u00c7in Halk Cum\u2026","truncated":false,"display_text_range":[0,140],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1016593091480948736,"id_str":"1016593091480948736","name":"Zehra
        Z\u00fcmr\u00fct Sel\u00e7uk","screen_name":"ZehraZumrutS","location":"Ankara,
        T\u00fcrkiye","description":"66. H\u00fck\u00fcmet Aile, \u00c7al\u0131\u015fma
        ve Sosyal Hizmetler Bakan\u0131","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":850925,"friends_count":1803,"listed_count":490,"created_at":"Tue
        Jul 10 08:00:55 +0000 2018","favourites_count":13495,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":6267,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1152905718690963470\/JqPpZ_f4_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1152905718690963470\/JqPpZ_f4_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1016593091480948736\/1595561040","profile_image_extensions_alt_text":null,"profile_banner_extensions_alt_text":null,"profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Sat
        Aug 07 06:44:10 +0000 2021","id":1423897740866723844,"id_str":"1423897740866723844","full_text":"BUSENAZ
        S\u00dcRMENEL\u0130 OL\u0130MP\u0130YAT \u015eAMP\u0130YONU! \ud83e\udd47\n\nMilli
        boks\u00f6r\u00fcm\u00fcz Busenaz S\u00fcrmeneli, 69 kg final kar\u015f\u0131la\u015fmas\u0131nda
        \u00c7in Halk Cumhuriyeti\u2019nden Hong Gu\u2019yu yenerek boksta olimpiyat
        tarihiminiz ilk, \u00fclkemizin Tokyo\u2019daki 2. alt\u0131n madalyas\u0131n\u0131
        kazand\u0131. \ud83c\uddf9\ud83c\uddf7 https:\/\/t.co\/fOQivKgIxJ","truncated":false,"display_text_range":[0,238],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1423897722738860041,"id_str":"1423897722738860041","indices":[239,262],"media_url":"http:\/\/pbs.twimg.com\/media\/E8Kzb0hWYAkK669.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/E8Kzb0hWYAkK669.jpg","url":"https:\/\/t.co\/fOQivKgIxJ","display_url":"pic.twitter.com\/fOQivKgIxJ","expanded_url":"https:\/\/twitter.com\/teamturkiye2020\/status\/1423897740866723844\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":1200,"resize":"fit"},"small":{"w":680,"h":680,"resize":"fit"},"large":{"w":1920,"h":1920,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1423897722738860041,"id_str":"1423897722738860041","indices":[239,262],"media_url":"http:\/\/pbs.twimg.com\/media\/E8Kzb0hWYAkK669.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/E8Kzb0hWYAkK669.jpg","url":"https:\/\/t.co\/fOQivKgIxJ","display_url":"pic.twitter.com\/fOQivKgIxJ","expanded_url":"https:\/\/twitter.com\/teamturkiye2020\/status\/1423897740866723844\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":1200,"resize":"fit"},"small":{"w":680,"h":680,"resize":"fit"},"large":{"w":1920,"h":1920,"resize":"fit"}},"ext_alt_text":null}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1226456531467689984,"id_str":"1226456531467689984","name":"Team
        T\u00fcrkiye","screen_name":"TeamTurkiye","location":"T\u00fcrkiye","description":"#TeamT\u00fcrkiye
        T\u00fcm[...]
