http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=%23rstats&result_type=mixed&tweet_mode=extended&include_ext_alt_text=true&count=20
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 09 Mar 2022 00:05:59 GMT
      x-transaction: 9a426863dcdcde83
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '180'
      x-rate-limit-reset: '1646785239'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '176'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '237'
      x-connection-hash: aa46e8cfc40bc5e118339b12a8935c140825c6923c956b9d38ba9d63e30b584a
    body:
      encoding: UTF-8
      file: no
      string: '{"statuses":[{"created_at":"Tue Mar 08 22:52:27 +0000 2022","id":1501330030747533320,"id_str":"1501330030747533320","full_text":"If
        you missed my #NICAR22 class on mapping and geodata analysis with the #sf
        package in #rstats, you can catch up here:\nhttps:\/\/t.co\/pBSEyc1RRt https:\/\/t.co\/yIASjjP64l","truncated":false,"display_text_range":[0,143],"entities":{"hashtags":[{"text":"NICAR22","indices":[17,25]},{"text":"sf","indices":[73,76]},{"text":"rstats","indices":[88,95]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/pBSEyc1RRt","expanded_url":"https:\/\/paldhous.github.io\/NICAR\/2022\/r-sf-mapping-geo-analysis.html","display_url":"paldhous.github.io\/NICAR\/2022\/r-s\u2026","indices":[120,143]}],"media":[{"id":1501329960153190402,"id_str":"1501329960153190402","indices":[144,167],"media_url":"http:\/\/pbs.twimg.com\/media\/FNXLpPWVEAIWwFn.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/FNXLpPWVEAIWwFn.png","url":"https:\/\/t.co\/yIASjjP64l","display_url":"pic.twitter.com\/yIASjjP64l","expanded_url":"https:\/\/twitter.com\/paldhous\/status\/1501330030747533320\/photo\/1","type":"photo","sizes":{"small":{"w":680,"h":379,"resize":"fit"},"large":{"w":749,"h":418,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":749,"h":418,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1501329960153190402,"id_str":"1501329960153190402","indices":[144,167],"media_url":"http:\/\/pbs.twimg.com\/media\/FNXLpPWVEAIWwFn.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/FNXLpPWVEAIWwFn.png","url":"https:\/\/t.co\/yIASjjP64l","display_url":"pic.twitter.com\/yIASjjP64l","expanded_url":"https:\/\/twitter.com\/paldhous\/status\/1501330030747533320\/photo\/1","type":"photo","sizes":{"small":{"w":680,"h":379,"resize":"fit"},"large":{"w":749,"h":418,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":749,"h":418,"resize":"fit"}}}]},"metadata":{"result_type":"popular","iso_language_code":"en"},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":589535421,"id_str":"589535421","name":"Peter
        Aldhous","screen_name":"paldhous","location":"San Francisco","description":"Science.
        Data. Journalism. Maps. Reporter @BuzzFeedNews, lecturer @UCSC_SciCom @ucbsoj,
        instructor @AMI_Berkeley. Also tweets @BuzzFeedStorm.","url":"https:\/\/t.co\/AjHJqz136c","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/AjHJqz136c","expanded_url":"https:\/\/www.peteraldhous.com","display_url":"peteraldhous.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":11410,"friends_count":2841,"listed_count":694,"created_at":"Thu
        May 24 21:53:47 +0000 2012","favourites_count":849,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":22425,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000033","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1466768146912579587\/wUjcbKZT_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1466768146912579587\/wUjcbKZT_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/589535421\/1505676089","profile_link_color":"1B95E0","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":6,"favorite_count":14,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Thu
        Mar 03 15:23:10 +0000 2022","id":1499405027575799808,"id_str":"1499405027575799808","full_text":"100+
        Free #DataScience eBooks (downloadable PDF) for Beginners and Experts \u2014
        via @TheInsaneApp\n\u2014\u2014\u2014\u2014\n#100DaysOfCode #BigData #AI #MachineLearning
        #DeepLearning #Statistics #DataScientists #Python #DataMining #DataLiteracy
        #Rstats #DataViz #NLProc #Analytics\nhttps:\/\/t.co\/TtASTAWfYG","truncated":[...]
