http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=JustinBieber&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 10:48:12 GMT
      status: 200 OK
      x-access-level: read-write-directmessages
      x-app-rate-limit-limit: '100000'
      x-app-rate-limit-remaining: '99999'
      x-app-rate-limit-reset: '1648378092'
      x-connection-hash: f78ec2a2178dc79626e48785e0852503b1d3ca9f90337a5063bc44ca8d60d211
      x-rate-limit-limit: '900'
      x-rate-limit-remaining: '899'
      x-rate-limit-reset: '1648292592'
      x-response-time: '346'
      x-transaction: eb86aa3b59091e78
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Wed Feb 16 03:05:25 +0000 2022","id":1493783548276314115,"id_str":"1493783548276314115","text":"Go
        for the Gold, Ladies!!!!!! Cannot wait to watch some of the best hockey ever!!!
        We are so proud of you! @HockeyCanada","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"HockeyCanada","name":"Hockey
        Canada","id":28206390,"id_str":"28206390","indices":[107,120]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":27260086,"id_str":"27260086","name":"Justin
        Bieber","screen_name":"justinbieber","location":"The 6","description":"JUSTICE
        the album out now","url":"https:\/\/t.co\/kobIXw8MJn","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/kobIXw8MJn","expanded_url":"https:\/\/JustinBieber.lnk.to\/JusticeTCD","display_url":"JustinBieber.lnk.to\/JusticeTCD","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":114336350,"friends_count":284893,"listed_count":538754,"created_at":"Sat
        Mar 28 16:41:22 +0000 2009","favourites_count":4648,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":31404,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1473447174591684612\/vlsbWYtq_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1473447174591684612\/vlsbWYtq_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/27260086\/1633666270","profile_link_color":"89C9FA","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":4525,"favorite_count":47170,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Fri
        Dec 31 07:09:37 +0000 2021","id":1476812772742733824,"id_str":"1476812772742733824","text":"RT
        @weverseofficial: [#2022WeverseCon] Countdown D-DAY\n\u25b6https:\/\/t.co\/yEFJDQv1EG\n\nTicket
        sale ends 31 Dec, 7:30 PM (KST)\n\ud83d\udc49https:\/\/t.co\/p6OqR\u2026","truncated":false,"entities":{"hashtags":[{"text":"2022WeverseCon","indices":[22,37]}],"symbols":[],"user_mentions":[{"screen_name":"weverseofficial","name":"Weverse","id":9[...]
