http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=558115838503690243%2C760182486005583872%2C776053079540166657&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Mon, 07 Mar 2022 22:58:57 GMT
      status: 200 OK
      x-access-level: read-write-directmessages
      x-connection-hash: 0d83f653da2db81b26cab86ad008f6158cb28f0a8cfde4c8ad8af833e15db2e2
      x-rate-limit-limit: '900'
      x-rate-limit-remaining: '871'
      x-rate-limit-reset: '1646694162'
      x-response-time: '133'
      x-transaction: 693a0608e0dadfde
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Mon Aug 01 18:36:42 +0000 2016","id":760182486005583872,"id_str":"760182486005583872","full_text":"My
        R package is now on CRAN now! rtweet: Collecting Twitter Data ftp:\/\/cran.r-project.org\/pub\/R\/web\/packages\/rtweet\/index.html","truncated":false,"display_text_range":[0,126],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2973406683,"id_str":"2973406683","name":"Mike
        Kearney\ud83d\udcca\ud83c\uddfa\ud83c\udde6","screen_name":"kearneymw","location":"Columbia,
        MO","description":"Communication Ph.D., Senior Data Scientist @Aware_HQ. Online
        collaboration platforms. Social media. Conscientious ML models. #nlp #rstats
        #python (he\/him)","url":"https:\/\/t.co\/K1ToD48q3I","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/K1ToD48q3I","expanded_url":"https:\/\/mikewk.com","display_url":"mikewk.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":7322,"friends_count":871,"listed_count":222,"created_at":"Sun
        Jan 11 17:54:09 +0000 2015","favourites_count":30713,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":11331,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1476773232229462019\/KMLmltyH_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1476773232229462019\/KMLmltyH_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2973406683\/1615478349","profile_image_extensions_alt_text":null,"profile_banner_extensions_alt_text":null,"profile_link_color":"CC1111","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":2,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Wed
        Sep 14 13:40:47 +0000 2016","id":776053079540166657,"id_str":"776053079540166657","full_text":"@joshthemorgan
        It''s fine.","truncated":false,"display_text_range":[15,25],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":776052918474596352,"in_reply_to_status_id_str":"776052918474596352","i[...]
