http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=X&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Sun, 16 Oct 2022 10:42:16 GMT
      perf: '7626143928'
      status: 200 OK
      x-access-level: read-write-directmessages
      x-connection-hash: acb481ae5d782e18830de8a93a6b504853a101fb6a0cac984f7bfb15ed2e2088
      x-rate-limit-limit: '900'
      x-rate-limit-remaining: '899'
      x-rate-limit-reset: '1665917836'
      x-response-time: '178'
      x-transaction: 18e8ee3489eb4e68
      x-transaction-id: 18e8ee3489eb4e68
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '[]'
  recorded_at: 2022-10-16 10:42:23 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1580002144631279616&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      perf: '7626143928'
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sun, 16 Oct 2022 10:42:17 GMT
      x-transaction: bc10cc4e20250887
      x-access-level: read-write-directmessages
      x-transaction-id: bc10cc4e20250887
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1665917836'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '898'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '201'
      x-connection-hash: acb481ae5d782e18830de8a93a6b504853a101fb6a0cac984f7bfb15ed2e2088
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Wed Oct 12 01:07:20 +0000 2022","id":1580002144631279616,"id_str":"1580002144631279616","full_text":"@todosmath
        Thank you! As someone who did not attend NCTM partially due to the lack of
        Covid mitigations as @MathTeach_BEW highlighted elsewhere, I\u2019m truly
        glad to read this.","truncated":false,"display_text_range":[11,173],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"todosmath","name":"TODOS","id":1225441411,"id_str":"1225441411","indices":[0,10]},{"screen_name":"MathTeach_BEW","name":"Dr.
        Brandie E. Waid","id":1109792095013883904,"id_str":"1109792095013883904","indices":[107,121]}],"urls":[]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":1579994767957495808,"in_reply_to_status_id_str":"1579994767957495808","in_reply_to_user_id":1225441411,"in_reply_to_user_id_str":"1225441411","in_reply_to_screen_name":"todosmath","user":{"id":3363010199,"id_str":"3363010199","name":"Sara
        \ud83c\udf3b\u2728\ud83d\udc1d","screen_name":"arsinoepi","location":"Chicago,
        IL","description":"Asymptote. Chai Chi-town \ud83d\ude09 Math Ed + GWS PhD
        Student @UIC_CollegeofEd.  Black Lives Matter. Educator @mathcircchicago.
        \u0634\u0627\u0639\u0631 .  Free Palestine \ud83c\uddf5\ud83c\uddf8","url":"https:\/\/t.co\/glelnrkQHn","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/glelnrkQHn","expanded_url":"http:\/\/www.sararezvi.com\/","display_url":"sararezvi.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":1609,"friends_count":4997,"listed_count":14,"created_at":"Mon
        Jul 06 20:23:42 +0000 2015","favourites_count":52553,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":10110,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1543632006550065155\/iBWqMVcH_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1543632006550065155\/iBWqMVcH_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3363010199\/1656865400","profile_image_extensions_alt_text":null,"profile_banner_extensions_alt_text":null,"profile_link_color":"7FDBB6","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":13,"favorited":false,"retweeted":false,"lang":"en"}]'
  recorded_at: 2022-10-16 10:42:23 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1578824308260237312&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      perf: '7626143928'
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sun, 16 Oct 2022 10:42:17 GMT
      x-transaction: 277c3cb61921546e
      x-access-level: read-write-directmessages
      x-transaction-id: 277c3cb61921546e
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1665917836'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '897'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '197'
      x-connection-hash: acb481ae5d782e18830de8a93a6b504853a101fb6a0cac984f7bfb15ed2e2088
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Sat Oct 08 19:07:02 +0000 2022","id":1578824308260237312,"id_str":"1578824308260237312","full_text":"Check
        out https:\/\/t.co\/1gCeq5ne3i from @NatBanting for fun images to get students
        reasoning about fractions. #MTBoS #iteachmath https:\/\/t.co\/SZxOcbFJYr","truncated":false,"display_text_range":[0,127],"entities":{"hashtags":[{"text":"MTBoS","indices":[109,115]},{"text":"iteachmath","indices":[116,127]}],"symbols":[],"user_mentions":[{"screen_name":"NatBanting","name":"Nat
        Banting","id":206843292,"id_str":"206843292","indices":[39,50]}],"urls":[{"url":"https:\/\/t.co\/1gCeq5ne3i","expanded_url":"http:\/\/www.fractiontalks.com\/","display_url":"fractiontalks.com","indices":[10,33]}],"media":[{"id":1578824304401211393,"id_str":"1578824304401211393","indices":[128,151],"media_url":"http:\/\/pbs.twimg.com\/media\/FekcVwKWYAE2Zpe.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FekcVwKWYAE2Zpe.jpg","url":"https:\/\/t.co\/SZxOcbFJYr","display_url":"pic.twitter.com\/SZxOcbFJYr","expanded_url":"https:\/\/twitter.com\/robertkaplinsky\/status\/1578824308260237312\/photo\/1","type":"photo","sizes":{"medium":{"w":1004,"h":939,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1004,"h":939,"resize":"fit"},"small":{"w":680,"h":636,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1578824304401211393,"id_str":"1578824304401211393","indices":[128,151],"media_url":"http:\/\/pbs.twimg.com\/media\/FekcVwKWYAE2Zpe.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FekcVwKWYAE2Zpe.jpg","url":"https:\/\/t.co\/SZxOcbFJYr","display_url":"pic.twitter.com\/SZxOcbFJYr","expanded_url":"https:\/\/twitter.com\/robertkaplinsky\/status\/1578824308260237312\/photo\/1","type":"photo","sizes":{"medium":{"w":1004,"h":939,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1004,"h":939,"resize":"fit"},"small":{"w":680,"h":636,"resize":"fit"}},"ext_alt_text":null}]},"source":"\u003ca
        href=\"http:\/\/meetedgar.com\" rel=\"nofollow\"\u003eMeetEdgar\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":745583288,"id_str":"745583288","name":"Robert
        Kaplinsky","screen_name":"robertkaplinsky","location":"Long Beach, CA","description":"Math
        educator. Love helping teachers. @openmiddle co-founder. #OpenMiddleB[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/favorites/list.json?tweet_mode=extended&screen_name=KFC&count=200
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      perf: '7626143928'
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sun, 16 Oct 2[...]
