http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1256278643224965120%2C1256278643883442176%2C1256278644508377088%2C1256278645255008256%2C1256278645905055745%2C1256278646605504512%2C1256278647226265600%2C1256278647914156033%2C1256278648690262018%2C1256278649600225280&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Sun, 24 Apr 2022 14:38:45 GMT
      status: 200 OK
      x-access-level: read-write-directmessages
      x-connection-hash: 738cf42b1e7b595b6eb2f2d5baf778793d46f8057ad7ecd5348c395f9c2c6a9b
      x-rate-limit-limit: '900'
      x-rate-limit-remaining: '895'
      x-rate-limit-reset: '1650811566'
      x-response-time: '153'
      x-transaction: 7c44f1f12b8b4dcf
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Fri May 01 17:45:45 +0000 2020","id":1256278649600225280,"id_str":"1256278649600225280","full_text":"The
        current crisis reminds me of the dotcom crash. Times will be tough but there
        will undoubtedly be a few unicorns that emerge from this crisis. Read the
        full post here: https:\/\/t.co\/qZ6Emvg5zC","truncated":false,"display_text_range":[0,194],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/qZ6Emvg5zC","expanded_url":"https:\/\/medium.com\/craft-ventures\/the-original-apocalypse-ea432f8aacf","display_url":"medium.com\/craft-ventures\u2026","indices":[171,194]}]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":1256278648690262018,"in_reply_to_status_id_str":"1256278648690262018","in_reply_to_user_id":34783009,"in_reply_to_user_id_str":"34783009","in_reply_to_screen_name":"jefffluhr","user":{"id":34783009,"id_str":"34783009","name":"Jeff
        Fluhr","screen_name":"jefffluhr","location":"","description":"Entrepreneur,
        dad, student. GP at @craft_ventures","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":4171,"friends_count":447,"listed_count":165,"created_at":"Fri
        Apr 24 00:21:30 +0000 2009","favourites_count":257,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":1180,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1126154658722934785\/IA-ojFgg_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1126154658722934785\/IA-ojFgg_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/34783009\/1399496892","profile_image_extensions_alt_text":null,"profile_banner_extensions_alt_text":null,"profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":20,"favorite_count":120,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Fri
        May 01 17:45:43 +0000 2020","id":1256278643224965120,"id_str":"1256278643224965120","full_text":"20
        years ago, the Original Apocalypse - the dotcom crash of 2000 -  wiped out
        90% of the value of most public tech companies and chilled tech investing
        for two years.","truncated":false,"display_text_range":[0,166],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/mobile[...]
