http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/lookup.json?user_id=994659707766833153
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Mon, 07 Mar 2022 22:59:00 GMT
      x-transaction: 91079a1c5c94b05b
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1646694164'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '896'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '121'
      x-connection-hash: 0d83f653da2db81b26cab86ad008f6158cb28f0a8cfde4c8ad8af833e15db2e2
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":994659707766833153,"id_str":"994659707766833153","name":"Beytemir
        Ural","screen_name":"BeytemirUral","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":21,"listed_count":0,"created_at":"Thu
        May 10 19:25:29 +0000 2018","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":0,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/994907818481405952\/nVn5Dm0B_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/994907818481405952\/nVn5Dm0B_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]}]'
  recorded_at: 2022-03-07 22:59:00 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
