http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1400810492843630598&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Mon, 07 Mar 2022 22:59:00 GMT
      x-transaction: 627ecf1d8898aefb
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1646694162'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '866'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '136'
      x-connection-hash: 0d83f653da2db81b26cab86ad008f6158cb28f0a8cfde4c8ad8af833e15db2e2
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Fri Jun 04 13:43:41 +0000 2021","id":1400810492843630598,"id_str":"1400810492843630598","full_text":"The
        power of local is over 500 quality sensors checking each nappy, before local
        bottoms put them to the test. Go behind the scenes with @MissAlexjones  #PampersPowerOfLocal","truncated":false,"display_text_range":[0,173],"entities":{"hashtags":[{"text":"PampersPowerOfLocal","indices":[153,173]}],"symbols":[],"user_mentions":[{"screen_name":"MissAlexjones","name":"Alex
        Jones","id":56766111,"id_str":"56766111","indices":[137,151]}],"urls":[]},"source":"\u003ca
        href=\"https:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter for Advertisers\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":245739696,"id_str":"245739696","name":"Pampers
        UK","screen_name":"Pampers_UK","location":"United Kingdom","description":"Hi
        I''m Jane, mum of 2, from Pampers UK\/Ireland - Here to talk all things baby
        & share the latest in news, tips and exclusive deals for you and your little
        one.","url":"http:\/\/t.co\/k7PayyfV27","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/k7PayyfV27","expanded_url":"http:\/\/www.pampers.co.uk","display_url":"pampers.co.uk","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":25996,"friends_count":1953,"listed_count":76,"created_at":"Tue
        Feb 01 11:01:50 +0000 2011","favourites_count":8483,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":12572,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/474526659249332226\/NLEBcBjJ_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/474526659249332226\/NLEBcBjJ_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/245739696\/1591634540","profile_image_extensions_alt_text":null,"profile_banner_extensions_alt_text":null,"profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":3,"favorited":false,"retweeted":false,"scopes":{"followers":false},"lang":"en"}]'
  recorded_at: 2022-03-07 22:59:00 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
