http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=lang%3Aen&result_type=mixed&tweet_mode=extended&include_ext_alt_text=true&geocode=36.89%2C-95.867%2C1555.993mi&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Sun, 24 Apr 2022 21:51:50 GMT
      status: 200 OK
      x-access-level: read-write-directmessages
      x-connection-hash: 0f704337a36c9a0e670ded7d24af2128260727498604db3f7d70bc9a032ddc02
      x-rate-limit-limit: '180'
      x-rate-limit-remaining: '176'
      x-rate-limit-reset: '1650837772'
      x-response-time: '281'
      x-transaction: fc0729b66828fd22
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '{"statuses":[{"created_at":"Sun Apr 24 21:51:49 +0000 2022","id":1518347000143486976,"id_str":"1518347000143486976","full_text":"@HaloHangover
        Marsh needs to hit leadoff. You still get the LH RH to start &amp; Marsh is
        an on base machine \n\nHe reminds me in a way of Erstad","truncated":false,"display_text_range":[14,143],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"HaloHangover","name":"Angels
        Based Ball","id":1103508293039742976,"id_str":"1103508293039742976","indices":[0,13]}],"urls":[]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":1518346714490413056,"in_reply_to_status_id_str":"1518346714490413056","in_reply_to_user_id":1103508293039742976,"in_reply_to_user_id_str":"1103508293039742976","in_reply_to_screen_name":"HaloHangover","user":{"id":279042526,"id_str":"279042526","name":"\ud835\ude48\ud835\ude56\ud835\ude69\ud835\ude69
        \ud835\ude3f\ud835\ude5a \ud835\ude3d\ud835\ude61\ud835\ude56\ud835\ude68\ud835\ude5e","screen_name":"MattDeBlasi","location":"Autzen
        Stadium","description":"#GoKingsGo #GoHalos","url":"https:\/\/t.co\/W6QOz8MXA1","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/W6QOz8MXA1","expanded_url":"http:\/\/Instagram.com\/deblasi_photography_","display_url":"Instagram.com\/deblasi_photog\u2026","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":793,"friends_count":1748,"listed_count":33,"created_at":"Fri
        Apr 08 13:37:50 +0000 2011","favourites_count":119737,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":163744,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"9266CC","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1482778009417310209\/6e39uv52_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1482778009417310209\/6e39uv52_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/279042526\/1650220346","profile_link_color":"9266CC","profile_sidebar_border_color":"EEEEEE","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":{"id":"3b77caf94bfc81fe","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/3b77caf94bfc81fe.json","place_type":"city","name":"Los
        Angeles","full_name":"Los Angeles, CA","country_code":"US","country":"United
        States","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[-118.668404,33.704538],[-118.155409,33.704538],[-118.155409,34.337041],[-118.668404,34.337041]]]},"attributes":{}},"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Sun
        Apr 24 21:51:48 +0000 2022","id":1518346999736811527,"id_str":"1518346999736811527","full_text":"@DarthMorales
        Bruh what are you talking about. They always lose to the Bucks you and your
        fans should be used to it. https:\/\/t.co\/RXHO1JCWnQ","truncated":false,"display_text_range":[14,116],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"DarthMorales","name":"Angel","id":370429340,"id_str":"370429340","indices":[0,13]}],"urls":[],"media":[{"id":1518346997434142725,"id_str":"1518346997434142725","indices":[117,140],"media_url":"http:\/\/pbs.twimg.com\/media\/FRJAjLPX0AU4ghL.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FRJAjLPX0AU4ghL.jpg","url":"https:\/\/t.co\/RXHO1JCWnQ","display_url":"pic.twitter.com\/RXHO1JCWnQ","expanded_url":"https:\/\/twitter.com\/jimrey1024\/status\/1518346999736811527\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1079,"h":1419,"resize":"fit"},"small":{"w":517,"h":680,"resize":"fit"},"medium":{"w":912,"h":1200,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1518346997434142725,"id_str":"1518346997434142725","indices":[117,140],"media_url":"http:\/\/pbs.twimg.com\/media\/FRJAjLPX0AU4ghL.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FRJAjLPX0AU4ghL.jpg","url":"https:\/\/t.co\/RXHO1JCWnQ","display_url":"pic.twitter.com\/RXHO1JCWnQ","expanded_url":"https:\/\/twitter.com\/jimrey1024\/status\/1518346999736811527\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1079,"h":1419,"resize":"fit"[...]
