http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/statuses.json?count=200&include_rts=TRUE&tweet_mode=extended&list_id=105140588
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 10:48:25 GMT
      x-transaction: 154c73ae0bf19c2a
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1648292605'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '899'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '506'
      x-connection-hash: f78ec2a2178dc79626e48785e0852503b1d3ca9f90337a5063bc44ca8d60d211
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Sat Mar 26 10:45:02 +0000 2022","id":1507669952710463494,"id_str":"1507669952710463494","full_text":"What
        is Vechain? #Blockchain for Enterprise\nWhat is Vechain? VeChain (or VechainThor)
        is a next generation smart contract #blockchain platform ..\nhttps:\/\/t.co\/WQEdCHMuxo\n\n#7wData\n\nhttps:\/\/t.co\/Mb3mhQMWIx","truncated":false,"display_text_range":[0,203],"entities":{"hashtags":[{"text":"Blockchain","indices":[17,28]},{"text":"blockchain","indices":[122,133]},{"text":"7wData","indices":[171,178]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/WQEdCHMuxo","expanded_url":"https:\/\/bit.ly\/2v6JNTi","display_url":"bit.ly\/2v6JNTi","indices":[146,169]},{"url":"https:\/\/t.co\/Mb3mhQMWIx","expanded_url":"http:\/\/openlink.azurewebsites.net\/aHR0cHM6Ly93d3cuN3dkYXRhLmJlL2JpdGNvaW4vd2hhdC1pcy12ZWNoYWluLWJsb2NrY2hhaW4tZm9yLWVudGVycHJpc2Uv\/aHR0cDovLzk5MTgxLTI4MjA0NC1yYWlrZmNxdWF4cW5jb2ZxZm0uc3RhY2twYXRoZG5zLmNvbS93cC1jb250ZW50L3VwbG9hZHMvMjAyMC8wMS9WZWNoYWluLUxvZ29qcGcucG5n\/ICAgIFdoYXQgaXMgVmVjaGFpbj8gQmxvY2tjaGFpbiBmb3IgRW50ZXJwcmlzZSAg\/IFdoYXQgaXMgVmVjaGFpbj8gVmVDaGFpbiAob3IgVmVjaGFpblRob3IpIGlzIGEgbmV4dCBnZW5lcmF0aW9uIHNtYXJ0IGNvbnRyYWN0IGJsb2NrY2hhaW4gcGxhdGZvcm0gZm9jdXNlZCBvbiBlbnRlcnByaXNlIGFkb3B0aW9uLCBJb1QgYW5kIG1hc3MgYWRvcHRpb24gdmlhIFRvb2xjaGFpbi4gVGhlIGJsb2NrY2hhaW4gc3VwcG9ydHM=","display_url":"openlink.azurewebsites.net\/aHR0cHM6Ly93d3\u2026","indices":[180,203]}]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14847675,"id_str":"14847675","name":"Yves
        Mulkers","screen_name":"YvesMulkers","location":"Belgium","description":"#Data
        strategist. Define & Design #Data #Strategy for Impact. Love Music and DJ-ing,
        Founder @7wData","url":"https:\/\/t.co\/xpy7fPCptT","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/xpy7fPCptT","expanded_url":"http:\/\/7wd.at\/yvesmulkers","display_url":"7wd.at\/yvesmulkers","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":97845,"friends_count":72724,"listed_count":4239,"created_at":"Tue
        May 20 17:08:32 +0000 2008","favourites_count":32893,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":267708,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"BFD1E5","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/975114008301789184\/rOaCSOdl_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/975114008301789184\/rOaCSOdl_normal.jpg","profile_link_color":"1B95E0","profile_sidebar_border_color":"685E52","profile_sidebar_fill_color":"857075","profile_text_color":"9EB0C8","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sat
        Mar 26 10:38:42 +0000 2022","id":1507668357964869642,"id_str":"1507668357964869642","full_text":"Malta:
        according to latest opinion polls, the ruling centre-left Labour Party (PL-S&amp;D)
        is headed for a third consecutive victory in today''s national parliament
        election.\n\nEver since independence, Malta has been dominated by a two party
        system of PL and centre-right PN (EPP). https:\/\/t.co\/mg7pFPUKGz","truncated":false,"display_text_range":[0,279],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1507665515312992256,"id_str":"1507665515312992256","indices":[280,303],"media_url":"http:\/\/pbs.twimg.com\/media\/FOxNzFhWUAAXboD.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/FOxNzFhWUAAXboD.png","url":"https:\/\/t.co\/mg7pFPUKGz","display_url":"pic.twitter.com\/mg7pFPUKGz","expanded_url":"https:\/\/twitter.com\/EuropeElects\/status\/1507668357964869642\/photo\/1","type":"photo","sizes":{"small":{"w":680,"h":370,"resize":"fit"},"medium":{"w":1200,"h":654,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":2048,"h":1116,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1507665515312992256,"id_str":"1507665515312992256","indices":[280,303],"media_url":"http:\/\/pbs.twimg.com\/media\/FOxNzFhWUAAXboD.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/FOxNzFhWUAAXboD.png","url":"https:\/\/t.co\/mg7pFPUKGz","display_url":"pic.twitter.com\/mg7pFPUKGz","expanded_url":"https:\/\/twitter.com\/EuropeElects\/status\/1507668357964869642\/photo\/1","type":"photo","sizes":{"small":{"w":680,"h":370,"resize":"fit"},"medium":{"w":1200,"h":654,"resize":"fit[...]
