http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?slug=senators&owner_screen_name=cspan&count=5000&cursor=-1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 10:48:24 GMT
      x-transaction: 9bdb228926c41715
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1648292600'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '898'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '457'
      x-connection-hash: f78ec2a2178dc79626e48785e0852503b1d3ca9f90337a5063bc44ca8d60d211
    body:
      encoding: UTF-8
      file: no
      string: '{"users":[{"id":1352287997853622273,"id_str":"1352287997853622273","name":"Senator
        Reverend Raphael Warnock","screen_name":"SenatorWarnock","location":"Georgia","description":"United
        States Senator for Georgia. Pastor of Ebenezer Baptist Church.","url":"https:\/\/t.co\/HCE0qK1p6w","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/HCE0qK1p6w","expanded_url":"https:\/\/www.warnock.senate.gov","display_url":"warnock.senate.gov","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":155433,"friends_count":132,"listed_count":643,"created_at":"Thu
        Jan 21 16:12:57 +0000 2021","favourites_count":408,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":1938,"lang":null,"status":{"created_at":"Fri
        Mar 25 22:22:00 +0000 2022","id":1507482961473519618,"id_str":"1507482961473519618","text":"March
        25th, 2021 is a day marked by trauma for so many people in &amp; around Newnan,
        GA who lost everything from the s\u2026 https:\/\/t.co\/XrMusSZFxq","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/XrMusSZFxq","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1507482961473519618","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[121,144]}]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":34,"favorite_count":212,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1417888524821467139\/vxWkd_gh_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1417888524821467139\/vxWkd_gh_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1352287997853622273\/1626885943","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},{"id":1351236267707654145,"id_str":"1351236267707654145","name":"Senator
        Alex Padilla","screen_name":"SenAlexPadilla","location":"California","description":"United
        States Senator for California","url":"https:\/\/t.co\/OX9pgyCpJU","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/OX9pgyCpJU","expanded_url":"http:\/\/www.padilla.senate.gov","display_url":"padilla.senate.gov","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":54695,"friends_count[...]
