http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/statuses.json?count=200&include_rts=TRUE&tweet_mode=extended&slug=senators&owner_screen_name=cspan
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 10:48:29 GMT
      x-transaction: 987889e43227840a
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1648292605'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '898'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '401'
      x-connection-hash: f78ec2a2178dc79626e48785e0852503b1d3ca9f90337a5063bc44ca8d60d211
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Sat Mar 26 05:01:55 +0000 2022","id":1507583603433160704,"id_str":"1507583603433160704","full_text":"Congratulations
        to @CanesHoops for beating @CycloneMBB tonight! Can\u2019t wait to cheer you
        on in your first ever #Elite8! Let\u2019s Go Canes! #MarchMadness \ud83c\udfc0\ud83d\ude4c
        https:\/\/t.co\/njgJabe2V9 https:\/\/t.co\/E0ohcRyAMU","truncated":false,"display_text_range":[0,175],"entities":{"hashtags":[{"text":"Elite8","indices":[110,117]},{"text":"MarchMadness","indices":[135,148]}],"symbols":[],"user_mentions":[{"screen_name":"CanesHoops","name":"Canes
        Hoops","id":171483987,"id_str":"171483987","indices":[19,30]},{"screen_name":"CycloneMBB","name":"Iowa
        State Men\u2019s Basketball","id":36973175,"id_str":"36973175","indices":[43,54]}],"urls":[{"url":"https:\/\/t.co\/njgJabe2V9","expanded_url":"https:\/\/twitter.com\/CanesHoops\/status\/1507574059948724224","display_url":"twitter.com\/CanesHoops\/sta\u2026","indices":[152,175]}],"media":[{"id":1507583598270074883,"id_str":"1507583598270074883","indices":[176,199],"media_url":"http:\/\/pbs.twimg.com\/tweet_video_thumb\/FOwDS4wX0AMSgq-.jpg","media_url_https":"https:\/\/pbs.twimg.com\/tweet_video_thumb\/FOwDS4wX0AMSgq-.jpg","url":"https:\/\/t.co\/E0ohcRyAMU","display_url":"pic.twitter.com\/E0ohcRyAMU","expanded_url":"https:\/\/twitter.com\/SenRickScott\/status\/1507583603433160704\/photo\/1","type":"photo","sizes":{"medium":{"w":480,"h":270,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":480,"h":270,"resize":"fit"},"large":{"w":480,"h":270,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1507583598270074883,"id_str":"1507583598270074883","indices":[176,199],"media_url":"http:\/\/pbs.twimg.com\/tweet_video_thumb\/FOwDS4wX0AMSgq-.jpg","media_url_https":"https:\/\/pbs.twimg.com\/tweet_video_thumb\/FOwDS4wX0AMSgq-.jpg","url":"https:\/\/t.co\/E0ohcRyAMU","display_url":"pic.twitter.com\/E0ohcRyAMU","expanded_url":"https:\/\/twitter.com\/SenRickScott\/status\/1507583603433160704\/photo\/1","type":"animated_gif","sizes":{"medium":{"w":480,"h":270,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":480,"h":270,"resize":"fit"},"large":{"w":480,"h":270,"resize":"fit"}},"video_info":{"aspect_ratio":[16,9],"variants":[{"bitrate":0,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/tweet_video\/FOwDS4wX0AMSgq-.mp4"}]}}]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":131546062,"id_str":"131546062","name":"Rick
        Scott","screen_name":"SenRickScott","location":"The Sunshine State","description":"Florida\u2019s
        U.S. Senator. Fighting for Florida families and to Make Washington Work. #LetsGetToWork
        https:\/\/t.co\/O6Ra1UNojy","url":"https:\/\/t.co\/N5TDVcCjcr","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/N5TDVcCjcr","expanded_url":"http:\/\/www.rickscott.senate.gov","display_url":"rickscott.senate.gov","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/O6Ra1UNojy","expanded_url":"http:\/\/instagram.com\/flsenrickscott","display_url":"instagram.com\/flsenrickscott","indices":[98,121]}]}},"protected":false,"followers_count":369074,"friends_count":1518,"listed_count":4029,"created_at":"Sat
        Apr 10 16:03:04 +0000 2010","favourites_count":39,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":21325,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1082776530235916289\/KVIfkvwW_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1082776530235916289\/KVIfkvwW_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/131546062\/1548253495","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":true,"quoted_status_id":1507574059948724224,"quoted_status_id_str":"1507574059948724224","quoted_status_permalink":{"url":"https:\/\/t.co\/njgJabe2V9","expanded":"https:\/\/twitter.com\/CanesHoops\/status\/1507574059948724224","display":"twitter.com\/CanesHoops\/sta\u2026"},"quoted_status":{"created_at":"Sat
        Mar 26 04:23:59 +0000 2022","id":1507574059948724224,"id_str":"1507574059948724224","full_text":"There\u2019s
        sweet\u2026 and then there\u2019s \ud835\udc04\ud835\udc0b\ud835\udc08\ud835\udc13\ud835\udc04.\n\nWE\u2019RE
        BOTH.\n\nNo. 10 Miami defeats No. 11 Iowa State to advance to the Elite Eight
        for the first time in program history. https:\/\/t.co\/CjKzXw5nl7","truncated":false,"display_text_range":[0,160],"entities":{"hashtags":[],"symbols":[[...]
