http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?list_id=105140588&count=5000&cursor=-1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 10:48:22 GMT
      x-transaction: a1a17b1200d8edc7
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1648292600'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '899'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '1347'
      x-connection-hash: f78ec2a2178dc79626e48785e0852503b1d3ca9f90337a5063bc44ca8d60d211
    body:
      encoding: UTF-8
      file: no
      string: '{"users":[{"id":1393290762033500166,"id_str":"1393290762033500166","name":"Just
        Maps","screen_name":"JustElexMaps","location":"Somewhere","description":"Election\/demographic
        maps & stats. Sometimes I livetweet elections. Mainstream Democrat; analysis
        may have that bias. Old election graphics @electionvintage.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1107,"friends_count":100,"listed_count":19,"created_at":"Fri
        May 14 19:43:33 +0000 2021","favourites_count":4178,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1779,"lang":null,"status":{"created_at":"Sat
        Mar 26 06:08:34 +0000 2022","id":1507600378128384003,"id_str":"1507600378128384003","text":"RT
        @Pallas_ca: SK - 31.6%\nBC - 28.2%\nNT - 24.2%\nNU - 23.6%\nMB - 23.2%\nYT
        - 16.7%\nON - 15.5%\nCA - 15.2%\nNS - 14.3%\nNL - 11.7%\nAB - 10.7%\nNB\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"Pallas_ca","name":"Merry
        Pallas \ud83c\uddfa\ud83c\udde6","id":1286566907760369664,"id_str":"1286566907760369664","indices":[3,13]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Sat
        Mar 26 05:57:45 +0000 2022","id":1507597653269385218,"id_str":"1507597653269385218","text":"SK
        - 31.6%\nBC - 28.2%\nNT - 24.2%\nNU - 23.6%\nMB - 23.2%\nYT - 16.7%\nON -
        15.5%\nCA - 15.2%\nNS - 14.3%\nNL - 11.7%\nAB -\u2026 https:\/\/t.co\/eZUGkpSaQg","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/eZUGkpSaQg","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1507597653269385218","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[116,139]}]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":1507596568848830468,"in_reply_to_status_id_str":"1507596568848830468","in_reply_to_user_id":1286566907760369664,"in_reply_to_user_id_str":"1286566907760369664","in_reply_to_screen_name":"Pallas_ca","geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":7,"favorited":false,"retweeted":false,"lang":"en"},"is_quote_status":false,"retweet_count":1,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1454656252252987400\/du4SSaj0_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1454656252252987400\/du4SSaj0_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1393290762033500166\/1635651795","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},{"id":1327690878056591363,"id_str":"1327690878056591363","name":"Wizard
        of Gargalon","screen_name":"WizGargalon","location":"Ohio, USA","description":"Big
        fan of democracy and cartoons","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":485,"friends_count":256,"listed_count":12,"created_at":"Sat
        Nov 14 19:12:34 +0000 2020","favourites_count":58603,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count[...]
