http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json?reverse=FALSE&screen_name=kearneymw
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 19 Mar 2022 12:36:09 GMT
      x-transaction: cd0c8b48af3d66de
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '15'
      x-rate-limit-reset: '1647694269'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '14'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '175'
      x-connection-hash: d9efa132ad6e9c5596438635df95279d79c235738a8a1caf6046bf8c75f1eb50
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":1378399759992512516,"id_str":"1378399759992512516","name":"Ukraine","uri":"\/gavinsblog\/lists\/ukraine-70187","subscriber_count":25225,"member_count":301,"mode":"public","description":"Ukr
        gov, journos, orgs, foreign journos, & OSINT. Treat info with care \/ *graphic
        content warning*","slug":"ukraine-70187","full_name":"@gavinsblog\/ukraine-70187","created_at":"Sat
        Apr 03 17:31:26 +0000 2021","following":false,"user":{"id":15908631,"id_str":"15908631","name":"Gavin
        Sheridan","screen_name":"gavinsblog","location":"Cork ","description":"CEO
        @Vizlegal | Co-founder @righttoknowie | #FOIA, #legaltech, journalism, data,
        OSINT, futurism | Fmr Innovation Dir @Storyful | Substack sub \ud83d\udc47","url":"https:\/\/t.co\/aWGHDAo15Y","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/aWGHDAo15Y","expanded_url":"https:\/\/gav.substack.com","display_url":"gav.substack.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":36460,"friends_count":9922,"listed_count":996,"created_at":"Tue
        Aug 19 19:51:23 +0000 2008","favourites_count":15751,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":112090,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C6E2EE","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme2\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme2\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1414353036047175684\/Z-ku3TiA_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1414353036047175684\/Z-ku3TiA_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/15908631\/1583101274","profile_link_color":"1B95E0","profile_sidebar_border_color":"C6E2EE","profile_sidebar_fill_color":"DAECF4","profile_text_color":"663B12","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]}},{"id":1408296839863058435,"id_str":"1408296839863058435","name":"midmowx","uri":"\/kearneymw\/lists\/1408296839863058435","subscriber_count":0,"member_count":12,"mode":"public","description":"","slug":"1408296839863058435","full_name":"@kearneymw\/1408296839863058435","created_at":"Fri
        Jun 25 05:31:46 +0000 2021","following":false,"user":{"id":2973406683,"id_str":"2973406683","name":"Mike
        Kearney\ud83d\udcca\ud83c\uddfa\ud83c\udde6","screen_name":"kearneymw","location":"Colu[...]
