http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/memberships.json?screen_name=kearneymw&filter_to_owned_lists=TRUE&count=200&cursor=-1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 20 Jul 2022 16:12:05 GMT
      x-transaction: e8ca28f2e8d77c8c
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '75'
      x-rate-limit-reset: '1658334197'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '73'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '154'
      x-connection-hash: ccfb34807bdcd0d758d735abe84ced3ffae3ce919302a587df991c730124e514
    body:
      encoding: UTF-8
      file: no
      string: '{"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0","lists":[{"id":1365679109435752448,"id_str":"1365679109435752448","name":"test-memberships","uri":"\/rtweet_test\/lists\/test-memberships-66661","subscriber_count":0,"member_count":1,"mode":"public","description":"","slug":"test-memberships-66661","full_name":"@rtweet_test\/test-memberships-66661","created_at":"Sat
        Feb 27 15:04:07 +0000 2021","following":true,"user":{"id":1365671359137873920,"id_str":"1365671359137873920","name":"rtweet-test","screen_name":"rtweet_test","location":"","description":"Testing
        bot for rtweet","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":4,"friends_count":2,"listed_count":0,"created_at":"Sat
        Feb 27 14:33:58 +0000 2021","favourites_count":12,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":997,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]}}]}'
  recorded_at: 2022-07-20 16:12:05 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
