http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/lookup.json?screen_name=alexpghayes
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 11:09:27 GMT
      x-transaction: 6809cb0819826e21
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1648293866'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '895'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '143'
      x-connection-hash: e6e021bb20774957f8ee78e56109b4359e20d2402124da08c449287e88488b83
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":780429268866052096,"id_str":"780429268866052096","name":"alex
        hayes","screen_name":"alexpghayes","location":"","description":"stats phd
        student @ uw-madison. #rstats \ud83c\udf89 & networks. he\/him","url":"https:\/\/t.co\/MqZFJKZHbJ","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/MqZFJKZHbJ","expanded_url":"http:\/\/www.alexpghayes.com\/","display_url":"alexpghayes.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":4725,"friends_count":1108,"listed_count":100,"created_at":"Mon
        Sep 26 15:30:12 +0000 2016","favourites_count":44203,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":7354,"lang":null,"status":{"created_at":"Fri
        Mar 25 18:04:47 +0000 2022","id":1507418232902369287,"id_str":"1507418232902369287","text":"@lrvarshney
        @_onionesque also https:\/\/t.co\/hDyw67VcUZ","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"lrvarshney","name":"Lav
        Varshney","id":1439446945,"id_str":"1439446945","indices":[0,11]},{"screen_name":"_onionesque","name":"Shubhendu
        Trivedi","id":16548937,"id_str":"16548937","indices":[12,24]}],"urls":[{"url":"https:\/\/t.co\/hDyw67VcUZ","expanded_url":"http:\/\/arxiv.org\/abs\/1401.5093","display_url":"arxiv.org\/abs\/1401.5093","indices":[30,53]}]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":1507417545854361605,"in_reply_to_status_id_str":"1507417545854361605","in_reply_to_user_id":780429268866052096,"in_reply_to_user_id_str":"780429268866052096","in_reply_to_screen_name":"alexpghayes","geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":2,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1109556614992924674\/snZRCQ_k_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1109556614992924674\/snZRCQ_k_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/780429268866052096\/1584420758","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]}]'
  recorded_at: 2022-03-26 11:09:27 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
