http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/lookup.json?screen_name=cnn%2Cpotus%2Ctwitter%2Ckearneymw
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 11:09:26 GMT
      x-transaction: eb3d1a6542306d2c
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1648293866'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '899'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '147'
      x-connection-hash: e6e021bb20774957f8ee78e56109b4359e20d2402124da08c449287e88488b83
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":759251,"id_str":"759251","name":"CNN","screen_name":"CNN","location":"","description":"It\u2019s
        our job to #GoThere & tell the most difficult stories. For breaking news,
        follow @CNNBRK and download our app https:\/\/t.co\/ceNBoNi8y6\n\n@CNNPlus
        - Streaming 3\/29","url":"https:\/\/t.co\/imGp4Ieixi","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/imGp4Ieixi","expanded_url":"http:\/\/www.cnn.com","display_url":"cnn.com","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/ceNBoNi8y6","expanded_url":"http:\/\/cnn.com\/apps","display_url":"cnn.com\/apps","indices":[115,138]}]}},"protected":false,"followers_count":57286780,"friends_count":1105,"listed_count":153936,"created_at":"Fri
        Feb 09 00:35:02 +0000 2007","favourites_count":1401,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":369219,"lang":null,"status":{"created_at":"Sat
        Mar 26 11:00:16 +0000 2022","id":1507673787130601473,"id_str":"1507673787130601473","text":"Tyler
        Jacob, a native of Minnesota, was freed from detention in Russia on Friday,
        the office of Sen. Amy Klobuchar\u2026 https:\/\/t.co\/Mg2cjwfEI6","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/Mg2cjwfEI6","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1507673787130601473","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[116,139]}]},"source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":18,"favorite_count":93,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"323232","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1278259160644227073\/MfCyF7CG_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1278259160644227073\/MfCyF7CG_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/759251\/1646233344","profile_link_color":"004287","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"EEEEEE","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular","withheld_in_countries":[]},{"id":1349149096909668363,"id_str":"1349149096909668363","name":"President
        Biden","screen_name":"POTUS","location":"","description":"46th President of
        the United States, husband to @FLOTUS, proud dad & pop. Tweets may be archived:
        https:\/\/t.co\/HDhBZBlifs","url":"https:\/\/t.co\/MzB1JWfJyy","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/MzB1JWfJyy","expanded_url":"http:\/\/WhiteHouse.gov","display_url":"WhiteHouse.gov","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/HDhBZBlifs","expanded_url":"http:\/\/whitehouse.gov\/privacy","display_url":"whitehouse.gov\/privacy","indices":[98,121]}]}},"protected":false,"followers_count":20458550,"friends_count":12,"listed_count":17143,"created_at":"Wed
        Jan 1[...]
