http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/lookup.json?screen_name=potus%2Chillaryclinton%2Crealdonaldtrump%2Cfivethirtyeight%2Ccnn%2Cespn%2Ctwitter
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 11:09:26 GMT
      x-transaction: 9ed925704b38b230
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1648293866'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '898'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '159'
      x-connection-hash: e6e021bb20774957f8ee78e56109b4359e20d2402124da08c449287e88488b83
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":1349149096909668363,"id_str":"1349149096909668363","name":"President
        Biden","screen_name":"POTUS","location":"","description":"46th President of
        the United States, husband to @FLOTUS, proud dad & pop. Tweets may be archived:
        https:\/\/t.co\/HDhBZBlifs","url":"https:\/\/t.co\/MzB1JWfJyy","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/MzB1JWfJyy","expanded_url":"http:\/\/WhiteHouse.gov","display_url":"WhiteHouse.gov","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/HDhBZBlifs","expanded_url":"http:\/\/whitehouse.gov\/privacy","display_url":"whitehouse.gov\/privacy","indices":[98,121]}]}},"protected":false,"followers_count":20458535,"friends_count":12,"listed_count":17143,"created_at":"Wed
        Jan 13 00:37:08 +0000 2021","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":2767,"lang":null,"status":{"created_at":"Fri
        Mar 25 19:46:11 +0000 2022","id":1507443750976557075,"id_str":"1507443750976557075","text":"Today,
        we announced a new groundbreaking initiative between the European Union and
        the United States to reduce Euro\u2026 https:\/\/t.co\/uuo3lX5J3I","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/uuo3lX5J3I","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1507443750976557075","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"source":"\u003ca
        href=\"https:\/\/www.sprinklr.com\" rel=\"nofollow\"\u003eThe White House\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":2702,"favorite_count":15479,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1380530524779859970\/TfwVAbyX_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1380530524779859970\/TfwVAbyX_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1349149096909668363\/1646272528","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},{"id":1339835893,"id_str":"1339835893","name":"Hillary
        Clinton","screen_name":"HillaryClinton","location":"New York, NY","description":"2016
        Democratic Nominee, SecState, Senator, hair icon. Mom, Wife, Grandma x3, lawyer,
        advocate, fan of walks in the woods & standing up for our democracy.","url":"https:\/\/t.co\/99DVW9q1yt","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/99DVW9q1yt","expanded_url":"http:\/\/onwardtogether.org","display_url":"onwardtogether.org","i[...]
