http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/lookup.json?screen_name=Corey_Yanofsky
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 11:09:27 GMT
      x-transaction: 427689f17539c17a
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1648293866'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '896'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '138'
      x-connection-hash: e6e021bb20774957f8ee78e56109b4359e20d2402124da08c449287e88488b83
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":1289918540,"id_str":"1289918540","name":"Corey Yanofsky, \u03b1-stable
        statistician","screen_name":"Corey_Yanofsky","location":"Ottawa, Ontario","description":"Have
        you heard the Good News of Bayes'' Theorem? #rstats, he\/him","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1634,"friends_count":2795,"listed_count":16,"created_at":"Fri
        Mar 22 23:29:39 +0000 2013","favourites_count":93007,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":21260,"lang":null,"status":{"created_at":"Sat
        Mar 26 06:24:10 +0000 2022","id":1507604303158128640,"id_str":"1507604303158128640","text":"@frogs4girls
        the thirst traps are great and all but this is the stuff i follow you for","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"frogs4girls","name":"worm
        food \u2728\ud83c\udf38\u2728","id":1037209875716231169,"id_str":"1037209875716231169","indices":[0,12]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":1507556253991546882,"in_reply_to_status_id_str":"1507556253991546882","in_reply_to_user_id":1037209875716231169,"in_reply_to_user_id_str":"1037209875716231169","in_reply_to_screen_name":"frogs4girls","geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1008526309612445696\/5k6GJ_HS_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1008526309612445696\/5k6GJ_HS_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]}]'
  recorded_at: 2022-03-26 11:09:27 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
