http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/mentions_timeline.json?count=200
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Thu, 28 Apr 2022 19:22:32 GMT
      status: 200 OK
      x-access-level: read-write-directmessages
      x-app-rate-limit-limit: '100000'
      x-app-rate-limit-remaining: '99994'
      x-app-rate-limit-reset: '1651259318'
      x-connection-hash: 671c11f2d10c0b4fc6fe85a1319d4f46092eabcb0bac1c5a0b5662c250ebf55e
      x-rate-limit-limit: '75'
      x-rate-limit-remaining: '69'
      x-rate-limit-reset: '1651173818'
      x-response-time: '148'
      x-transaction: 08044ac0da6c1246
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Mon Apr 25 22:13:07 +0000 2022","id":1518714749458001926,"id_str":"1518714749458001926","text":"@rtweet_test
        again for mentions","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"rtweet_test","name":"rtweet-test","id":1365671359137873920,"id_str":"1365671359137873920","indices":[0,12]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":1365671359137873920,"in_reply_to_user_id_str":"1365671359137873920","in_reply_to_screen_name":"rtweet_test","user":{"id":1051050384,"id_str":"1051050384","name":"Llu\u00eds
        Revilla Sancho","screen_name":"Lluis_Revilla","location":"Barcelona","description":"#Bioinformatician
        at @ibd_bcn, #rstats. Statistics, some data for good, some random thoughts\/tweets
        and ideas","url":"https:\/\/t.co\/DygIZ8XzsU","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/DygIZ8XzsU","expanded_url":"https:\/\/llrs.dev","display_url":"llrs.dev","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":460,"friends_count":339,"listed_count":17,"created_at":"Mon
        Dec 31 19:49:18 +0000 2012","favourites_count":9228,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":4634,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1310592398230253569\/LfwpkgDK_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1310592398230253569\/LfwpkgDK_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1051050384\/1357042660","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Sat
        Feb 27 15:06:56 +0000 2021","id":1365679820416368642,"id_str":"1365679820416368642","text":"@rtweet_test
        test","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"rtweet_test","name":"rtweet-test","id":1365671359137873920,"id_str":"1365671359137873920","indices":[0,12]}],"urls":[]},"source":"\u003ca
        href=\"https:\/\/tapbots.com\/software\/tweetbot\/mac\" rel=\"nofollow\"\u003eTweetbot
        for [...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/mentions_timeline.json?since_id=1518714749458001920&count=200
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Thu, 28 Apr 2022 19:22:32 GMT
   [...]
