http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/mentions_timeline.json?count=200
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 19 Mar 2022 12:36:09 GMT
      x-transaction: a42ef1657b62bbf3
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '75'
      x-rate-limit-reset: '1647694269'
      content-disposition: attachment; filename=json.json
      x-app-rate-limit-limit: '100000'
      x-app-rate-limit-reset: '1647775371'
      x-rate-limit-remaining: '74'
      x-twitter-response-tags: BouncerCompliant
      x-app-rate-limit-remaining: '99990'
      x-response-time: '143'
      x-connection-hash: d9efa132ad6e9c5596438635df95279d79c235738a8a1caf6046bf8c75f1eb50
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Sat Feb 27 15:06:56 +0000 2021","id":1365679820416368642,"id_str":"1365679820416368642","text":"@rtweet_test
        test","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"rtweet_test","name":"rtweet-test","id":1365671359137873920,"id_str":"1365671359137873920","indices":[0,12]}],"urls":[]},"source":"\u003ca
        href=\"https:\/\/tapbots.com\/software\/tweetbot\/mac\" rel=\"nofollow\"\u003eTweetbot
        for Mac\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":1365671359137873920,"in_reply_to_user_id_str":"1365671359137873920","in_reply_to_screen_name":"rtweet_test","user":{"id":69133574,"id_str":"69133574","name":"Hadley
        Wickham","screen_name":"hadleywickham","location":"Houston, TX","description":"R,
        data, visualisation, \ud83d\udc15, \ud83c\udf78, \ud83c\udf08. He\/him","url":"https:\/\/t.co\/DWqWlxbOKK","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/DWqWlxbOKK","expanded_url":"http:\/\/hadley.nz","display_url":"hadley.nz","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":131252,"friends_count":283,"listed_count":3168,"created_at":"Wed
        Aug 26 23:34:46 +0000 2009","favourites_count":25644,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":41571,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"022330","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/905186381995147264\/7zKAG5sY_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/905186381995147264\/7zKAG5sY_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/69133574\/1404410942","profile_link_color":"0084B4","profile_sidebar_border_color":"A8C7F7","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"}]'
  recorded_at: 2022-03-19 12:36:10 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
