http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json?status=status message
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 15:38:07 GMT
      status: 200 OK
      x-access-level: read-write-directmessages
      x-connection-hash: 04a0aec39ad2b78915850880ee2cdd899c407356bd6c6c430c27c8a8f5d859c8
      x-response-time: '155'
      x-transaction: dc19c0d6cddff9d4
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '{"created_at":"Sat Mar 26 15:38:07 +0000 2022","id":1507743709839994885,"id_str":"1507743709839994885","text":"test
        favourite 2022-03-26 16:38:07","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/help.twitter.com\/en\/using-twitter\/how-to-tweet#source-labels\"
        rel=\"nofollow\"\u003ertweet_test_ci\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1365671359137873920,"id_str":"1365671359137873920","name":"rtweet-test","screen_name":"rtweet_test","location":"","description":"Testing
        bot for rtweet","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":1,"listed_count":0,"created_at":"Sat
        Feb 27 14:33:58 +0000 2021","favourites_count":10,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":924,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"fr"}'
  recorded_at: 2022-03-26 15:38:08 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: post
    uri: https://api.twitter.com/1.1/favorites/create.json?id=1507743709839994885
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 15:38:07 GMT
     [...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/favorites/destroy.json?id=1507743709839994885
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 15:38:08 GMT
    [...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/destroy/1507743709839994885.json
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 15:38:08 GMT
      x-[...]
