http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/application/rate_limit_status.json
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sat, 26 Mar 2022 10:49:16 GMT
      x-rate-limit-limit: '180'
      x-rate-limit-reset: '1648292655'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '177'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '124'
      x-connection-hash: f78ec2a2178dc79626e48785e0852503b1d3ca9f90337a5063bc44ca8d60d211
    body:
      encoding: UTF-8
      file: no
      string: '{"rate_limit_context":{"access_token":"1365671359137873920-AIgeYjR21dACL4skWaH5g6ZEWYH3Cs"},"resources":{"lists":{"/lists/list":{"limit":15,"remaining":15,"reset":1648292656},"/lists/:id/tweets&GET":{"limit":900,"remaining":900,"reset":1648292656},"/lists/:id/followers&GET":{"limit":180,"remaining":180,"reset":1648292656},"/lists/memberships":{"limit":75,"remaining":74,"reset":1648292604},"/lists/:id&DELETE":{"limit":300,"remaining":300,"reset":1648292656},"/lists/subscriptions":{"limit":15,"remaining":15,"reset":1648292656},"/lists/members":{"limit":900,"remaining":898,"reset":1648292600},"/lists/:id&GET":{"limit":75,"remaining":75,"reset":1648292656},"/lists/subscribers/show":{"limit":15,"remaining":15,"reset":1648292656},"/lists/:id&PUT":{"limit":300,"remaining":300,"reset":1648292656},"/lists/show":{"limit":75,"remaining":75,"reset":1648292656},"/lists/ownerships":{"limit":15,"remaining":15,"reset":1648292656},"/lists/:id/members/:user_id&DELETE":{"limit":300,"remaining":300,"reset":1648292656},"/lists/subscribers":{"limit":180,"remaining":179,"reset":1648292614},"/lists/:id/members&POST":{"limit":300,"remaining":300,"reset":1648292656},"/lists/:id/members&GET":{"limit":900,"remaining":900,"reset":1648292656},"/lists/members/show":{"limit":15,"remaining":15,"reset":1648292656},"/lists/statuses":{"limit":900,"remaining":898,"reset":1648292605}},"application":{"/application/rate_limit_status":{"limit":180,"remaining":180,"reset":1648292656}},"mutes":{"/mutes/users/list":{"limit":15,"remaining":15,"reset":1648292656},"/mutes/users/ids":{"limit":15,"remaining":15,"reset":1648292656}},"verify":{"/verify/:version/badge-violation":{"limit":15,"remaining":15,"reset":1648292656},"/verify/:version/badge-violation/violations":{"limit":15,"remaining":15,"reset":1648292656},"/verify/:version/intake":{"limit":15,"remaining":15,"reset":1648292656},"/verify/:version/document-formats":{"limit":15,"remaining":15,"reset":1648292656},"/verify/:version/id-document&GET":{"limit":1000,"remaining":1000,"reset":1648292656},"/verify/:version/id-document&POST":{"limit":15,"remaining":15,"reset":1648292656},"/verify/:version/access":{"limit":15,"remaining":15,"reset":1648292656},"/verify/:version/account-eligibility":{"limit":15,"remaining":15,"reset":1648292656}},"admin_users":{"/admin_users":{"limit":2000,"remaining":2000,"reset":1648292656}},"live_video_stream":{"/live_video_stream/status/:id":{"limit":1000,"remaining":1000,"reset":1648292656}},"friendships":{"/friendships/outgoing":{"limit":15,"remaining":15,"reset":1648292656},"/friendships/list":{"limit":200,"remaining":200,"reset":1648292656},"/friendships/no_retweets/ids":{"limit":15,"remaining":15,"reset":1648292656},"/friendships/lookup":{"limit":15,"remaining":15,"reset":1648292656},"/friendships/incoming":{"limit":15,"remaining":15,"reset":1648292656},"/friendships/show":{"limit":180,"remaining":180,"reset":1648292656}},"guide":{"/guide":{"limit":180,"remaining":180,"reset":1648292656},"/guide/get_explore_locations":{"limit":100,"remaining":100,"reset":1648292656},"/guide/explore_locations_with_autocomplete":{"limit":200,"remaining":200,"reset":1648292656}},"auth":{"/auth/csrf_token":{"limit":15,"remaining":15,"reset":1648292656}},"compliance":{"/compliance/jobs&POST":{"limit":150,"remaining":150,"reset":1648292656},"/compliance/jobs&GET":{"limit":150,"remaining":150,"reset":1648292656},"/compliance/jobs/:job_id":{"limit":150,"remaining":150,"reset":1648292656}},"paseto":{"/paseto/token":{"limit":100,"remaining":100,"reset":1648292656}},"blocks":{"/blocks/list":{"limit":15,"remaining":15,"reset":1648292656},"/blocks/ids":{"limit":15,"remaining":15,"reset":1648292656}},"geo":{"/geo/similar_places":{"limit":15,"remaining":15,"reset":1648292656},"/geo/place_page":{"limit":75,"remaining":75,"reset":1648292656},"/geo/id/:place_id":{"limit":75,"remaining":75,"reset":1648292656},"/geo/reverse_geocode":{"limit":15,"remaining":15,"reset":1648292656},"/geo/search":{"limit":15,"remaining":15,"reset":1648292656}},"users":{"/users/":{"limit":900,"remaining":900,"reset":1648292656},"/users/:id/list_memberships&GET":{"limit":75,"remaining":75,"reset":1648292656},"/users/:id":{"limit":900,"remaining":900,"reset":1648292656},"/users/:id/muting&POST":{"limit":50,"remaining":50,"reset":1648292656},"/users/report_spam":{"limit":15,"remaining":15,"reset":1648292656},"/users/:id/pinned_lists/:list_id&DELETE":{"limit":50,"remaining":50,"reset":1648292656},"/users/:source_user_id/blocking/:target_user_id&DELETE":{"limit":50[...]
