http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=abcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabc&result_type=mixed&tweet_mode=extended&include_ext_alt_text=true&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 10:49:19 GMT
      x-transaction: 32f6634593bbcd99
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '180'
      x-rate-limit-reset: '1648292657'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '178'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '121'
      x-connection-hash: f78ec2a2178dc79626e48785e0852503b1d3ca9f90337a5063bc44ca8d60d211
    body:
      encoding: UTF-8
      file: no
      string: '{"statuses":[],"search_metadata":{"completed_in":0.009,"max_id":1507671026632736768,"max_id_str":"1507671026632736768","query":"abcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabc","refresh_url":"?since_id=1507671026632736768&q=abcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabc&result_type=mixed&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: 2022-03-26 10:49:19 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
