http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=advanced_recycling%20-filter%3Aretweets&result_type=mixed&tweet_mode=extended&include_ext_alt_text=true&lang=en&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Tue, 24 May 2022 21:19:43 GMT
      status: 200 OK
      x-access-level: read-write-directmessages
      x-connection-hash: d155f3dcd0964988a0fc5a710e09d9b4106ef8cf445b84842dc2b229913ef057
      x-rate-limit-limit: '180'
      x-rate-limit-remaining: '161'
      x-rate-limit-reset: '1653427532'
      x-response-time: '532'
      x-transaction: 6898fa691f843f06
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '{"statuses":[{"created_at":"Tue May 24 19:02:17 +0000 2022","id":1529175974973169664,"id_str":"1529175974973169664","full_text":"How
        does advanced recycling work? By breaking down plastic to the monomer, used
        plastic can be transformed into thousands of consumer products. https:\/\/t.co\/N7MfgWDDnV","truncated":false,"display_text_range":[0,143],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1529175970523107329,"id_str":"1529175970523107329","indices":[144,167],"media_url":"http:\/\/pbs.twimg.com\/media\/FTi5cXoX0AENcIW.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/FTi5cXoX0AENcIW.png","url":"https:\/\/t.co\/N7MfgWDDnV","display_url":"pic.twitter.com\/N7MfgWDDnV","expanded_url":"https:\/\/twitter.com\/AFPMonline\/status\/1529175974973169664\/photo\/1","type":"photo","sizes":{"large":{"w":961,"h":540,"resize":"fit"},"small":{"w":680,"h":382,"resize":"fit"},"medium":{"w":961,"h":540,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"}}}]},"extended_entities":{"media":[{"id":1529175970523107329,"id_str":"1529175970523107329","indices":[144,167],"media_url":"http:\/\/pbs.twimg.com\/media\/FTi5cXoX0AENcIW.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/FTi5cXoX0AENcIW.png","url":"https:\/\/t.co\/N7MfgWDDnV","display_url":"pic.twitter.com\/N7MfgWDDnV","expanded_url":"https:\/\/twitter.com\/AFPMonline\/status\/1529175974973169664\/photo\/1","type":"photo","sizes":{"large":{"w":961,"h":540,"resize":"fit"},"small":{"w":680,"h":382,"resize":"fit"},"medium":{"w":961,"h":540,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"}}}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/storychief.io\" rel=\"nofollow\"\u003eStory Chief\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":282082957,"id_str":"282082957","name":"AFPM","screen_name":"AFPMonline","location":"Washington,
        D.C.","description":"American Fuel & Petrochemical Manufacturers represents
        the makers of the fuels that keep us moving and the petrochemical building
        blocks for modern life.","url":"https:\/\/t.co\/9AOFHCQotF","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/9AOFHCQotF","expanded_url":"http:\/\/www.afpm.org","display_url":"afpm.org","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":17631,"friends_count":1187,"listed_count":165,"created_at":"Thu
        Apr 14 14:24:32 +0000 2011","favourites_count":2116,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":8111,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1042937258666610688\/3c9PvOIz_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1042937258666610688\/3c9PvOIz_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/282082957\/1622039571","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Tue
        May 24 19:00:20 +0000 2022","id":1529175484482867202,"id_str":"1529175484482867202","full_text":"Did
        you know: #AdvancedRecycling turns used plastic into building blocks for new
        items, reducing the need for natural resources?\n\nHere\u2019s an interactive
        guide from @InsiderStudios to learn more: https:\/\/t.co\/Y2TYyZ5kpQ https:\/\/t.co\/3oVQ4MRbRu","truncated":false,"display_text_range":[0,217],"entities":{"hashtags":[{"text":"AdvancedRecycling","indices":[14,32]}],"symbols":[],"user_mentions":[{"screen_name":"InsiderStudios","name":"Insider
        Studios","id":2724125749,"id_str":"2724125749","indices":[163,178]}],"urls":[{"url":"https:\/\/t.co\/Y2TYyZ5kpQ","expanded_url":"https:\/\/bit.ly\/3LlLrl5","display_url":"bit.ly\/3LlLrl5","indices":[194,217]}],"media":[{"id":1529174247645511680,"id_str":"1529174247645511680","indices":[218,241],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1529174247645511680\/[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=advanced_recycling%20-filter%3Aretweets&result_type=mixed&tweet_mode=extended&include_ext_alt_text=true&lang=en&count=100&max_id=1527314810320302083
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      [...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=advanced_recycling%20-filter%3Aretweets&result_type=mixed&tweet_mode=extended&include_ext_alt_text=true&lang=en&count=100&max_id=1526227810032951297
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 24 May 2022 21:19:44 GMT
      x-transaction: 9a51d0b920e19ef9
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '180'
      x-rate-limit-reset: '1653427532'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '159'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '258'
      x-connection-hash: d155f3dcd0964988a0fc5a710e09d9b4106ef8cf445b84842dc2b229913ef057
    body:
      encoding: UTF-8
      file: no
      string: '{"statuses":[{"created_at":"Mon May 16 15:43:07 +0000 2022","id":1526226747552739328,"id_str":"1526226747552739328","full_text":"Advanced
        recycling: Opportunities for growth https:\/\/t.co\/zHnN6TNnnM https:\/\/t.co\/NUNFxNUAfj","truncated":false,"display_text_range":[0,68],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/zHnN6TNnnM","expanded_url":"http:\/\/dlvr.it\/SQT5Zs","display_url":"dlvr.it\/SQT5Zs","indices":[45,68]}],"media":[{"id":1526226744847478784,"id_str":"1526226744847478784","indices":[69,92],"media_url":"http:\/\/pbs.twimg.com\/media\/FS4_I11VsAA2QFb.jpg","media_url_https":"https:\/\[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=advanced_recycling%20-filter%3Aretweets&result_type=mixed&tweet_mode=extended&include_ext_alt_text=true&lang=en&count=100&max_id=1526140807463460865
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 24 May 2022 21:19:45 GMT
      x-transaction: 42ac71230eb3434b
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '180'
      x-rate-limit-reset: '1653427532'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '158'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '125'
      x-connection-hash: d155f3dcd0964988a0fc5a710e09d9b4106ef8cf445b84842dc2b229913ef057
    body:
      encoding: UTF-8
      file: no
      string: '{"statuses":[],"search_metadata":{"completed_in":0.008,"max_id":1526140807463460865,"max_id_str":"1526140807463460865","query":"advanced_recycling+-filter%3Aretweets","refresh_url":"?since_id=1526140807463460865&q=advanced_recycling%20-filter%3Aretweets&lang=en&result_type=mixed&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: 2022-05-24 21:19:47 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
