http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=advanced_recycling%20-filter%3Aretweets&result_type=mixed&tweet_mode=extended&include_ext_alt_text=true&lang=en&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Sun, 22 May 2022 15:13:47 GMT
      status: 200 OK
      x-access-level: read-write-directmessages
      x-connection-hash: a040bb8af4dbd17165c6bf26dd53f454362ef8943eef9c51e23213936459741c
      x-rate-limit-limit: '180'
      x-rate-limit-remaining: '177'
      x-rate-limit-reset: '1653233290'
      x-response-time: '392'
      x-transaction: 7a7ec6b77486c4fc
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '{"statuses":[{"created_at":"Sun May 22 14:26:08 +0000 2022","id":1528381701042360320,"id_str":"1528381701042360320","full_text":"Oil
        &amp; chemical companies, including #Exxon, are now pushing a new idea: #AdvancedRecycling.\n\nEnvironmentalists,
        however, say it\u2019s more of the same old #greenwash.\n\nRead more about
        @exxonmobil &amp; advanced recycling \ud83d\udc47\nhttps:\/\/t.co\/CxHzSfw1ua","truncated":false,"display_text_range":[0,246],"entities":{"hashtags":[{"text":"Exxon","indices":[40,46]},{"text":"AdvancedRecycling","indices":[76,94]},{"text":"greenwash","indices":[155,165]}],"symbols":[],"user_mentions":[{"screen_name":"exxonmobil","name":"ExxonMobil","id":36665547,"id_str":"36665547","indices":[184,195]}],"urls":[{"url":"https:\/\/t.co\/CxHzSfw1ua","expanded_url":"https:\/\/buff.ly\/3wBguFt","display_url":"buff.ly\/3wBguFt","indices":[223,246]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/buffer.com\" rel=\"nofollow\"\u003eBuffer\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2507144761,"id_str":"2507144761","name":"impakterdotcom","screen_name":"impakterdotcom","location":"info
        [at] impakter.com","description":"\ud83c\udf0d Sustainable News + Articles
        by staff & experts from the international community: UN & Global Organisations
        #TakeAction\n\nDon''t influence, impakt!","url":"https:\/\/t.co\/mLJdyn4JA5","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/mLJdyn4JA5","expanded_url":"https:\/\/impakter.com\/","display_url":"impakter.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":14516,"friends_count":5732,"listed_count":477,"created_at":"Mon
        May 19 11:08:19 +0000 2014","favourites_count":11791,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":30529,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1279050575527792641\/wrEvHKys_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1279050575527792641\/wrEvHKys_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2507144761\/1593784490","profile_link_color":"000000","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":5,"favorite_count":4,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sun
        May 22 14:19:04 +0000 2022","id":1528379924972572674,"id_str":"1528379924972572674","full_text":"#Exxon
        Doubles Down on \u2018Advanced Recycling\u2019 Claims That Yield Few Results
        https:\/\/t.co\/Sh93g7sgXZ via @DeSmog","truncated":false,"display_text_range":[0,109],"entities":{"hashtags":[{"text":"Exxon","indices":[0,6]}],"symbols":[],"user_mentions":[{"screen_name":"DeSmog","name":"DeSmog","id":5907272,"id_str":"5907272","indices":[102,109]}],"urls":[{"url":"https:\/\/t.co\/Sh93g7sgXZ","expanded_url":"https:\/\/scq.io\/OkuodNb","display_url":"scq.io\/OkuodNb","indices":[74,97]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"htt[...]
