http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=%23rstats&result_type=mixed&tweet_mode=extended&include_ext_alt_text=true&count=50
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 12:12:51 GMT
      status: 200 OK
      x-access-level: read-write-directmessages
      x-connection-hash: 62d4f00f5ad18549f90d59927ff73ce959b7dafd9badfd5c0554ea823e2a2f2c
      x-rate-limit-limit: '180'
      x-rate-limit-remaining: '178'
      x-rate-limit-reset: '1648296988'
      x-response-time: '576'
      x-transaction: 8b5f677585a3cd93
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '{"statuses":[{"created_at":"Thu Mar 24 13:21:07 +0000 2022","id":1506984457034772484,"id_str":"1506984457034772484","full_text":"This
        is your semi-regular reminder that the tidyverse is useless without base R.
        Take this code:\n\ndf |&gt; \n  mutate(z = sqrt(x^2 - y^2)) |&gt; \n  filter(abs(z)
        &gt; 10)\n\nIt uses 7 functions, but only 2 are from the tidyverse #rstats","truncated":false,"display_text_range":[0,233],"entities":{"hashtags":[{"text":"rstats","indices":[226,233]}],"symbols":[],"user_mentions":[],"urls":[]},"metadata":{"result_type":"popular","iso_language_code":"en"},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":69133574,"id_str":"69133574","name":"Hadley
        Wickham","screen_name":"hadleywickham","location":"Houston, TX","description":"R,
        data, visualisation, \ud83d\udc15, \ud83c\udf78, \ud83c\udf08. He\/him","url":"https:\/\/t.co\/DWqWlxbOKK","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/DWqWlxbOKK","expanded_url":"http:\/\/hadley.nz","display_url":"hadley.nz","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":131576,"friends_count":283,"listed_count":3171,"created_at":"Wed
        Aug 26 23:34:46 +0000 2009","favourites_count":25698,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":41605,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"022330","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/905186381995147264\/7zKAG5sY_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/905186381995147264\/7zKAG5sY_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/69133574\/1404410942","profile_link_color":"0084B4","profile_sidebar_border_color":"A8C7F7","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":61,"favorite_count":619,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Tue
        Mar 22 20:46:43 +0000 2022","id":1506371820349448199,"id_str":"1506371820349448199","full_text":"FREE
        downloadable PDF eBooks, including this 475-page book &gt;&gt; R Programming
        Notes for Professionals \u2014 hints &amp; tricks: https:\/\/t.co\/GxrKsRLgYo\n\u2014\u2014\u2014\u2014\u2014\n#Coding
        #RStats #Statistics #BigData #DataScientists #MachineLearning #DataScience
        #100DaysOfCode https:\/\/t.co\/N4xFXjsTBN","truncated":false,"display_text_range":[0,255],"entities":{"hashtags":[{"text":"Coding","indices":[158,165]},{"text":"RStats","indices":[166,173]},{"text":"Statistics","indices":[174,185]},{"text":"BigData","indices":[186,194]},{"text":"DataScientists","indices":[195,210]},{"text":"MachineLearning","indices":[211,227]},{"text":"DataScience","indices":[228,240]},{"text":"100DaysOfCode","indices":[241,255]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/GxrKsRLgYo","expanded_url":"http:\/\/books.goalkicker.com\/RBook\/","display_url":"books.goalkicker.com\/RBook\/","indices":[128,151]}],"media":[{"id":1506371817933615105,"id_str":"1506371817933615105","indices":[256,279],"media_url":"http:\/\/pbs.twimg.com\/media\/FOe1L_OXsAEKnOv.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FOe1L_OXsAEKnOv.jpg","url":"https:\/\/t.co\/N4xFXjsTBN","display_url":"pic.twitter.com\/N4xFXjsTBN","expanded_url":"https:\/\/twitter.com\/KirkDBorne\/status\/1506371820349448199\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":482,"h":680,"resize":"fit"},"medium":{"w":851,"h":1200,"resize":"fit"},"large":{"w":1074,"h":1514,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1506371817933615105,"id_str":"1506371817933615105","indices":[256,279],"media_url":"http:\/\/pbs.twimg.com\/media\/FOe1L_OXsAEKnOv.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FOe1L_OXsAEKnOv.jpg","url":"https:\/\/t.co\/N4xFXjsTBN","display_url":"pic.twitter.com\/N4xFXjsTBN","expanded_url":"https:\/\/twitter.com\/KirkDBorne\/status\/1506371820349448199\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":482,"h":680,"resize":"fit"},[...]
