http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/search.json?q=twitter&count=20&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 10:49:24 GMT
      x-transaction: d036cffbc07e025a
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1648292664'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '899'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '262'
      x-connection-hash: f78ec2a2178dc79626e48785e0852503b1d3ca9f90337a5063bc44ca8d60d211
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":783214,"id_str":"783214","name":"Twitter","screen_name":"Twitter","location":"everywhere","description":"What''s
        happening?!","url":"https:\/\/t.co\/DAtOo6uuHk","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/DAtOo6uuHk","expanded_url":"https:\/\/about.twitter.com\/","display_url":"about.twitter.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":61118466,"friends_count":1,"listed_count":87698,"created_at":"Tue
        Feb 20 14:35:54 +0000 2007","favourites_count":6266,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":14995,"lang":null,"status":{"created_at":"Wed
        Mar 23 20:02:12 +0000 2022","id":1506723004994174981,"id_str":"1506723004994174981","text":"now
        you can search for really important things in your DMs https:\/\/t.co\/pZP6TMYyEN","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1506723000598646797,"id_str":"1506723000598646797","indices":[59,82],"media_url":"http:\/\/pbs.twimg.com\/media\/FOj0lgmX0A0Wnev.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FOj0lgmX0A0Wnev.jpg","url":"https:\/\/t.co\/pZP6TMYyEN","display_url":"pic.twitter.com\/pZP6TMYyEN","expanded_url":"https:\/\/twitter.com\/Twitter\/status\/1506723004994174981\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":1058,"resize":"fit"},"large":{"w":2048,"h":1806,"resize":"fit"},"small":{"w":680,"h":600,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1506723000598646797,"id_str":"1506723000598646797","indices":[59,82],"media_url":"http:\/\/pbs.twimg.com\/media\/FOj0lgmX0A0Wnev.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FOj0lgmX0A0Wnev.jpg","url":"https:\/\/t.co\/pZP6TMYyEN","display_url":"pic.twitter.com\/pZP6TMYyEN","expanded_url":"https:\/\/twitter.com\/Twitter\/status\/1506723004994174981\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":1058,"resize":"fit"},"large":{"w":2048,"h":1806,"resize":"fit"},"small":{"w":680,"h":600,"resize":"fit"}}}]},"source":"\u003ca
        href=\"https:\/\/www.sprinklr.com\" rel=\"nofollow\"\u003eSprinklr\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1692,"favorite_count":17345,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"ACDED6","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1488548719062654976\/u6qfBBkF_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1488548719062654976\/u6qfBBkF_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/783214\/1646075315","profile_link_color":"1B95E0","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"F6F6F6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular","withheld_in_countries":[]},{"id":63796828,"id_str":"63796828","name":"Twitter
        Verified","screen_name":"verified","location":"San Francisco","description":"The
        Verified blue badge source","url":"https:\/\/t.co\/AGLNuhmZ5h","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/AGLNuhmZ5h","expanded_url":"https:\/\/help.twitter.com\/managing-your-account\/about-twitter-verified-accounts","display_url":"help.twitter.com\/managing-your-\u2026","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"f[...]
