http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=%22data%20science%22&result_type=mixed&tweet_mode=extended&include_ext_alt_text=true&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Sun, 24 Apr 2022 21:47:52 GMT
      status: 200 OK
      x-access-level: read-write-directmessages
      x-connection-hash: 0b3792aa70dc1126b80e50d17de87443c75202e3d90c2378ad00f91b383b3b29
      x-rate-limit-limit: '180'
      x-rate-limit-remaining: '179'
      x-rate-limit-reset: '1650837772'
      x-response-time: '455'
      x-transaction: 518c510bfa40c46f
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '{"statuses":[{"created_at":"Sat Apr 23 21:35:00 +0000 2022","id":1517980382980882438,"id_str":"1517980382980882438","full_text":"Data
        doesn\u2019t usually come out clean or with clear guidance. Presenting it
        the right way is a job in itself. https:\/\/t.co\/WZ0mmH6dbp","truncated":false,"display_text_range":[0,131],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/WZ0mmH6dbp","expanded_url":"https:\/\/hbr.org\/2019\/01\/data-science-and-the-art-of-persuasion?utm_medium=social&utm_campaign=hbr&utm_source=twitter&tpcc=orgsocial_edit","display_url":"hbr.org\/2019\/01\/data-s\u2026","indices":[108,131]}]},"metadata":{"result_type":"popular","iso_language_code":"en"},"source":"\u003ca
        href=\"https:\/\/sproutsocial.com\" rel=\"nofollow\"\u003eSprout Social\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14800270,"id_str":"14800270","name":"Harvard
        Business Review","screen_name":"HarvardBiz","location":"","description":"The
        best ideas in business and management to help people, organizations, and economies
        work better.","url":"http:\/\/t.co\/FXkjfGSn3I","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/FXkjfGSn3I","expanded_url":"http:\/\/hbr.org","display_url":"hbr.org","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":5777599,"friends_count":217,"listed_count":51507,"created_at":"Fri
        May 16 15:50:47 +0000 2008","favourites_count":236,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":107278,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"B20021","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1249778961229516806\/8v45jDln_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1249778961229516806\/8v45jDln_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14800270\/1586805499","profile_link_color":"D90000","profile_sidebar_border_color":"D5D5D5","profile_sidebar_fill_color":"EBEBEB","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":25,"favorite_count":85,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sun
        Apr 24 18:04:55 +0000 2022","id":1518289902064091136,"id_str":"1518289902064091136","full_text":"[Free
        PDF Download] Introduction to #Probability for Data Science: https:\/\/t.co\/L51j3udY5j
        by @stanley_h_chan \n\u2014\u2014\u2014\u2014\u2014\n#StatisticalLiteracy
        #Mathematics #AI #BigData #MachineLearning #DataScience #DataScientists #DataLiteracy
        #Statistics https:\/\/t.co\/bUfWPeKLft","truncated":false,"display_text_range":[0,235],"entities":{"hashtags":[{"text":"Probability","indices":[36,48]},{"text":"StatisticalLiteracy","indices":[117,137]},{"text":"Mathematics","indices":[138,150]},{"text":"AI","indices":[151,154]},{"text":"BigData","indices":[155,163]},{"text":"MachineLearning","indices":[164,180]},{"text":"DataScience","indices":[181,193]},{"text":"DataScientists","indices":[194,209]},{"text":"DataLiteracy","indices":[210,223]},{"text":"Statistics","indices":[224,235]}],"symbols":[],"user_mentions":[{"screen_name":"stanley_h_chan","name":"Stanley
        H. Chan","id":1373472847750893569,"id_str":"1373472847750893569","indices":[94,109]}],"urls":[{"url":"https:\/\/t.co\/L51j3udY5j","expanded_url":"http:\/\/probability4datascience.com","display_url":"probability4datascience.com","indices":[67,90]}],"media":[{"id":1518289898268209153,"id_str":"1518289898268209153","indices":[236,259],"media_url":"http:\/\/pbs.twimg.com\/media\/FRIMnkRXMAEhPZ0.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FRIMnkRXMAEhPZ0.jpg","url":"https:\/\/t.co\/bUfWPeKLft","display_url":"pic.twitter.com\/bUfWPeKLft","expanded_url":"https:\/\/twitter.com\/KirkDBorne\/status\/1518289902064091136\/photo\/1","type":"photo","sizes":{"large":{"w":1536,"h":2048,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":510,"h":680,"resize":"fit"},"medium":{"w":900,"h":1200,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1518289898268209153,"id_str":"1518289898268209153","indices":[236,259],"media_url":"http:\/\/pbs.twimg.com\/media\/FRIMnkRXMAEhPZ0.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FRIMnkRXMAEhPZ0.jpg","url":"https:\/\/t.co\/bUfWPeKLft","display_url":"pic.twitter.com\/bUfWPeKLft","expanded_url":"https:\/\/twitter.com\/KirkDBorne\/status\/1518289902064091136\/photo\/1","type":"photo","sizes":{"large":{"w":1536,"h":2048,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=rstats%20OR%20python&result_type=mixed&tweet_mode=extended&include_ext_alt_text=true&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      las[...]
