http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=rstats&result_type=mixed&tweet_mode=extended&include_ext_alt_text=true&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 19 Mar 2022 12:36:42 GMT
      x-transaction: ad0473bec9b72f9d
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '180'
      x-rate-limit-reset: '1647694279'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '173'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '421'
      x-connection-hash: d9efa132ad6e9c5596438635df95279d79c235738a8a1caf6046bf8c75f1eb50
    body:
      encoding: UTF-8
      file: no
      string: '{"statuses":[{"created_at":"Fri Mar 18 22:02:55 +0000 2022","id":1504941443231723522,"id_str":"1504941443231723522","full_text":"We''d
        love to hear you speak at rstudio::conf(2022) so we''ve extended the deadline
        until March 28: https:\/\/t.co\/86MI0nr06c. #rstats","truncated":false,"display_text_range":[0,130],"entities":{"hashtags":[{"text":"rstats","indices":[123,130]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/86MI0nr06c","expanded_url":"https:\/\/www.rstudio.com\/blog\/new-deadline\/","display_url":"rstudio.com\/blog\/new-deadl\u2026","indices":[98,121]}]},"metadata":{"result_type":"popular","iso_language_code":"en"},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":69133574,"id_str":"69133574","name":"Hadley
        Wickham","screen_name":"hadleywickham","location":"Houston, TX","description":"R,
        data, visualisation, \ud83d\udc15, \ud83c\udf78, \ud83c\udf08. He\/him","url":"https:\/\/t.co\/DWqWlxbOKK","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/DWqWlxbOKK","expanded_url":"http:\/\/hadley.nz","display_url":"hadley.nz","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":131253,"friends_count":283,"listed_count":3168,"created_at":"Wed
        Aug 26 23:34:46 +0000 2009","favourites_count":25644,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":41571,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"022330","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/905186381995147264\/7zKAG5sY_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/905186381995147264\/7zKAG5sY_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/69133574\/1404410942","profile_link_color":"0084B4","profile_sidebar_border_color":"A8C7F7","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":25,"favorite_count":57,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Tue
        Mar 15 07:42:32 +0000 2022","id":1503637759499636737,"id_str":"1503637759499636737","full_text":"FREE
        downloadable PDF eBooks, including this 475-page book &gt;&gt; R Programming
        Notes for Professionals \u2014 hints &amp; tricks: https:\/\/t.co\/QePtBiEGQg\n\u2014\u2014\u2014\u2014\u2014\n#Coding
        #RStats #Statistics #BigData #DataScientists #MachineLearning #DataScience
        #100DaysOfCode https:\/\/t.co\/k4FYfCKoKj","truncated":false,"display_text_range":[0,255],"entities":{"hashtags":[{"text":"Coding","indices":[158,165]},{"text":"RStats","indices":[166,173]},{"text":"Statistics","indices":[174,185]},{"text":"BigData","indices":[186,194]},{"text":"DataScientists","indices":[195,210]},{"text":"MachineLearning","indices":[211,227]},{"text":"DataScience","indices":[228,240]},{"text":"100DaysOfCode","indices":[241,255]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/QePtBiEGQg","expanded_url":"https:\/\/books.goalkicker.com\/RBook\/","display_url":"books.goalkicker.com\/RBook\/","indices":[128,151]}],"media":[{"id":1503637756269977600,"id_str":"1503637756269977600","indices":[256,279],"media_url":"http:\/\/pbs.twimg.com\/media\/FN3-kp1WYAAq98a.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FN3-kp1WYAAq98a.jpg","url":"https:\/\/t.co\/k4FYfCKoKj","display_url":"pic.twitter.com\/k4FYfCKoKj","expanded_url":"https:\/\/twitter.com\/KirkDBorne\/status\/1503637759499636737\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1117,"h":1575,"resize":"fit"},"medium":{"w":851,"h":1200,"resize":"fit"},"small":{"w":482,"h":680,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1503637756269977600,"id_str":"1503637756269977600","indices":[256,279],"media_url":"http:\/\/pbs.twimg.com\/media\/FN3-kp1WYAAq98a.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FN3-kp1WYAAq98a.jpg","url":"https:\/\/t.co\/k4FYfCKoKj","display_url":"pic.twitter.com\/k4FYfCKoKj","expanded_url":"https:\/\/twitter.com\/KirkDBorne\/status\/1503637759499636737\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1117,"h":1575,"resize":"fit"[...]
