http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=rstats&result_type=mixed&tweet_mode=extended&include_ext_alt_text=true&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Fri, 12 Aug 2022 18:17:34 GMT
      status: 200 OK
      x-access-level: read-write-directmessages
      x-connection-hash: 045a9d1f656af3e9f43ce045309090399b688a7735a13688ac46b3166bab7312
      x-rate-limit-limit: '180'
      x-rate-limit-remaining: '179'
      x-rate-limit-reset: '1660329154'
      x-response-time: '453'
      x-transaction: e05c568a9c68f800
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '{"statuses":[{"created_at":"Thu Aug 11 11:56:22 +0000 2022","id":1557697431520821249,"id_str":"1557697431520821249","full_text":"Practical
        #Statistics for #DataScientists \u2014 50+ Essential Concepts Using R and
        #Python: https:\/\/t.co\/4TRaP0qjAC by @petercbruce et al.\n\u2014\u2014\u2014\u2014\u2014\u2014\n#BigData
        #DataScience #AI #MachineLearning #Mathematics #StatisticalLiteracy #Coding
        #Rstats #100DaysOfCode https:\/\/t.co\/CxSuZAgl58","truncated":false,"display_text_range":[0,249],"entities":{"hashtags":[{"text":"Statistics","indices":[10,21]},{"text":"DataScientists","indices":[26,41]},{"text":"Python","indices":[79,86]},{"text":"BigData","indices":[142,150]},{"text":"DataScience","indices":[151,163]},{"text":"AI","indices":[164,167]},{"text":"MachineLearning","indices":[168,184]},{"text":"Mathematics","indices":[185,197]},{"text":"StatisticalLiteracy","indices":[198,218]},{"text":"Coding","indices":[219,226]},{"text":"Rstats","indices":[227,234]},{"text":"100DaysOfCode","indices":[235,249]}],"symbols":[],"user_mentions":[{"screen_name":"petercbruce","name":"Peter
        Bruce","id":281846666,"id_str":"281846666","indices":[115,127]}],"urls":[{"url":"https:\/\/t.co\/4TRaP0qjAC","expanded_url":"http:\/\/amzn.to\/2BqU4wE","display_url":"amzn.to\/2BqU4wE","indices":[88,111]}],"media":[{"id":1557697428115136514,"id_str":"1557697428115136514","indices":[250,273],"media_url":"http:\/\/pbs.twimg.com\/media\/FZ4Njs5XoAIfhxU.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FZ4Njs5XoAIfhxU.jpg","url":"https:\/\/t.co\/CxSuZAgl58","display_url":"pic.twitter.com\/CxSuZAgl58","expanded_url":"https:\/\/twitter.com\/KirkDBorne\/status\/1557697431520821249\/photo\/1","type":"photo","sizes":{"medium":{"w":929,"h":1200,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1170,"h":1511,"resize":"fit"},"small":{"w":527,"h":680,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1557697428115136514,"id_str":"1557697428115136514","indices":[250,273],"media_url":"http:\/\/pbs.twimg.com\/media\/FZ4Njs5XoAIfhxU.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FZ4Njs5XoAIfhxU.jpg","url":"https:\/\/t.co\/CxSuZAgl58","display_url":"pic.twitter.com\/CxSuZAgl58","expanded_url":"https:\/\/twitter.com\/KirkDBorne\/status\/1557697431520821249\/photo\/1","type":"photo","sizes":{"medium":{"w":929,"h":1200,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1170,"h":1511,"resize":"fit"},"small":{"w":527,"h":680,"resize":"fit"}}}]},"metadata":{"result_type":"popular","iso_language_code":"en"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":534563976,"id_str":"534563976","name":"Kirk
        Borne","screen_name":"KirkDBorne","location":"Maryland, USA","description":"@dataprime_ai  Data
        Scientist. Freelancer. Global Speaker. Founder\/owner of @LeadershipData.
        Top #BigData #DataScience #AI #IoT #ML Influencer. PhD Astrophysics","url":"https:\/\/t.co\/g46xALu4Eu","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/g46xALu4Eu","expanded_url":"http:\/\/www.linkedin.com\/in\/kirkdborne","display_url":"linkedin.com\/in\/kirkdborne","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":344926,"friends_count":8590,"listed_count":9169,"created_at":"Fri
        Mar 23 16:35:17 +0000 2012","favourites_count":220674,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":159263,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1112733580948635648\/s-8d1avb_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1112733580948635648\/s-8d1avb_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/534563976\/1651617018","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":91,"favorite_count":278,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sun
        Aug 07 22:56:34 +0000 2022","id":1556414023620595713,"id_str":"1556414023620595713","full_text":"100+
        Free #DataScience eBooks (downloadable PDF) for Beginners and for Experts
        \u2014 via @TheInsaneApp \n\u2014\u2014\u2014\u2014\u2014\n#100DaysOfCode
        #BigData #AI #MachineLearning #DeepLearning #Statistics #DataScientists #Python
        #DataMining #DataLiteracy #Rstats #DataViz #NLProc\nhttps:\/\/t.co\/TtASTAWfYG","truncated":[...]
