http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1508513828593672192%2C1508513830372007936%2C1508513831974232077%2C1508513833580699652&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 29 Mar 2022 23:23:13 GMT
      x-transaction: b83c01ccb10a2f1f
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1648596600'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '845'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '223'
      x-connection-hash: 7db1ca93c92957741ce1068f6b53f9f292e0f1802ff4d4aeb65253914f1aeea4
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Mon Mar 28 18:38:18 +0000 2022","id":1508513828593672192,"id_str":"1508513828593672192","full_text":"A
        four tweet thread for an experiment!","truncated":false,"display_text_range":[0,38],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":523216510,"id_str":"523216510","name":"Charlotte
        \ud83d\udc69\u200d\ud83d\udcbb","screen_name":"charliejhadley","location":"Bristol,
        UK","description":"#rstats + #dataviz person \/ All tech is political \/ \ud83c\udff3\ufe0f\u200d\u26a7\ufe0f
        she\/her \/ I do lo-fi data science","url":"https:\/\/t.co\/hLIiJusQ84","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/hLIiJusQ84","expanded_url":"https:\/\/findingyourway.io","display_url":"findingyourway.io","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":1931,"friends_count":2495,"listed_count":89,"created_at":"Tue
        Mar 13 12:45:51 +0000 2012","favourites_count":38165,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":20174,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1323344028235161606\/OtkS4FGd_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1323344028235161606\/OtkS4FGd_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/523216510\/1618762088","profile_image_extensions_alt_text":null,"profile_banner_extensions_alt_text":null,"profile_link_color":"1B95E0","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":2,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Mon
        Mar 28 18:38:18 +0000 2022","id":1508513830372007936,"id_str":"1508513830372007936","full_text":"The
        experiment is good","truncated":false,"display_text_range":[0,22],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":1508513828593672192,"in_reply_to_status_id_str":"1508513828593672192[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?tweet_mode=extended&check=TRUE&user_id=523216510&since_id=1508513828593672192&count=200
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 29 Mar 2022 23:23:14 GMT
      x-transaction: fac4a3d015113d44
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1648596600'
      content-disposition: attachment; filename=json.json
      x-app-rate-limit-limit: '100000'
      x-app-rate-limit-reset: '1648679829'
      x-rate-limit-remaining: '872'
      x-twitter-response-tags: BouncerCompliant
      x-app-rate-limit-remaining: '99946'
      x-response-time: '319'
      x-connection-hash: 7db1ca93c92957741ce1068f6b53f9f292e0f1802ff4d4aeb65253914f1aeea4
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Tue Mar 29 22:58:23 +0000 2022","id":1508941669131030541,"id_str":"1508941669131030541","full_text":"RT
        @christapeterso: remember when james damore emailed all of google that maybe
        women were just bad at computers and then got fired and mad\u2026","truncated":false,"display_tex[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?tweet_mode=extended&check=TRUE&user_id=523216510&since_id=1508513828593672192&count=200&max_id=1508513830372007935
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 29 Mar 2022 23:23:14 GMT
      x-transaction: c361aeb73288bf2b
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1648596600'
      content-disposition: attachment; filename=json.json
      x-app-rate-limit-limit: '100000'
      x-app-rate-limit-reset: '1648679829'
      x-rate-limit-remaining: '871'
      x-twitter-response-tags: BouncerCompliant
      x-app-rate-limit-remaining: '99945'
      x-response-time: '142'
      x-connection-hash: 7db1ca93c92957741ce1068f6b53f9f292e0f1802ff4d4aeb65253914f1aeea4
    body:
      encoding: UTF-8
      file: no
      string: '[]'
  recorded_at: 2022-03-29 23:23:38 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1508513828593672192&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 29 Mar 20[...]
[...]
