http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1508513828593672192%2C1508513830372007936%2C1508513831974232077%2C1508513833580699652&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Mon, 28 Mar 2022 23:13:00 GMT
      status: 200 OK
      x-access-level: read-write-directmessages
      x-connection-hash: 422288bee33eb7d188230323439ea9531a6943d01861eb3ab24ff037745ffd2c
      x-rate-limit-limit: '900'
      x-rate-limit-remaining: '892'
      x-rate-limit-reset: '1648509954'
      x-response-time: '153'
      x-transaction: 0491352f0be5d2ec
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Mon Mar 28 18:38:18 +0000 2022","id":1508513828593672192,"id_str":"1508513828593672192","full_text":"A
        four tweet thread for an experiment!","truncated":false,"display_text_range":[0,38],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":523216510,"id_str":"523216510","name":"Charlotte
        \ud83d\udc69\u200d\ud83d\udcbb","screen_name":"charliejhadley","location":"Bristol,
        UK","description":"#rstats + #dataviz person \/ All tech is political \/ \ud83c\udff3\ufe0f\u200d\u26a7\ufe0f
        she\/her \/ I do lo-fi data science","url":"https:\/\/t.co\/hLIiJusQ84","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/hLIiJusQ84","expanded_url":"https:\/\/findingyourway.io","display_url":"findingyourway.io","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":1932,"friends_count":2496,"listed_count":88,"created_at":"Tue
        Mar 13 12:45:51 +0000 2012","favourites_count":38098,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":20144,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1323344028235161606\/OtkS4FGd_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1323344028235161606\/OtkS4FGd_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/523216510\/1618762088","profile_image_extensions_alt_text":null,"profile_banner_extensions_alt_text":null,"profile_link_color":"1B95E0","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Mon
        Mar 28 18:38:18 +0000 2022","id":1508513830372007936,"id_str":"1508513830372007936","full_text":"The
        experiment is good","truncated":false,"display_text_range":[0,22],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":1508513828593672192,"in_reply_to_status_id_str":"1508513828593672192[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?tweet_mode=extended&check=TRUE&user_id=523216510&since_id=1508513828593672192&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Mon, 28 Mar 2022 23:13:01 GMT
      x-transaction: d95dcb591821d6a4
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1648509954'
      content-disposition: attachment; filename=json.json
      x-app-rate-limit-limit: '100000'
      x-app-rate-limit-reset: '1648584160'
      x-rate-limit-remaining: '895'
      x-twitter-response-tags: BouncerCompliant
      x-app-rate-limit-remaining: '99746'
      x-response-time: '207'
      x-connection-hash: 422288bee33eb7d188230323439ea9531a6943d01861eb3ab24ff037745ffd2c
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Mon Mar 28 21:37:17 +0000 2022","id":1508558870918180868,"id_str":"1508558870918180868","full_text":"RT
        @jathansadowski: I love how we are now at a point\u2014not only in capitalism
        but in manufacturing consent\u2014where the news can just casually s\u2026","truncated":false,"d[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1508513828593672192&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Mon, 28 Mar 20[...]
[...]
