http_interactions:
- request:
    method: get
    uri: https://publish.twitter.com/oembed?url=https%3A%2F%2Ftwitter.com%2Fkearneymw%2Fstatus%2F1087047171306856451
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json; charset=utf-8
      last-modified: Sat, 26 Mar 2022 11:08:50 GMT
      x-connection-hash: a5686b4638ff6ea8372a8917020ddd381e8391200753b7c7d204957872d680cc
      x-response-time: '119'
    body:
      encoding: UTF-8
      file: no
      string: '{"url":"https:\/\/twitter.com\/kearneymw\/status\/1087047171306856451","author_name":"Mike
        Kearney\uD83D\uDCCA\uD83C\uDDFA\uD83C\uDDE6","author_url":"https:\/\/twitter.com\/kearneymw","html":"\u003Cblockquote
        class=\"twitter-tweet\"\u003E\u003Cp lang=\"en\" dir=\"ltr\"\u003ELoving these
        \u003Ca href=\"https:\/\/twitter.com\/hashtag\/rstudioconf?src=hash&amp;ref_src=twsrc%5Etfw\"\u003E#rstudioconf\u003C\/a\u003E
        photos! Thanks \u003Ca href=\"https:\/\/twitter.com\/CMastication?ref_src=twsrc%5Etfw\"\u003E@CMastication\u003C\/a\u003E
        \u003Ca href=\"https:\/\/t.co\/dGD0aMpt6L\"\u003Epic.twitter.com\/dGD0aMpt6L\u003C\/a\u003E\u003C\/p\u003E&mdash;
        Mike Kearney\uD83D\uDCCA\uD83C\uDDFA\uD83C\uDDE6 (@kearneymw) \u003Ca href=\"https:\/\/twitter.com\/kearneymw\/status\/1087047171306856451?ref_src=twsrc%5Etfw\"\u003EJanuary
        20, 2019\u003C\/a\u003E\u003C\/blockquote\u003E\n\u003Cscript async src=\"https:\/\/platform.twitter.com\/widgets.js\"
        charset=\"utf-8\"\u003E\u003C\/script\u003E\n","width":550,"height":null,"type":"rich","cache_age":"3153600000","provider_name":"Twitter","provider_url":"https:\/\/twitter.com","version":"1.0"}'
  recorded_at: 2022-03-26 11:08:50 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
