http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/lookup.json?screen_name=jack
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 09 Mar 2022 00:05:39 GMT
      x-transaction: fac50d85c5d5df07
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1646785239'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '899'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '146'
      x-connection-hash: aa46e8cfc40bc5e118339b12a8935c140825c6923c956b9d38ba9d63e30b584a
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":12,"id_str":"12","name":"jack\u26a1\ufe0f","screen_name":"jack","location":"\ud83c\udf0a","description":"#bitcoin","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":6203193,"friends_count":4548,"listed_count":32262,"created_at":"Tue
        Mar 21 20:50:14 +0000 2006","favourites_count":35439,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":28266,"lang":null,"status":{"created_at":"Mon
        Mar 07 00:32:44 +0000 2022","id":1500630491439026179,"id_str":"1500630491439026179","text":"RT
        @elonmusk: Hopefully, it is now extremely obvious that Europe should restart
        dormant nuclear power stations and increase power output of\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"elonmusk","name":"Elon
        Musk","id":44196397,"id_str":"44196397","indices":[3,12]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Sun
        Mar 06 23:27:00 +0000 2022","id":1500613952031444995,"id_str":"1500613952031444995","text":"Hopefully,
        it is now extremely obvious that Europe should restart dormant nuclear power
        stations and increase power\u2026 https:\/\/t.co\/SjrPRhWtqp","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/SjrPRhWtqp","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1500613952031444995","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":42349,"favorite_count":303224,"favorited":false,"retweeted":false,"lang":"en"},"is_quote_status":false,"retweet_count":42349,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"EBEBEB","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme7\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme7\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1115644092329758721\/AFjOr-K8_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1115644092329758721\/AFjOr-K8_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/12\/1584998840","profile_link_color":"990000","profile_sidebar_border_color":"DFDFDF","profile_sidebar_fill_color":"F3F3F3","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular","withheld_in_countries":[]}]'
  recorded_at: 2022-03-09 00:05:39 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
