http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=947082036019388416&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 26 Mar 2022 11:08:53 GMT
      x-transaction: e8865552d5928845
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1648293830'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '898'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '155'
      x-connection-hash: e6e021bb20774957f8ee78e56109b4359e20d2402124da08c449287e88488b83
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Sat Dec 30 12:28:47 +0000 2017","id":947082036019388416,"id_str":"947082036019388416","full_text":"@ma_salmon
        @hrbrmstr I''m going to keep my eyes out for this one!  Would love to have
        an easy way to embed tweets in Rmd talks!","truncated":false,"display_text_range":[21,126],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"ma_salmon","name":"Ma\u00eblle
        Salmon","id":2865404679,"id_str":"2865404679","indices":[0,10]},{"screen_name":"hrbrmstr","name":"\u0431\u043e\u0411
        \u0420\u0443\u0434\u0438\u0441 \ud83c\uddfa\ud83c\udde6","id":5685812,"id_str":"5685812","indices":[11,20]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":947079998141288449,"in_reply_to_status_id_str":"947079998141288449","in_reply_to_user_id":2865404679,"in_reply_to_user_id_str":"2865404679","in_reply_to_screen_name":"ma_salmon","user":{"id":68583134,"id_str":"68583134","name":"Jeff
        Hollister","screen_name":"jhollist","location":"Rhode Island","description":"#rstats\/lakes\/GIS\/data
        science.  Research ecologist with USEPA.  \n Still a tired parent. Raised
        in KC!  Opinions and tweets here are all my own. he\/him.","url":"https:\/\/t.co\/hRneDG8kRk","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/hRneDG8kRk","expanded_url":"http:\/\/jwhollister.com","display_url":"jwhollister.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":2019,"friends_count":1847,"listed_count":134,"created_at":"Tue
        Aug 25 02:26:17 +0000 2009","favourites_count":38786,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":21679,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1010157779116535808\/ogF9PDOD_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1010157779116535808\/ogF9PDOD_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/68583134\/1504263557","profile_image_extensions_alt_text":null,"profile_banner_extensions_alt_text":null,"profile_link_color":"ABB8C2","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":2,"favorited":false,"retweeted":false,"lang":"en"}]'
  recorded_at: 2022-03-26 11:08:56 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
