http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=r&result_type=mixed&tweet_mode=extended&include_ext_alt_text=true&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 09 Mar 2022 00:05:40 GMT
      x-transaction: b8724e39c1ae8f7e
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '180'
      x-rate-limit-reset: '1646785239'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '179'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '508'
      x-connection-hash: aa46e8cfc40bc5e118339b12a8935c140825c6923c956b9d38ba9d63e30b584a
    body:
      encoding: UTF-8
      file: no
      string: '{"statuses":[{"created_at":"Tue Mar 08 10:00:00 +0000 2022","id":1501135640045441027,"id_str":"1501135640045441027","full_text":"\u25c6\u30b9\u30c8\u30fc\u30ea\u30fc\u30a4\u30d9\u30f3\u30c8\u300cRequiem
        for the Blue\u300d\u958b\u50ac\u4e2d\u25c6\n\n\u6c34\u702c\u3044\u3061\u3054\u5f79
        #\u611b\u7f8e \u3055\u3093 \u30b5\u30a4\u30f3\u5165\u308a\u8272\u7d19\u3092\u62bd\u9078\u30671\u540d\u69d8\u306b\u30d7\u30ec\u30bc\u30f3\u30c8\ud83c\udf81\n\n\u5fdc\u52df\u65b9\u6cd5\n1.@heavenburnsred
        \u3092\u30d5\u30a9\u30ed\u30fc \n2.\u3053\u306e\u6295\u7a3f\u3092RT\n\u5fdc\u52df\u898f\u7d04
        \u5fc5\u8aad\nhttps:\/\/t.co\/EFeGhPhAwX\n\n\u25bc#\u30d8\u30d6\u30d0\u30f3
        \u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u306f\u3053\u3061\u3089\nhttps:\/\/t.co\/jN4XTm0suZ
        https:\/\/t.co\/nvoa0raqaU","truncated":false,"display_text_range":[0,189],"entities":{"hashtags":[{"text":"\u611b\u7f8e","indices":[45,48]},{"text":"\u30d8\u30d6\u30d0\u30f3","indices":[149,154]}],"symbols":[],"user_mentions":[{"screen_name":"heavenburnsred","name":"\u30d8\u30d6\u30f3\u30d0\u30fc\u30f3\u30ba\u30ec\u30c3\u30c9@2\u670810\u65e5\u6b63\u5f0f\u30ea\u30ea\u30fc\u30b9\u958b\u59cb","id":1186104650304348160,"id_str":"1186104650304348160","indices":[82,97]}],"urls":[{"url":"https:\/\/t.co\/EFeGhPhAwX","expanded_url":"https:\/\/www.wfs.games\/campaign\/m03icg08.html","display_url":"wfs.games\/campaign\/m03ic\u2026","indices":[123,146]},{"url":"https:\/\/t.co\/jN4XTm0suZ","expanded_url":"https:\/\/heaven-burns-red.com\/r\/tw.html","display_url":"heaven-burns-red.com\/r\/tw.html","indices":[166,189]}],"media":[{"id":1501069297535184899,"id_str":"1501069297535184899","indices":[190,213],"media_url":"http:\/\/pbs.twimg.com\/media\/FNTekrbUcAMFRkK.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FNTekrbUcAMFRkK.jpg","url":"https:\/\/t.co\/nvoa0raqaU","display_url":"pic.twitter.com\/nvoa0raqaU","expanded_url":"https:\/\/twitter.com\/heavenburnsred\/status\/1501135640045441027\/photo\/1","type":"photo","sizes":{"large":{"w":1280,"h":720,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":675,"resize":"fit"},"small":{"w":680,"h":383,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1501069297535184899,"id_str":"1501069297535184899","indices":[190,213],"media_url":"http:\/\/pbs.twimg.com\/media\/FNTekrbUcAMFRkK.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FNTekrbUcAMFRkK.jpg","url":"https:\/\/t.co\/nvoa0raqaU","display_url":"pic.twitter.com\/nvoa0raqaU","expanded_url":"https:\/\/twitter.com\/heavenburnsred\/status\/1501135640045441027\/photo\/1","type":"photo","sizes":{"large":{"w":1280,"h":720,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":675,"resize":"fit"},"small":{"w":680,"h":383,"resize":"fit"}}}]},"metadata":{"result_type":"popular","iso_language_code":"ja"},"source":"\u003ca
        href=\"https:\/\/ads.twitter.com\" rel=\"nofollow\"\u003eTwitter Ads\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1186104650304348160,"id_str":"1186104650304348160","name":"\u30d8\u30d6\u30f3\u30d0\u30fc\u30f3\u30ba\u30ec\u30c3\u30c9@2\u670810\u65e5\u6b63\u5f0f\u30ea\u30ea\u30fc\u30b9\u958b\u59cb","screen_name":"heavenburnsred","location":"","description":"2022\u5e742\u670810\u65e5(\u6728)\u6b63\u5f0f\u30ea\u30ea\u30fc\u30b9\u958b\u59cb\uff01\nWright
        Flyer Studios \u00d7 Key\u304c\u8d08\u308b\u3001\u9ebb\u679d \u51c6 15\u5e74\u3076\u308a\u306e\u5b8c\u5168\u65b0\u4f5c\u30b2\u30fc\u30e0\u300e\u30d8\u30d6\u30f3\u30d0\u30fc\u30f3\u30ba\u30ec\u30c3\u30c9\u300f\u306e\u516c\u5f0fTwitter\u3067\u3059\u3002\u516c\u5f0f\u30cf\u30c3\u30b7\u30e5\u30bf\u30b0\u2192
        #\u30d8\u30d6\u30d0\u30f3 \n\u203b\u30ea\u30d7\u30e9\u30a4\u30fbDM\u3078\u306e\u8fd4\u4fe1\u7b49\u306f\u884c\u3044\u307e\u305b\u3093\u306e\u3067\u3054\u4e86\u627f\u304f\u3060\u3055\u3044","url":"https:\/\/t.co\/GqiTCVw9LU","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/GqiTCVw9LU","expanded_url":"https:\/\/heaven-burns-red.com\/","display_url":"heaven-burns-red.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":345848,"friends_count":57,"listed_count":948,"created_at":"Mon
        Oct 21 02:19:34 +0000 2019","favourites_count":47,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":981,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1453700508548407303\/SRINNOj3_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1453700508548407303\/SRINNOj3_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1186104650304348160\/1644459451","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":12837,"favorite_count":4746,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"ja"},{"created_at":"Mon
        Mar 07 03:43:22 +0000 2022","id":1500678466718642176,"id_str":"1500678466718642176","full_text":"Vamos
        ser sinceros? Jade faz R$ 1,5 milh\u00e3o tranquilamente aqui fora. Ent\u00e3o,
        ela pode ajuda institu\u00e7\u00e3o de caridade sempre. Falar isso para evitar
        elimina\u00e7\u00e3o n\u00e3o \u00e9 caridade, \u00e9 apela\u00e7\u00e3o,
        apenas. Feio demais. #bbb22","truncated":false,"display_text_range":[0,211],"entities"[...]
