http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1461776330584956929&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Tue, 08 Mar 2022 23:00:31 GMT
      status: 200 OK
      x-access-level: read-write-directmessages
      x-connection-hash: 0643f01ea277df5581e59c785d69221030dd90ae1e7bcbd1cc38be547decec01
      x-rate-limit-limit: '900'
      x-rate-limit-remaining: '899'
      x-rate-limit-reset: '1646781331'
      x-response-time: '202'
      x-transaction: eac99d1d81f41a99
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Fri Nov 19 19:20:10 +0000 2021","id":1461776330584956929,"id_str":"1461776330584956929","full_text":"More
        perplexity. https:\/\/t.co\/KfdNde8aPv","truncated":false,"display_text_range":[0,16],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1461776315787403271,"id_str":"1461776315787403271","indices":[17,40],"media_url":"http:\/\/pbs.twimg.com\/media\/FElF0HuWYAc1pp-.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FElF0HuWYAc1pp-.jpg","url":"https:\/\/t.co\/KfdNde8aPv","display_url":"pic.twitter.com\/KfdNde8aPv","expanded_url":"https:\/\/twitter.com\/ClausWilke\/status\/1461776330584956929\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":1200,"resize":"fit"},"large":{"w":1352,"h":1352,"resize":"fit"},"small":{"w":680,"h":680,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1461776315787403271,"id_str":"1461776315787403271","indices":[17,40],"media_url":"http:\/\/pbs.twimg.com\/media\/FElF0HuWYAc1pp-.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FElF0HuWYAc1pp-.jpg","url":"https:\/\/t.co\/KfdNde8aPv","display_url":"pic.twitter.com\/KfdNde8aPv","expanded_url":"https:\/\/twitter.com\/ClausWilke\/status\/1461776330584956929\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":1200,"resize":"fit"},"large":{"w":1352,"h":1352,"resize":"fit"},"small":{"w":680,"h":680,"resize":"fit"}},"ext_alt_text":null}]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":1461774104609054725,"in_reply_to_status_id_str":"1461774104609054725","in_reply_to_user_id":1679260675,"in_reply_to_user_id_str":"1679260675","in_reply_to_screen_name":"ClausWilke","user":{"id":1679260675,"id_str":"1679260675","name":"Claus
        Wilke","screen_name":"ClausWilke","location":"Austin, TX","description":"Academic,
        currently exploring generative art | he, him | https:\/\/t.co\/qoZIk5WtE6
        | Opinions are my own and do not represent UT Austin.","url":"https:\/\/t.co\/tnsV2pcUJA","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/tnsV2pcUJA","expanded_url":"https:\/\/clauswilke.com\/art","display_url":"clauswilke.com\/art","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/qoZIk5WtE6","expanded_url":"http:\/\/clauswilke.com\/art\/links","display_url":"clauswilke.com\/art\/links","indices":[57,80]}]}},"protected":false,"followers_count":19454,"friends_count":708,"listed_count":465,"created_at":"Sat
        Aug 17 22:01:20 +0000 2013","favourites_count":483,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":18325,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1478958145816965121\/RkLwRXwM_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1478958145816965121\/RkLwRXwM_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1679260675\/1640566250","profile_image_extensions_alt_text":null,"profile_banner_extensions_alt_text":null,"profile_link_color":"3B94D9","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":17,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}]'
  recorded_at: 2022-03-08 23:00:59 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?tweet_mode=extended&check=TRUE&user_id=1679260675&since_id=1461776330584956928&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 08 Mar 2022 23:00:32 GMT
      x-transaction: 425a3f0d3e4126d6
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1646781332'
      content-disposition: attachment; filename=json.json
      x-app-rate-limit-limit: '100000'
      x-app-rate-limit-reset: '1646781453'
      x-rate-limit-remaining: '899'
      x-twitter-response-tags: BouncerCompliant
      x-app-rate-limit-remaining: '99961'
      x-response-time: '358'
      x-connection-hash: 0643f01ea277df5581e59c785d69221030dd90ae1e7bcbd1cc38be547decec01
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Tue Mar 08 20:26:58 +0000 2022","id":1501293417980063746,"id_str":"1501293417980063746","full_text":"@tylermorganwall
        @researchremora And now I think I also know what the title of the blogpost
        will be...","truncated":false,"display_text_range":[33,102],"entities":{"hashtags":[][...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?tweet_mode=extended&check=TRUE&user_id=1679260675&since_id=1461776330584956928&count=100&max_id=1495576256053747711
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?tweet_mode=extended&check=TRUE&user_id=1679260675&since_id=1461776330584956928&count=100&max_id=1492165444790370303
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 08 Mar 2022 23:00:38 GMT
      x-transaction: 1c0090cecafddbae
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1646781332'
      content-disposition: attachment; filename=json.json
      x-app-rate-limit-limit: '100000'
      x-app-rate-limit-reset: '1646781453'
      x-rate-limit-remaining: '897'
      x-twitter-response-tags: BouncerCompliant
      x-app-rate-limit-remaining: '99959'
      x-response-time: '469'
      x-connection-hash: 0643f01ea277df5581e59c785d69221030dd90ae1e7bcbd1cc38be547decec01
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Fri Feb 11 15:44:12 +0000 2022","id":1492162560174526467,"id_str":"1492162560174526467","full_text":"Testing
        in the sandbox.\n#fxhash #creativecoding #digitalart https:\/\/t.co\/GvPn7HSUxZ","truncated":false,"display_text_range":[0,59],"entities":{"hashtags":[{"text":"fxhash","indices":[24,31]},{"text":"creativecoding","indices":[32,47]},{"text":"digitalart","indices":[48,59]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1492162425612869641,"id_str":"1492162425612869641","indices":[60,83],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1492162425612869641\/pu\/img\/dbKjmWPAuJNC_y2Q.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1492162425612869641\/pu\/img\/dbKjmWPAuJNC_y2Q.jpg","url":"https:\/\/t.co\/GvPn7HSUxZ","[...]
