http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1461776330584956929&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Mon, 28 Mar 2022 23:15:24 GMT
      status: 200 OK
      x-access-level: read-write-directmessages
      x-connection-hash: 68527262c5f523e3e4f71eb19afcfee51013273f9cb0a48d0068199c0b055309
      x-rate-limit-limit: '900'
      x-rate-limit-remaining: '885'
      x-rate-limit-reset: '1648509954'
      x-response-time: '131'
      x-transaction: 6cb508e47c602daa
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Fri Nov 19 19:20:10 +0000 2021","id":1461776330584956929,"id_str":"1461776330584956929","full_text":"More
        perplexity. https:\/\/t.co\/KfdNde8aPv","truncated":false,"display_text_range":[0,16],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1461776315787403271,"id_str":"1461776315787403271","indices":[17,40],"media_url":"http:\/\/pbs.twimg.com\/media\/FElF0HuWYAc1pp-.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FElF0HuWYAc1pp-.jpg","url":"https:\/\/t.co\/KfdNde8aPv","display_url":"pic.twitter.com\/KfdNde8aPv","expanded_url":"https:\/\/twitter.com\/ClausWilke\/status\/1461776330584956929\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":1200,"resize":"fit"},"large":{"w":1352,"h":1352,"resize":"fit"},"small":{"w":680,"h":680,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1461776315787403271,"id_str":"1461776315787403271","indices":[17,40],"media_url":"http:\/\/pbs.twimg.com\/media\/FElF0HuWYAc1pp-.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FElF0HuWYAc1pp-.jpg","url":"https:\/\/t.co\/KfdNde8aPv","display_url":"pic.twitter.com\/KfdNde8aPv","expanded_url":"https:\/\/twitter.com\/ClausWilke\/status\/1461776330584956929\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":1200,"resize":"fit"},"large":{"w":1352,"h":1352,"resize":"fit"},"small":{"w":680,"h":680,"resize":"fit"}},"ext_alt_text":null}]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":1461774104609054725,"in_reply_to_status_id_str":"1461774104609054725","in_reply_to_user_id":1679260675,"in_reply_to_user_id_str":"1679260675","in_reply_to_screen_name":"ClausWilke","user":{"id":1679260675,"id_str":"1679260675","name":"Claus
        Wilke","screen_name":"ClausWilke","location":"Austin, TX","description":"Academic,
        currently exploring generative art | he, him | https:\/\/t.co\/qoZIk5WtE6
        | Opinions are my own and do not represent UT Austin.","url":"https:\/\/t.co\/tnsV2pcUJA","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/tnsV2pcUJA","expanded_url":"https:\/\/clauswilke.com\/art","display_url":"clauswilke.com\/art","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/qoZIk5WtE6","expanded_url":"http:\/\/clauswilke.com\/art\/links","display_url":"clauswilke.com\/art\/links","indices":[57,80]}]}},"protected":false,"followers_count":19464,"friends_count":726,"listed_count":471,"created_at":"Sat
        Aug 17 22:01:20 +0000 2013","favourites_count":517,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":18453,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1478958145816965121\/RkLwRXwM_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1478958145816965121\/RkLwRXwM_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1679260675\/1640566250","profile_image_extensions_alt_text":null,"profile_banner_extensions_alt_text":null,"profile_link_color":"3B94D9","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":17,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}]'
  recorded_at: 2022-03-28 23:15:27 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?tweet_mode=extended&check=TRUE&user_id=1679260675&since_id=1461776330584956929&count=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Mon, 28 Mar 2022 23:15:25 GMT
      x-transaction: dcac23362ed52e58
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '900'
      x-rate-limit-reset: '1648509954'
      content-disposition: attachment; filename=json.json
      x-app-rate-limit-limit: '100000'
      x-app-rate-limit-reset: '1648584160'
      x-rate-limit-remaining: '891'
      x-twitter-response-tags: BouncerCompliant
      x-app-rate-limit-remaining: '99742'
      x-response-time: '340'
      x-connection-hash: 68527262c5f523e3e4f71eb19afcfee51013273f9cb0a48d0068199c0b055309
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Mon Mar 28 16:41:34 +0000 2022","id":1508484454720888837,"id_str":"1508484454720888837","full_text":"For
        example, my two collections \"Incomplete Convergence\" and \"Voxelsne\" were
        directly derived from this code. There are infinitely many ways to visualize
        t-SNE outpu[...]
