http_interactions:
- request:
    method: post
    uri: https://upload.twitter.com/1.1/media/upload.json
    body:
      encoding: ''
      string: media=list(path = "/home/lluis/Documents/Projects/rtweet/tests/testthat/tweet.gif",
        type = "image/gif")
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Sat, 19 Mar 2022 12:36:11 GMT
      status: 200 OK
      x-access-level: read-write-directmessages
      x-connection-hash: 16c612b7fccdc1fda7f671b0e2f75367076213e82a113d567529c60ab196ec14
      x-rate-limit-limit: '415'
      x-rate-limit-remaining: '414'
      x-rate-limit-reset: '1647696971'
      x-response-time: '295'
      x-transaction: 48132ecbb945f182
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '{"media_id":1505161210009903104,"media_id_string":"1505161210009903104","size":9477,"expires_after_secs":86400,"image":{"image_type":"image\/gif","w":1200,"h":1200}}'
  recorded_at: 2022-03-19 12:36:11 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
