http_interactions:
- request:
    method: post
    uri: https://upload.twitter.com/1.1/media/upload.json
    body:
      encoding: ''
      string: media=list(path = "/home/lluis/Documents/Projects/rtweet/tests/testthat/tweet.gif",
        type = "image/gif")
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Sat, 19 Mar 2022 12:36:14 GMT
      x-transaction: 1e3c672a02f988c1
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '415'
      x-rate-limit-reset: '1647696971'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '412'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '274'
      x-connection-hash: 16c612b7fccdc1fda7f671b0e2f75367076213e82a113d567529c60ab196ec14
    body:
      encoding: UTF-8
      file: no
      string: '{"media_id":1505161223280762889,"media_id_string":"1505161223280762889","size":9477,"expires_after_secs":86400,"image":{"image_type":"image\/gif","w":1200,"h":1200}}'
  recorded_at: 2022-03-19 12:36:15 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: post
    uri: https://upload.twitter.com/1.1/media/metadata/create.json
    body:
      encoding: ''
      string: '{"media_id":"1505161223280762889","alt_text":{"text":"A bird tweeting"}}'
    headers:
      Content-Type: application/json
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: text/html;charset=utf-8
      last-modified: Sat, 19 Mar 2022 12:36:15 GMT
      x-transaction: 0f4278c2fc101c4d
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '2000'
      x-rate-limit-reset: '1647696975'
      x-rate-limit-remaining: '1999'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '116'
      x-connection-hash: 16c612b7fccdc1fda7f671b0e2f75367076213e82a113d567529c60ab196ec14
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2022-03-19 12:36:15 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
