.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: #17545a;
    color: #fff;
}

.navbar-default {
  background-color: #57949a;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
