@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:700');
@import url('//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack-subset.css');

body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-family: Lato, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-weight: 700;
}

pre, code {
  font-family: Hack, Monaco, Menlo, Inconsolata, monospace;
}
