@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,600,600i');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

/* Sticker footer */
body > .container {
  display: flex;
  padding-top: 60px;
  min-height: calc(100vh);
  flex-direction: column;
}

body > .container .row {
    flex: 1;
}

body {
    line-height: 1.65;
}
footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
  color: #666;
  display: flex;
}
footer p {
  margin-bottom: 0;
}
footer div {
  flex: 1;
}
footer .pkgdown {
  text-align: right;
}
footer p {
  margin-bottom: 0;
}

img.icon {
  float: right;
}

img {
  max-width: 100%;
}

/* Section anchors ---------------------------------*/

a.anchor {
  margin-left: -30px;
  display:inline-block;
  width: 30px;
  height: 30px;
  visibility: hidden;

  background-image: url(./link.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
}

.hasAnchor:hover a.anchor {
  visibility: visible;
}

@media (max-width: 767px) {
  .hasAnchor:hover a.anchor {
    visibility: hidden;
  }
}


/* Fixes for fixed navbar --------------------------*/

.contents h1, .contents h2, .contents h3, .contents h4 {
  padding-top: 60px;
  margin-top: -60px;
}

/* Static header placement on mobile devices */
@media (max-width: 767px) {
  .navbar-fixed-top {
    position: absolute;
  }
  .navbar {
    padding: 0;
  }
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', Helvetica;
    font-weight: 400;
    color: #222;
}

h1 {font-size: 2.4em;}
h2 {font-size: 2.2em;}
h3 {font-size: 2.0em;}
h4 {font-size: 1.8em;}

/* Sidebar --------------------------*/

#sidebar {
  margin-top: 30px;
}
#sidebar h2 {
  font-size: 1.5em;
  margin-top: 1em;
}

#sidebar h2:first-child {
  margin-top: 0;
}

#sidebar .list-unstyled li {
  margin-bottom: 0.5em;
}

/* Reference index & topics ----------------------------------------------- */

.ref-index th {font-weight: normal;}
.ref-index h2 {font-size: 20px;}

.ref-index td {vertical-align: top;}
.ref-index .alias {width: 40%;}
.ref-index .title {width: 60%;}

.ref-index .alias {width: 40%;}
.ref-index .title {width: 60%;}

.ref-arguments th {text-align: right; padding-right: 10px;}
.ref-arguments th, .ref-arguments td {vertical-align: top;}
.ref-arguments .name {width: 20%;}
.ref-arguments .desc {width: 80%;}

/* Nice scrolling for wide elements --------------------------------------- */

table {
  display: block;
  overflow: auto;
}

/* Syntax highlighting ---------------------------------------------------- */

pre {
  word-wrap: normal;
  word-break: normal;
  border: 1px solid #eee;
}

pre, code {
  background-color: #f8f8f8;
  color: #333;
  line-height: 1.4;
}

pre .img {
  margin: 5px 0;
}

pre .img img {
  background-color: #fff;
  display: block;
  height: auto;
}

code a, pre a {
  color: #1858c5;
}

.fl      {color: #11b;}
.fu      {color: #000;} /* function */
.ch,.st  {color: #060;} /* string */
.kw      {color: #039;} /* keyword */
.co      {color: #888;} /* comment */
.dt      {color: #a60;}
.message { color: black;   font-weight: bolder;}
.error   { color: orange;  font-weight: bolder;}
.warning { color: #506; font-weight: bolder;}
.sourceCode { color: #444; }

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #fbfbfb;
}

.navbar-default {
    background-color: #fbfbfb;
    font-family: 'Roboto';
}
.navbar-default .navbar-brand {
  color: #444;
}
.navbar-default .navbar-nav>li>a {
  color: #444;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover {
    color: #820;
}
a {
    color: #06d;
}
a:hover {
    color: #c22;
}
.navbar {
    box-shadow: 0 0px 1px rgba(0,0,0,0.3);
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover {
    background: #ddd;
    color: #000;
    border-radius: 5px;
}
